<div class="panel panel-default">
    <div class="panel-body">
        <div class="row">
            <div class="text-center">
                <h1>Search: Localities</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="row" data-ng-if="showAdditionalCriteria">
                    <label class="control-label col-md-2">ID</label>
                <div class="col-md-5">
                        <selectexact></selectexact>
                </div>
                <div class="col-md-5">
                    <input type="text" ng-model="sampleSearch.id.name" class="form-control"/>
                </div>
                </div>
                <div class="row">
                    <label class="control-label col-md-2">Locality</label>
                    <div class="col-md-5">
                        <selectdefault></selectdefault>
                    </div>
                    <div class="col-md-5">
                        <input type="text" ng-model="localitySearch.locality.name" class="form-control"/>
                    </div>
                </div>
                <div class="row">
                    <label class="control-label col-md-2">Number</label>
                    <div class="col-md-5">
                        <selectdefault></selectdefault>
                    </div>
                    <div class="col-md-5">
                        <input type="text" ng-model="localitySearch.number.name" class="form-control"/>
                    </div>
                </div>
                <div class="row">
                    <label class="control-label col-md-2">Country</label>
                    <div class="col-md-5">
                        <selectdefault></selectdefault>
                    </div>
                    <div class="col-md-5">
                        <input type="text" ng-model="localitySearch.country.name" class="form-control"/>
                    </div>
                </div>
                <div class="row">
                    <label class="control-label col-md-2">Admin. unit</label>
                    <div class="col-md-5">
                        <selectdefault></selectdefault>
                    </div>
                    <div class="col-md-5">
                        <input type="text" ng-model="localitySearch.adminUnit.name" class="form-control"/>
                    </div>
                </div>
                <div class="row" data-ng-if="showAdditionalCriteria">
                    <label class="control-label col-md-2">Latitude (deg. deg.)</label>
                    <div class="col-md-5">
                        <selectexact></selectexact>
                    </div>
                    <div class="col-md-5">
                        <input type="text" ng-model="localitySearch.latitude.name" class="form-control"/>
                    </div>
                </div>
                <div class="row" data-ng-if="showAdditionalCriteria">
                    <label class="control-label col-md-2">Longitude  (deg. deg.)</label>
                    <div class="col-md-5">
                        <selectexact></selectexact>
                    </div>
                    <div class="col-md-5">
                        <input type="text" ng-model="localitySearch.longitude.name" class="form-control"/>
                    </div>
                </div>
                <div class="row" data-ng-if="showAdditionalCriteria">
                    <label class="control-label col-md-2">Vertical extent (m)</label>
                    <div class="col-md-5">
                        <selectexact></selectexact>
                    </div>
                    <div class="col-md-5">
                        <input type="text" ng-model="localitySearch.verticalExtent.name" class="form-control"/>
                    </div>
                </div>
                <div class="row">
                    <label class="control-label col-md-2">Stratigraphy</label>
                    <div class="col-md-5">
                        <selecthierarchy></selecthierarchy>
                    </div>
                    <div class="col-md-5">
                        <input type="text" ng-model="localitySearch.stratigraphy.name" class="form-control"/>
                    </div>
                </div>
                <div class="row">
                <label class="control-label col-md-2">Reference</label>
                <div class="col-md-5">
                    <selectdefault></selectdefault>
                </div>
                <div class="col-md-5">
                    <input type="text" ng-model="localitySearch.reference.name" class="form-control"/>
                </div>
                </div>
                <div class="row">
                    <label class="control-label col-md-2">MA ID</label>
                    <div class="col-md-5">
                        <selectexact></selectexact>
                    </div>
                    <div class="col-md-5">
                        <input type="text" ng-model="localitySearch.maId.name" class="form-control"/>
                    </div>
                </div>
                <div class="row">
                    <a href="" data-ng-show="!showAdditionalCriteria" data-ng-click="showAdditionalCriteria = true">Show additional criteria</a>
                    <a href="" data-ng-show="showAdditionalCriteria" data-ng-click="showAdditionalCriteria = false">Hide additional criteria</a>
                </div>
                <div class="row">
                    <label class="control-label col-md-2">Sort by:</label>
                    <div class="col-md-5">
                        <select class="col-md-4 form-control"
                                data-ng-model="localitySearch.content.lookUpType"
                                data-ng-options="option.name for option in sortbyOptions track by option.value">
                            <option value="">-- Choose --</option>
                        </select>
                    </div>
                    <div class="col-md-5">
                        <ascdesc></ascdesc>
                    </div>
                    <div class="row">
                        <div class="col-md-5">
                            <label>
                                Show map: <input type="checkbox" ng-model="showMap"/>
                            </label>
                        </div>
                    </div>
                    <div class="row geo-section-row no-border">
                        <button class="btn btn-default pull-right" data-ng-click="defaultSearch()"><i class="glyphicon glyphicon-erase"></i> Reset form</button>
                        <button class="btn btn-default pull-right" data-ng-click="imageSearch()"><i class="glyphicon glyphicon-picture"></i> Search images</button>
                        <button class="btn btn-default pull-right" data-ng-click="search()">
                            <i class="glyphicon glyphicon-search"></i> Send query</button>
                    </div>
                </div>
            </div>
                <div class="col-md-5">
                    SEARCH TIPS:

                    First select the base table (specimens, samples, localities, references etc);
                    Specify one or more criteria; NB! search is case insensitive; for text fields partial matches are returned by default (for instance, search 'asap' in specimen name field will find 'Asaphus sp.' as well as 'Asaphus expansus'); for stratigraphy and classification the search is hierarchical by default, for number fields exact maches will be searched if user does not specify otherwise;
                    To show a map where available, tick the appropriate checkbox;
                    To show detailed information follow the links in the results table.
                </div>
        </div>
        <div class="row">
            <loading></loading>
            <div class="col-lg-4">
                <div class="row geo-list-info ">
                    <div class="col-md-6 text-right">
                        <p class="amount">Kokku: {{response.count}}</p>
                    </div>
                </div>
                <div class="text-right">
                    <uib-pagination boundary-links="true" ng-change="search()" items-per-page="pageSize" max-size="sampleSearch.maxSize" rotate="false" total-items="totalItems" ng-model="sampleSearch.page" class="pagination-sm" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></uib-pagination>
                </div>
                <table class="table table-bordered table-hover">
                    <thead>
                    <tr>
                    <tr>
                        <th>ID</th>
                        <th>Locality</th>
                        <th>Country</th>
                        <th>Latitude (dec. deg.)</th>
                        <th>Longitude (dec. deg.)</th>
                        <th>Vertical extent (m)</th>
                        <th>Stratigraphy base</th>
                        <th>Stratigraphy top</th>
                        <th>Drillcore</th>
                        <th>Images</th>
                        <th>Map</th>
                        <th>MA ID</th>
                    </tr>
                    </tr>
                    </thead>
                    <tbody>
                    <tr style="cursor: pointer; " data-ng-repeat="entity in response.result">
                        <td>{{entity.id}}</td>
                        <td>{{entity.locality}}</td>
                        <td>{{entity.countryEn}}</td>
                        <td>{{entity.latitude}}</td>
                        <td>{{entity.longitude}}</td>
                        <td>???</td>
                        <td>{{entity.stratigraphBaseEng}}</td>
                        <td>{{entity.stratigraphTopEng}}</td>
                        <td>???</td>
                        <td>???</td>
                        <td>???</td>
                        <td>???</td>
                    </tr>
                    </tbody>
                </table>
                <div class="text-right">
                    <uib-pagination boundary-links="true" ng-change="search()" items-per-page="pageSize" max-size="sampleSearch.maxSize" rotate="false" total-items="totalItems" ng-model="sampleSearch.page" class="pagination-sm" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></uib-pagination>
                </div>
            </div>
        </div>
    </div>
</div>