<script type="text/ng-template" id="localitySearchHelp">
    <div class="search-help-popup">
        <p>First select the base table (specimens, samples, localities, references etc);
            Specify one or more criteria; NB! search is case insensitive; for text fields partial matches are returned by default (for instance, search 'asap' in specimen name field will find 'Asaphus sp.' as well as 'Asaphus expansus'); for stratigraphy and classification the search is hierarchical by default, for number fields exact maches will be searched if user does not specify otherwise;
            To show a map where available, tick the appropriate checkbox;
            To show detailed information follow the links in the results table.</p>
    </div>
</script>
<div class="panel panel-default">
    <div class="panel-body">
        <div class="row">
            <div class="text-center">
                <h1>Search: Localities</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3">
                <div class="row margin-top-10 margin-left-0">
                    <button class="btn btn-info btn-secondary secondary-search-btn" id="secondarySearchBtn" data-ng-click="search()">
                        <i class="glyphicon glyphicon-search"></i> {{ 'SEARCH.SEND_QUERY'| translate }}
                    </button>
                    <button class="btn btn-default btn-secondary reset-search-btn noBorderRadiusBtn" data-ng-click="searchDefault()">
                        <i class="glyphicon glyphicon-erase"></i>{{ 'SEARCH.RESET_FORM'| translate }}
                    </button>
                    <button uib-popover-template="'localitySearchHelp'"
                            popover-trigger="'focus'"
                            popover-placement="'right-bottom'"
                            popover-title="Search tips"
                            type="button"
                            class="btn btn-default noBorderRadiusBtn">
                        <i class="glyphicon glyphicon-question-sign"></i>
                    </button>
                </div>
                <div class="row margin-top-10" >
                    <div class="row">
                        <div class="checkbox">
                            <label>
                                <input type="checkbox"
                                       value="showMap"
                                       data-ng-click="showMap()">
                                <span class="cr"><i class="cr-icon glyphicon glyphicon-ok"></i></span>
                                {{ 'SEARCH.SHOW_MAP' | translate }}
                            </label>
                        </div>
                    </div>
                </div>

                <div class="row" >
                    <div class="panel-heading searchGroupHeading" ng-click="isInstitutionsCollapsed = !isInstitutionsCollapsed">
                        <h4 class="panel-title">
                            {{ 'SEARCH.INSTITUTIONS'| translate }}
                            <section-opened-icon is-opened="isInstitutionsCollapsed"/>
                        </h4>
                    </div>
                    <div uib-collapse="isInstitutionsCollapsed" class="well well-lg">
                        <div class="row searchCriterion">
                            <div class="checkbox" data-ng-repeat="state in departments">
                                <label>
                                    <input type="checkbox"
                                           value="{{state.code}}"
                                           data-ng-checked="searchParameters.dbs.indexOf(state.code) > -1"
                                           data-ng-click="toggle(state.code)">
                                    <span class="cr"><i class="cr-icon glyphicon glyphicon-ok"></i></span>
                                    {{state.label}}
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row" >
                    <div class="panel-heading searchGroupHeading" ng-click="isIdentifierFieldsCollapsed = !isIdentifierFieldsCollapsed">
                        <h4 class="panel-title">
                            {{ 'SEARCH.ANALYSES.IDENTIFIERS'| translate }}
                            <section-opened-icon is-opened="isIdentifierFieldsCollapsed"/>
                        </h4>
                    </div>
                    <div uib-collapse="isIdentifierFieldsCollapsed">
                        <div class="well well-lg">
                            <div class="row searchCriterion">
                                <div class="col-md-12 searchCriterionTitle medium-padding">
                                    <b>ID</b>
                                    <selectexact custom-css="searchCriterionType" ng-model = "searchParameters.id.lookUpType"></selectexact>
                                </div>
                                <div class="col-md-12 medium-padding">
                                    <input type="text" ng-model="searchParameters.id.name" class="form-control"/>
                                </div>
                            </div>
                            <div class="row searchCriterion">
                                <div class="col-md-12 medium-padding">
                                    <b>Number</b>
                                    <selectdefault custom-css="searchCriterionType" ng-model = "searchParameters.number.lookUpType"></selectdefault>
                                </div>
                                <div class="col-md-12 medium-padding">
                                    <input type="text" ng-model="searchParameters.number.name" class="form-control"/>
                                </div>
                            </div>
                            <div class="row searchCriterion">
                                <div class="col-md-12 medium-padding">
                                    <b>Stratigraphy</b>
                                    <selecthierarchy custom-css="searchCriterionType" ng-model = "searchParameters.stratigraphy.lookUpType"  ng-disabled="true"></selecthierarchy>
                                </div>
                                <div class="col-md-12 medium-padding">
                                    <input type="text" ng-model="searchParameters.stratigraphy.name" class="form-control"/>
                                </div>
                            </div>
                            <div class="row searchCriterion">
                                <div class="col-md-12 medium-padding">
                                    <b>Reference</b>
                                    <selectdefault custom-css="searchCriterionType" ng-model = "searchParameters.reference.lookUpType"></selectdefault>
                                </div>
                                <div class="col-md-12 medium-padding">
                                    <input type="text" ng-model="searchParameters.reference.name" class="form-control" data-ng-disabled="true"/>
                                </div>
                            </div>
                            <div class="row searchCriterion">
                                <div class="col-md-12 medium-padding">
                                    <b>MA ID</b>
                                    <selectexact custom-css="searchCriterionType" ng-model = "searchParameters.maid.lookUpType"></selectexact>
                                </div>
                                <div class="col-md-12 medium-padding">
                                    <input type="text" ng-model="searchParameters.maId.name" class="form-control" data-ng-disabled="true"/>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="row">
                    <div class="panel-heading searchGroupHeading" ng-click="isLocationFieldsCollapsed = !isLocationFieldsCollapsed">
                        <h4 class="panel-title">
                            {{ 'SEARCH.ANALYSES.LOCATION.LOCATION'| translate }}
                            <section-opened-icon is-opened="isLocationFieldsCollapsed"/>
                        </h4>
                    </div>
                    <div uib-collapse="isLocationFieldsCollapsed">
                        <div class="well well-lg">
                            <div class="row searchCriterion">
                                <div class="col-md-12 medium-padding">
                                    <b>Locality</b>
                                    <selectdefault custom-css="searchCriterionType" ng-model="searchParameters.locality.type"></selectdefault>
                                </div>
                                <div class="col-md-12 medium-padding">
                                    <input type="text" ng-model="searchParameters.locality.value" class="form-control"/>
                                </div>
                            </div>
                            <div class="row searchCriterion">
                                <div class="col-md-12 medium-padding">
                                    <b>Country</b>
                                    <selectdefault custom-css="searchCriterionType" ng-model="searchParameters.country.type"></selectdefault>
                                </div>
                                <div class="col-md-12 medium-padding">
                                    <input type="text" ng-model="searchParameters.country.value" class="form-control"/>
                                </div>
                            </div>
                            <div class="row searchCriterion">
                                <div class="col-md-12 medium-padding">
                                    <b>Admin. unit</b>
                                    <selectdefault custom-css="searchCriterionType" ng-model = "searchParameters.adminUnit.lookUpType"></selectdefault>
                                </div>
                                <div class="col-md-12 medium-padding">
                                    <input type="text" ng-model="searchParameters.adminUnit.name" class="form-control"/>
                                </div>
                            </div>
                            <div class="row searchCriterion">
                                <div class="col-md-12 medium-padding">
                                    <b>Latitude (dec. deg.)</b>
                                    <selectdefault custom-css="searchCriterionType" ng-model="searchParameters.latitude.type"></selectdefault>
                                </div>
                                <div class="col-md-12 medium-padding">
                                    <input type="text" ng-model="searchParameters.latitude.value" class="form-control"/>
                                </div>
                            </div>
                            <div class="row searchCriterion">
                                <div class="col-md-12 medium-padding">
                                    <b>Longitude (dec. deg.) </b>
                                    <selectdefault custom-css="searchCriterionType" ng-model="searchParameters.longitude.type"></selectdefault>
                                </div>
                                <div class="col-md-12 medium-padding">
                                    <input type="text" ng-model="searchParameters.longitude.value" class="form-control"/>
                                </div>
                            </div>
                            <div class="row searchCriterion">
                                <div class="col-md-12 medium-padding">
                                    <b>Vertical extent (m) </b>
                                    <selectdefault custom-css="searchCriterionType" ng-model="searchParameters.verticalExtent.type"></selectdefault>
                                </div>
                                <div class="col-md-12 medium-padding">
                                    <input type="text" ng-model="searchParameters.verticalExtent.value" class="form-control" data-ng-disabled="true"/>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row" data-ng-if="isMapHidden">
                <div class="col-lg-8">
                    <localities-map localities="localities"></localities-map>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-4">
                <loading></loading>

                <div class="row geo-list-info ">
                    <div class="col-md-6 text-right">
                        <p class="amount">Kokku: {{response.count}}</p>
                    </div>
                </div>
                <div class="text-right">
                    <ul uib-pagination boundary-links="true" ng-change="search()" items-per-page="pageSize" max-size="searchParameters.maxSize" rotate="false" total-items="totalItems" ng-model="sampleSearch.page" class="pagination-sm" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></ul>
                </div>
                <table class="table table-bordered table-hover">
                    <thead>
                    <tr>
                    <tr>
                        <th>
                            <a href style="cursor: pointer" data-ng-click="order('id')"><span>ID</span>
                                <span data-ng-show="searchParameters.sortField.sortBy == 'id' && sortByAsc" class="glyphicon glyphicon-triangle-bottom"></span>
                                <span data-ng-show="searchParameters.sortField.sortBy == 'id' && !sortByAsc" class="glyphicon glyphicon-triangle-top"></span>
                            </a>
                        </th>
                        <th>
                            <a href style="cursor: pointer" data-ng-click="order('locality')"><span>Locality</span>
                                <span data-ng-show="searchParameters.sortField.sortBy == 'locality' && sortByAsc" class="glyphicon glyphicon-triangle-bottom"></span>
                                <span data-ng-show="searchParameters.sortField.sortBy == 'locality' && !sortByAsc" class="glyphicon glyphicon-triangle-top"></span>
                            </a>
                        </th>
                        <th>Country</th>
                        <th>Latitude (dec. deg.)</th>
                        <th>Longitude (dec. deg.)</th>
                        <th>Vertical extent (m)</th>
                        <th>Stratigraphy base</th>
                        <th>Stratigraphy top</th>
                        <th>Drillcore</th>
                        <th>Images</th>
                        <th>Map</th>
                        <th>MA ID</th>
                    </tr>
                    </tr>
                    </thead>
                    <tbody>
                    <tr style="cursor: pointer; " data-ng-repeat="entity in response.result">
                        <td>{{entity.id}}</td>
                        <td>{{entity.locality}}</td>
                        <td>{{entity.countryValueEn}}</td>
                        <td>{{entity.latitude}}</td>
                        <td>{{entity.longitude}}</td>
                        <td>???</td>
                        <td>{{entity.stratigraphyBaseStratigraphyEn}}</td>
                        <td>{{entity.stratigraphyTopStratigraphyEn}}</td>
                        <td>???</td>
                        <td>???</td>
                        <td><span data-ng-if="entity.latitude != null && entity.longitude != null">+</span></td>
                        <td>???</td>
                    </tr>
                    </tbody>
                </table>
                <div class="text-right">
                    <ul uib-pagination boundary-links="true" ng-change="search()" items-per-page="pageSize" max-size="searchParameters.maxSize" rotate="false" total-items="totalItems" ng-model="searchParameters.page" class="pagination-sm" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></ul>
                </div>
            </div>
        </div>
    </div>
</div>