<div class="panel panel-default">
    <div class="panel-body">
        <div class="row">
            <div class="text-center">
                <h1>{{ 'SEARCH.DRILL_CORES.HEADING' | translate }}</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="row" data-ng-if="showAdditionalCriteria">
                    <label class="col-md-2">{{ 'SEARCH.DRILL_CORES.ID' | translate }}</label>
                    <div class="col-md-5">
                        <selectdefault></selectdefault>
                    </div>
                    <div class="col-md-5">
                        <input type="text" class="form-control"/>
                    </div>
                </div>
                <div class="row">
                    <label class="col-md-2">{{ 'SEARCH.DRILL_CORES.DRILLCORE' | translate }}</label>
                    <div class="col-md-5">
                        <selectdefault></selectdefault>
                    </div>
                    <div class="col-md-5">
                        <input type="text" class="form-control"/>
                    </div>
                </div>
                <div class="row">
                    <label class="col-md-2">{{ 'SEARCH.DRILL_CORES.COUNTRY' | translate }}</label>
                    <div class="col-md-5">
                        <selectdefault></selectdefault>
                    </div>
                    <div class="col-md-5">
                        <input type="text" class="form-control"/>
                    </div>
                </div>
                <div class="row" data-ng-if="showAdditionalCriteria">
                    <label class="col-md-2">{{ 'SEARCH.DRILL_CORES.ADMIN_UNIT' | translate }}</label>
                    <div class="col-md-5">
                        <selectdefault></selectdefault>
                    </div>
                    <div class="col-md-5">
                        <input type="text" class="form-control"/>
                    </div>
                </div>
                <div class="row">
                    <label class="col-md-2">{{ 'SEARCH.DRILL_CORES.STRATIGRAPHY' | translate }}</label>
                    <div class="col-md-5">
                        <selectdefault></selectdefault>
                    </div>
                    <div class="col-md-5">
                        <input type="text" class="form-control"/>
                    </div>
                </div>
                <div class="row">
                    <label class="col-md-2">{{ 'SEARCH.DRILL_CORES.STORAGE' | translate }}</label>
                    <div class="col-md-5">
                        <selectdefault></selectdefault>
                    </div>
                    <div class="col-md-5">
                        <input type="text" class="form-control"/>
                    </div>
                </div>
                <div class="row">
                    <label class="col-md-2">{{ 'SEARCH.DRILL_CORES.BOX_COUNT' | translate }}</label>
                    <div class="col-md-5">
                        <selectdefault></selectdefault>
                    </div>
                    <div class="col-md-5">
                        <input type="text" class="form-control"/>
                    </div>
                </div>
                <div class="row">
                    <a href="" data-ng-show="!showAdditionalCriteria" data-ng-click="showAdditionalCriteria = true">{{ 'SEARCH.SHOW_ADDITIONAL_CRITERIA' | translate }}</a>
                    <a href="" data-ng-show="showAdditionalCriteria" data-ng-click="showAdditionalCriteria = false">{{ 'SEARCH.HIDE_ADDITIONAL_CRITERIA' | translate }}</a>
                </div>

                <div class="row">
                    <label class="col-md-2">{{ 'SEARCH.INSTITUTIONS' | translate }}</label>
                    <label data-ng-repeat="state in departments">
                        <input style="margin: 10px;"
                               type="checkbox"
                               value="{{state.code}}"> {{state.label}}
                    </label>
                </div>
                <div class="row">
                    <label class="col-md-2">{{ 'SEARCH.SORT_BY' | translate }}</label>
                    <div class="col-md-5">
                        <select class="col-md-4 form-control"
                                data-ng-model="drillCoresSearch.content.lookUpType"
                                data-ng-options="option.name for option in sortbyOptions track by option.value">
                            <option value="">{{ 'SEARCH.CHOOSE' | translate }}</option>
                        </select>
                    </div>
                    <div class="col-md-5">
                        <ascdesc></ascdesc>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-5">
                        <label>
                           <span>{{ 'SEARCH.SHOW_MAP' | translate }}</span><input type="checkbox"/>
                        </label>
                    </div>
                </div>
                <div class="row geo-section-row no-border">
                    <button class="btn btn-default pull-right">
                        <i class="glyphicon glyphicon-erase"></i>{{ 'SEARCH.RESET_FORM' | translate }}
                    </button>
                    <button class="btn btn-default pull-right">
                        <i class="glyphicon glyphicon-search"></i>{{ 'SEARCH.SEND_QUERY' | translate }}
                    </button>
                </div>
            </div>
            <div class="col-md-6"><span>{{ 'SEARCH.DRILL_CORES.SEARCHING_DRILL_CORES_HEADING' | translate }}</span>
              <span>{{ 'SEARCH.DRILL_CORES.SEARCHING_DRILL_CORES_TEXT' | translate }}</span>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4">
                <div class="row geo-list-info ">
                    <div class="col-md-6 text-right">
                        <p class="amount"><span>{{ 'SEARCH.NO_OF_RESULTS' | translate }}</span>: {{response.count}}</p>
                    </div>
                </div>
                <table class="table table-bordered table-hover">
                    <thead>
                    <tr>
                        <th>{{ 'SEARCH.DRILL_CORES.TABLE.ID' | translate }}</th>
                        <th>{{ 'SEARCH.DRILL_CORES.TABLE.DRILLCORE' | translate }}</th>
                        <th>{{ 'SEARCH.DRILL_CORES.TABLE.LATITUDE' | translate }}</th>
                        <th>{{ 'SEARCH.DRILL_CORES.TABLE.LONGITUDE' | translate }}</th>
                        <th>{{ 'SEARCH.DRILL_CORES.TABLE.DEPTH_M' | translate }}</th>
                        <th>{{ 'SEARCH.DRILL_CORES.TABLE.BOX_COUNT' | translate }}</th>
                        <th>{{ 'SEARCH.DRILL_CORES.TABLE.BOX_NUMBERS' | translate }}</th>
                        <th>{{ 'SEARCH.DRILL_CORES.TABLE.INSTITUTE' | translate }}</th>
                        <th>{{ 'SEARCH.DRILL_CORES.TABLE.STORAGE' | translate }}</th>
                        <th>{{ 'SEARCH.DRILL_CORES.TABLE.IMAGES' | translate }}</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr style="cursor: pointer; " data-ng-repeat="entity in response.result">
                        <td>{{entity.id}}</td>
                        <td>{{entity.drillcore}}</td>
                        <td>???</td>
                        <td>???</td>
                        <td>???</td>
                        <td>???</td>
                        <td>{{entity.boxNumbers}}</td>
                        <td>???</td>
                        <td>{{entity.storageLocation}}</td>
                        <td>???</td>
                    </tr>
                    </tbody>
                </table>
                <div class="text-right">
                    <ul uib-pagination boundary-links="true" ng-change="search()" items-per-page="pageSize"
                                    max-size="sampleSearch.maxSize" rotate="false" total-items="totalItems"
                                    ng-model="sampleSearch.page" class="pagination-sm" previous-text="&lsaquo;"
                                    next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></ul>
                </div>
            </div>
        </div>
    </div>
</div>
