.project*
.classpath*
.settings
.setting
.checkstyle
.springBeans
bin
target
local-files
.idea
.gradle
*.iml
gradlew
gradle/
gradlew.bat
node_modules/
out/
build/
src/main/webapp/bower_components/jquery/src/
src/main/webapp/bower_components/bootstrap/less/
src/main/webapp/bower_components/bootstrap/grunt/
src/main/webapp/bower_components/bootstrap/js/
src/main/webapp/bower_components/angular-ui-router/src/common.js
src/main/webapp/bower_components/angular-ui-router/src/
