<div class="panel panel-default">
    <div class="panel-body">
        <div class="row">
            <div class="col-lg-3">
                <label></label>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6" bs-loading-overlay bs-loading-overlay-reference-id="detailView" bs-loading-overlay-template-url="app/templates/main/partial/loading.overlay.html">
                <table class="table table-bordered table-hover">
                    <thead>
                    </thead>
                    <tbody>
                    <tr data-ng-repeat="field in detailCtrl.fields" data-ng-if="detailCtrl.results[field] != null  && detailCtrl.results[field] != ''
                    && detailCtrl.isIncludedField(field)">
                        <td entity-field-name name="'API_TRANSLATION.ANALYSIS.'+field | uppercase"></td>
                        <td entity-field-value name = "field" value="detailCtrl.results[field]" values = "detailCtrl.results"></td>
                    </tr>

                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>