<div class="panel panel-default">
    <div class="panel-body">
        <div class="row">
            <div class="col-lg-3">
                <label></label>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6">
                <table class="table table-bordered table-hover">
                    <thead>
                    </thead>
                    <tbody>
                    <tr data-ng-repeat="field in detailCtrl.fields" data-ng-if="detailCtrl.results[field] != null  && detailCtrl.results[field] != ''">
                        <td entity-field-name name="'API_TRANSLATION.ANALYSIS.'+field | uppercase"></td><td entity-field-value value="detailCtrl.results[field]"></td>
                    </tr>

                    </tbody>
                </table>
            </div>
            <div class="col-lg-6">
                <locality-map x = "detailCtrl.sample.latitude" y = "detailCtrl.sample.longitude" name = "detailCtrl.sample.localityEng" fid = "detailCtrl.sample.localityId"></locality-map>
                <a href data-ng-click="ctrl.service.showGoogleMap(detailCtrl.sample.latitude, detailCtrl.sample.longitude, detailCtrl.sample.locality, detailCtrl.sample.localityEng)">Google Maps</a>            </span>
                &ensp;&ensp;|&ensp;&ensp; <a href data-ng-click="ctrl.service.showEstonianLandBoardMap(detailCtrl.sample.latitude, detailCtrl.sample.longitude)">Maa-amet / Estonian Land Board</a>
            </div>
        </div>
    </div>
</div>