<div class="panel panel-default">
    <div class="panel-body">
        <div class="row">
            <div class="col-lg-3 text-center" style="background-color: #d9e2ee;  padding-bottom: 10px; padding-top: 10px;">
                <h3><label><localize en="detailCtrl.results.drillcore__drillcore_en" et="detailCtrl.results.drillcore__drillcore"/></label></h3>
                <h4>{{ 'DETAIL.DRILLCORE.BOX_NUMBER'| translate }} {{detailCtrl.results.number}}</h4>
            </div>
        </div>
        </br>
        <div class="row">
            <div class="col-lg-6" bs-loading-overlay bs-loading-overlay-reference-id="detailView" bs-loading-overlay-template-url="app/templates/main/partial/loading.overlay.html">
                <table class="table table-bordered table-hover">
                    <thead>
                    </thead>
                    <tbody>
                        <tr><td>{{ 'DETAIL.CORE_BOX.ID'| translate }}</td><td>{{detailCtrl.results.id}}</td></tr>
                        <tr><td>{{ 'DETAIL.CORE_BOX.LOCALITY'| translate }}</td><td>
                            <localize en="detailCtrl.results.drillcore__drillcore_en" et="detailCtrl.results.drillcore__drillcore"/>
                        </td></tr>
                        <tr><td>{{ 'DETAIL.CORE_BOX.NUMBER'| translate }}</td><td>{{detailCtrl.results.number}}</td></tr>
                        <tr><td>{{ 'DETAIL.CORE_BOX.INBOX'| translate }}</td><td>{{detailCtrl.results.number_meters}}</td></tr>
                        <tr><td>{{ 'DETAIL.CORE_BOX.SINCE'| translate }}</td><td>{{detailCtrl.results.depth_start}}</td></tr>
                        <tr><td>{{ 'DETAIL.CORE_BOX.TO'| translate }}</td><td>{{detailCtrl.results.depth_end}}</td></tr>
                        <tr><td>{{ 'DETAIL.CORE_BOX.DEPTH'| translate }}</td><td>{{detailCtrl.results.depth_other}}</td></tr>
                        <tr><td>{{ 'DETAIL.CORE_BOX.STRATIGRAPHY_TOP'| translate }}</td><td>
                            <localize et="detailCtrl.results.stratigraphy_top__stratigraphy" en="detailCtrl.results.stratigraphy_top__stratigraphy_en"/>
                        </td></tr>
                        <tr><td>{{ 'DETAIL.CORE_BOX.STRATIGRAPHY_BASE'| translate }}</td><td>
                            <localize et="detailCtrl.results.stratigraphy_base__stratigraphy" en="detailCtrl.results.stratigraphy_base__stratigraphy_en"/>
                        </td></tr>
                        <!--<tr><td>{{ 'DETAIL.CORE_BOX.ADDITIONAL'| translate }}</td><td>???</td></tr>
-->
                    </tbody>
                </table>

                <div class="row" ng-if="detailCtrl.results.id" style="padding: 15px;">
                    <a class="pull-left" href data-ng-click="detailCtrl.reload(detailCtrl.results.id -1)">
                        {{ 'DETAIL.PREVIOUS'| translate }}
                    </a>
                    <a class="pull-right" href data-ng-click="detailCtrl.reload(detailCtrl.results.id + 1)">
                        {{ 'DETAIL.NEXT'| translate }}
                    </a>
                </div>
                <div class="row" style="text-align: center">
                    <a href="{{'http://' + detailCtrl.results.drillcoreimage__url}}"><img style="max-width:300px;max-height: 350px" src="{{'http://' + detailCtrl.results.drillcoreimage__url}}"></a>
                    <div>Foto: {{detailCtrl.results.drillcoreimage__agent__agent}} {{detailCtrl.results.drillcoreimage__image_date}}</div>
                </div>
                <div class="panel-body">
                    <div class="row">
               <!--         <h2>Proovid sellest kastist</h2>-->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>