<div class="panel panel-default">
    <div class="panel-body">
        <div class="row">
            <div class="col-lg-3">
                <label>{{doi.identifier}}</label>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6" bs-loading-overlay bs-loading-overlay-reference-id="detailView" bs-loading-overlay-template-url="app/templates/main/partial/loading.overlay.html">
                <table class="table table-bordered table-hover">
                    <tr data-ng-repeat="field in detailCtrl.fields" data-ng-if="detailCtrl.results[field] != null  && detailCtrl.results[field] != '' && detailCtrl.isIncludedField(field)">
                        <td entity-field-name name="'API_TRANSLATION.DOI.'+field | uppercase"></td>
                        <td entity-field-value name = "field" value="detailCtrl.results[field]" values = "detailCtrl.results"></td>
                    </tr>
                <!--    <tr><td>Citation</td><td>{{doi.abstract}}</td></tr>
                    <tr><td>DOI</td><td>{{doi.identifier}}</td></tr>
                    <tr><td>Resource type general</td><td>{{doi.resourceType}}</td></tr>
                    <tr><td>Resource type</td><td>{{doi.resource}}</td></tr>
                    <tr><td>Creators</td><td>{{doi.creators}}</td></tr>
                    <tr><td>Publisher</td><td>{{doi.publisher}}</td></tr>
                    <tr><td>Key words</td><td>{{doi.subjects}}</td></tr>
                    <tr><td>Language</td><td>{{doi.languageEn}}</td></tr>
                    <tr><td>Version</td><td>{{doi.version}}</td></tr>
                    <tr><td>Formats</td><td>{{doi.formats}}</td></tr>
                    <tr><td>Copyright</td><td>{{doi.copyrightAgent}}</td></tr>
                    <tr><td>Licence</td><td><a href data-ng-click="openUrlInNewWindow({url:doi.licenceUrlEn})">{{doi.licenceEn}}</a></td></tr>
                    <tr><td>SARV created</td><td>{{doi.dateAdded | date:dateFormat}}</td></tr>
                    <tr><td>SARV updated</td><td>{{doi.dateChanged | date:dateFormat}}</td></tr>-->
                </table>
            </div>
        </div>
        <div class="row" data-ng-if="detailCtrl.files.length > 0">
            <div class="col-lg-6">
                <h2>Download data</h2>
            </div>
        </div>
        <div class="row" data-ng-if="detailCtrl.files.length > 0">
            <div class="col-lg-6">
                <table class="table table-bordered table-hover">
                    <thead>
                    <tr>
                        <th>Type</th>
                        <th>Description</th>
                  <!--      <th>Format</th>-->
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                        <tr style="cursor: pointer; " data-ng-repeat="entity in detailCtrl.files">
                            <td>Data file</td>
                            <td>{{detailCtrl.results['identifier']}}</td>
                  <!--          <td>{{detailCtrl.results['formats'] | split:';':$index}}</td>-->
                            <td><a href target="_self" ng-href="{{detailCtrl.service.getDownloadLink(entity.fileName)}}"
                                 >Download</a></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row" data-ng-if="detailCtrl.doiAgent.length > 0">
            <div class="col-lg-6">
                <h2>Related persons and institutions</h2>
            </div>
        </div>
        <div class="row" data-ng-if="detailCtrl.doiAgent.length > 0">
            <div class="col-lg-6">
                <table class="table table-bordered table-hover">
                    <thead>
                    <tr>
                        <th>Name</th>
                        <th>Affiliation</th>
                        <th>Relation</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr style="cursor: pointer; " data-ng-repeat="entity in detailCtrl.doiAgent">
                        <td>{{entity.name}}</td>
                        <td>{{entity.affiliation}}</td>
                        <td>{{entity.agent_type__value}}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row"  data-ng-if="detailCtrl.doiRelatedIdentifier.length > 0">
            <div class="col-lg-6">
                <h2>Related identifiers</h2>
            </div>
        </div>
        <div class="row"  data-ng-if="detailCtrl.doiRelatedIdentifier.length > 0">
            <div class="col-lg-6">
                <table class="table table-bordered table-hover">
                    <thead>
                    <tr>
                        <th>Relation</th>
                        <th>Identifier</th>
                        <th>Value</th>
                  <!--      <th>Remark</th>
                        <th>Link</th>-->
                    </tr>
                    </thead>
                    <tbody>
                    <tr style="cursor: pointer; " data-ng-repeat="entity in detailCtrl.doiRelatedIdentifier">
                        <td>{{entity.relation_type__value}}</td>
                        <td>{{entity.identifier_type__value}}</td>
                        <td data-ng-if="entity.identifier_type__value != 'URL'">{{entity.value}}</td>
                        <td data-ng-if="entity.identifier_type__value == 'URL'">
                            <a href data-ng-click="detailCtrl.service.openUrlInNewWindow({url:entity.value})">{{entity.value}}</a></td>
                       <!-- <td>???</td>
                        <td>???</td>-->
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row"  data-ng-if="detailCtrl.doiGeolocation.length > 0">
            <div class="col-lg-6">
                <h2>Related geolocations</h2>
            </div>
        </div>

        <div class="row" data-ng-if="detailCtrl.doiGeolocation.length > 0">
            <div class="col-lg-6">
                <table class="table table-bordered table-hover">
                    <thead>
                    <tr>
                        <th>Named place</th>
                        <th>Point (Lat Long)</th>
                     <!--   <th>Relation</th>
                        <th>Bounding box</th>-->
                        <th>Locality from database</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr style="cursor: pointer; " data-ng-repeat="entity in detailCtrl.doiGeolocation">
                        <td>{{entity.place}}</td>
                        <td>{{entity.point}}</td>
                   <!--     <td>???</td>
                        <td>???</td>-->
                        <td>  <a href data-ng-click="ctrl.service.openInNewWindow({object:'locality',id:entity.locality_id})">
                            <localize en="entity.locality__locality_en" et="entity.locality__locality"/></a></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-6">
                <h2>Map of data points</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6">
                <localities-map localities="detailCtrl.localities"></localities-map>
            </div>
        </div>
        <div class="row" data-ng-if="false">
            <div class="col-lg-6">
                <h2>Preview data (for text files only)</h2>
            </div>
        </div>

        <div class="row" data-ng-if="false">
            <div class="col-lg-6">
                <table class="table table-bordered table-hover">
                    <thead>
                    <tr>
                        <th>Sample ID</th>
                        <th>Locality</th>
                        <th>Depth, m</th>
                        <th>Chronostratigraphy</th>
                        <th>Lithostratigraphy</th>
                        <th>delta13C</th>
                        <th>permil</th>
                    </tr>
                    </thead>
                    <tbody>

                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>