<div class="panel panel-default">
    <div class="panel-body">
        <div class="row">
            <div class="col-lg-3">
                <label>{{entity.drillcore}}</label>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6" bs-loading-overlay bs-loading-overlay-reference-id="detailView" bs-loading-overlay-template-url="app/templates/main/partial/loading.overlay.html">
                <table class="table table-bordered table-hover">
                    <tr data-ng-repeat="field in detailCtrl.fields" data-ng-if="detailCtrl.results[field] != null  && detailCtrl.results[field] != ''&& detailCtrl.isIncludedField(field)">
                        <td entity-field-name name="'API_TRANSLATION.DRILL_CORE.'+field | uppercase"></td>
                        <td entity-field-value name = "field" value="detailCtrl.results[field]" values = "detailCtrl.results"></td>
                    </tr>
                </table>
            </div>
            <div class="col-lg-6" data-ng-if="detailCtrl.locality.latitude && detailCtrl.locality.longitude">
                <locality-map x = "detailCtrl.locality.latitude" y = "detailCtrl.locality.longitude" name = "detailCtrl.locality.localityEn" fid = "detailCtrl.locality.localityId"></locality-map>
                <a href data-ng-click="detailCtrl.service.showGoogleMap(detailCtrl.locality.latitude, detailCtrl.locality.longitude, detailCtrl.locality.localityEn)">Google Maps</a></span>
                &ensp;&ensp;|&ensp;&ensp; <a href data-ng-click="detailCtrl.service.showEstonianLandBoardMap(detailCtrl.locality.latitude, detailCtrl.locality.longitude)">Maa-amet / Estonian Land Board</a>
            </div>
        </div>
    </div>
    <div class="panel-body">
        <div class="row">
            <label>Horizons ???</label>
        </div>
        <div class="row">
            <label>Drill core boxes</label>
            <table data-ng-repeat="box in detailCtrl.drillcoreBoxes" style="float:left">
                <tr><td><h3>Box no. {{box.number}}</h3></td></tr>
                <tr>
                    <td>Start (m):</td>
                    <td>{{box.depth_start}}</td>
                </tr>
                <tr>
                    <td>End (m):</td>
                    <td>{{box.depth_end}}</td>
                </tr>
                <tr>
                    <td>Stratigraphy top:</td>
                    <td>
                        <localize et="box.stratigraphy_top__stratigraphy" en="box.stratigraphy_top__stratigraphy_en"></localize>
                    </td>
                </tr>
                <tr>
                    <td>Stratigraphy base:</td>
                    <td>
                        <localize et="box.stratigraphy_base__stratigraphy" en="box.stratigraphy_base__stratigraphy_en"></localize>
                    </td>
                </tr>
                <tr>
                    <td>
                        <a href data-ng-click="detailCtrl.service.openInNewWindow({object:'drillcorebox',id:box.id})">
                            <img style="max-width:200px" src="http://{{box.drillcoreimage__url}}"/>
                        </a>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>