<style>
    .window-size {
        width:100%;
    }
</style>
<div class="panel panel-default">
    <div class="panel-body">
        <div class="row">
            <img spinner-load ng-src="{{detailCtrl.imageUrl}}" class="window-size"/>
            size:{{detailCtrl.imageUrl}}{{detailCtrl.extarnalImagePath}}
            <a href="{{detailCtrl.externalImagePath}}&w=600" target="_blank">600px</a>
            | <a href="{{detailCtrl.externalImagePath}}&w=1024" target="_blank">1024px</a>
            | <a href="{{detailCtrl.externalImagePath}}&w=1440" target="_blank">1440px</a>
            | <a href="{{detailCtrl.externalImagePath}}&w=1600" target="_blank">1600px</a>
            | <a href="{{detailCtrl.externalImagePath}}&w=1920" target="_blank">1920px</a>
            | <a href="{{detailCtrl.imageUrl}}" target="_blank">Original</a>
        </div>
        <div class="row" bs-loading-overlay bs-loading-overlay-reference-id="detailView" bs-loading-overlay-template-url="app/templates/main/partial/loading.overlay.html">
            <table class="table table-bordered table-hover">
                <thead>
                </thead>
                <tbody>
                <tr data-ng-repeat="field in detailCtrl.fields" data-ng-if="detailCtrl.results[field] != null  && detailCtrl.results[field] != ''&& detailCtrl.isIncludedField(field)">
                    <td entity-field-name name="'API_TRANSLATION.PHOTO_ARCHIVE.'+field | uppercase"></td>
                    <td entity-field-value name = "field" value="detailCtrl.results[field]" values = "detailCtrl.results"></td>
                </tr>
     <!--           <tr><td>ID</td><td>{{image.id}}</td></tr>
                <tr><td>Number</td><td>{{image.imageNumber}}</td></tr>
                <tr><td>Author</td><td>{{image.authorAgent}}</td></tr>
                <tr><td>Date taken</td><td>{{image.dateTaken}}</td></tr>
                <tr><td>Locality</td><td><a href data-ng-click="openInNewWindow({object:'locality',id:image.localityId})">{{image.locality}}</a></td></tr>
                <tr><td>Object</td><td>{{image.locality}}</td></tr>
                <tr><td>Category</td><td>{{image.object}}</td></tr>
                <tr><td>Keywords</td><td>{{image.keywords}}</td></tr>
                <tr><td>Description</td><td>{{image.description}}</td></tr>
                <tr><td>Image type</td><td>{{image.typeValue}}</td></tr>
                <tr><td>File name</td><td>{{image.fileName}}</td></tr>
                <tr><td>Device name</td><td>{{image.deviceName}}</td></tr>
                <tr><td>Licence</td><td><a href="{{image.licenceUrl}}">{{image.licence}}</a></td></tr>
                <tr><td>Record created</td><td>{{image.dataAdded}}</td></tr>
                <tr><td>Record changed</td><td>{{image.dataChanged}}</td></tr>-->
                </tbody>
            </table>
        </div>
    </div>
    <div class="panel-body">
        <div class="row">

        </div>
    </div>
</div>
