<div class="panel panel-default">
    <div class="panel-body">
        <div class="row">
            <div class="col-lg-3 text-center" style="background-color: #d9e2ee;  padding-bottom: 10px; padding-top: 10px;">
                <h3>{{'API_TRANSLATION.SOIL.DETAIL_FORM_NAME' | translate }} <localize et="detailCtrl.results['site']" en="detailCtrl.results['site_en']"/></h3>
                <h4><em>(ID: {{detailCtrl.results['id']}})</em></h4>
            </div>
        </div>
        </br>

        <div class="row">
            <div class="col-lg-6" bs-loading-overlay bs-loading-overlay-reference-id="detailView" bs-loading-overlay-template-url="app/templates/main/partial/loading.overlay.html">
                <table class="table table-bordered table-hover">
<!--
                    <tr data-ng-repeat="field in detailCtrl.fields" data-ng-if="detailCtrl.results[field] != null  && detailCtrl.results[field] != ''&& detailCtrl.isIncludedField(field)">
                        <td entity-field-name name="'API_TRANSLATION.SOIL.'+field | uppercase"></td>
                        <td entity-field-value name = "field" value="detailCtrl.results[field]" values = "detailCtrl.results"></td>
                    </tr>
-->
                    <tr data-ng-if="detailCtrl.results.id && detailCtrl.results.id != null"><td>{{ 'API_TRANSLATION.SOIL.ID ' | translate }} </td><td> {{detailCtrl.results.id}}</td></tr>
                    <tr data-ng-if="detailCtrl.results.area_name && detailCtrl.results.area_name != null"><td>{{ 'API_TRANSLATION.SOIL.AREA_NAME ' | translate }} </td><td> {{detailCtrl.results.area_name}}</td></tr>
                    <tr data-ng-if="detailCtrl.results.land_use && detailCtrl.results.land_use != null"><td>{{ 'API_TRANSLATION.SOIL.LAND_USE ' | translate }} </td><td> {{detailCtrl.results.land_use}}</td></tr>
                    <tr data-ng-if="detailCtrl.results.latitude && detailCtrl.results.latitude != null"><td>{{ 'API_TRANSLATION.SOIL.LATITUDE ' | translate }} </td><td> {{detailCtrl.results.latitude}}</td></tr>
                    <tr data-ng-if="detailCtrl.results.longitude && detailCtrl.results.longitude != null"><td>{{ 'API_TRANSLATION.SOIL.LONGITUDE ' | translate }} </td><td> {{detailCtrl.results.longitude}}</td></tr>
                    <tr data-ng-if="detailCtrl.results.coordx && detailCtrl.results.coordx != null"><td>{{ 'API_TRANSLATION.SOIL.COORDX ' | translate }} </td><td> {{detailCtrl.results.coordx}}</td></tr>
                    <tr data-ng-if="detailCtrl.results.coordy && detailCtrl.results.coordy != null"><td>{{ 'API_TRANSLATION.SOIL.COORDY ' | translate }} </td><td> {{detailCtrl.results.coordy}}</td></tr>
                    <tr data-ng-if="detailCtrl.results.coord_system && detailCtrl.results.coord_system != null"><td>{{ 'API_TRANSLATION.SOIL.COORD_SYSTEM ' | translate }} </td><td> {{detailCtrl.results.coord_system}}</td></tr>
                    <tr data-ng-if="detailCtrl.results.k_size_a && detailCtrl.results.k_size_a != null"><td>{{ 'API_TRANSLATION.SOIL.K_SIZE_A ' | translate }} </td><td> {{detailCtrl.results.k_size_a}}</td></tr>
                    <tr data-ng-if="detailCtrl.results.k_aste_a && detailCtrl.results.k_aste_a != null"><td>{{ 'API_TRANSLATION.SOIL.K_ASTE_A ' | translate }} </td><td> {{detailCtrl.results.k_aste_a}}</td></tr>
                    <tr data-ng-if="detailCtrl.results.date && detailCtrl.results.date != null"><td>{{ 'API_TRANSLATION.SOIL.DATE ' | translate }} </td><td> {{detailCtrl.results.date}}</td></tr>
                    <tr data-ng-if="detailCtrl.results.date_free && detailCtrl.results.date_free != null"><td>{{ 'API_TRANSLATION.SOIL.DATE_FREE ' | translate }} </td><td> {{detailCtrl.results.date_free}}</td></tr>
                    <tr data-ng-if="(detailCtrl.results.site && detailCtrl.results.site != null) || (detailCtrl.results.site_en && detailCtrl.results.site_en != null) ">
                        <td><localize-label et="'API_TRANSLATION.SOIL.SITE'" en="'API_TRANSLATION.SOIL.SITE_EN'"/></td><td><localize et="detailCtrl.results.site" en="detailCtrl.results.site_en"/></td>
                    </tr>
                    <!--<tr data-ng-if="detailCtrl.results.site && detailCtrl.results.site != null"><td>{{ 'API_TRANSLATION.SOIL.SITE ' | translate }} </td><td> {{detailCtrl.results.site}}</td></tr>
                    <tr data-ng-if="detailCtrl.results.site_en && detailCtrl.results.site_en != null"><td>{{ 'API_TRANSLATION.SOIL.SITE_EN ' | translate }} </td><td> {{detailCtrl.results.site_en}}</td></tr>
                    -->
                    <tr data-ng-if="detailCtrl.results.soil && detailCtrl.results.soil != null"><td>{{ 'API_TRANSLATION.SOIL.SOIL ' | translate }} </td><td> {{detailCtrl.results.soil}}</td></tr>
                    <tr data-ng-if="detailCtrl.results.is_deep && detailCtrl.results.is_deep != null"><td>{{ 'API_TRANSLATION.SOIL.IS_DEEP ' | translate }} </td><td> {{detailCtrl.results.is_deep}}</td></tr>
                    <tr data-ng-if="detailCtrl.results.transect && detailCtrl.results.transect != null"><td>{{ 'API_TRANSLATION.SOIL.TRANSECT ' | translate }} </td><td> {{detailCtrl.results.transect}}</td></tr>
                    <tr data-ng-if="detailCtrl.results.transect_point && detailCtrl.results.transect_point != null"><td>{{ 'API_TRANSLATION.SOIL.TRANSECT_POINT ' | translate }} </td><td> {{detailCtrl.results.transect_point}}</td></tr>
                </table>
            </div>
            <div class="col-lg-6" data-ng-if="detailCtrl.locality.latitude && detailCtrl.locality.longitude">
                <div id='hoverbox' class='coupontooltip'>
                    <div id='hoversystem'></div>
                    <div id='hoverstat'></div>
                </div>
                <locality-map x = "detailCtrl.locality.latitude" y = "detailCtrl.locality.longitude" name = "detailCtrl.locality.localityEn" fid = "detailCtrl.locality.localityId"></locality-map>
                <a href data-ng-click="detailCtrl.service.showGoogleMap(detailCtrl.locality.latitude, detailCtrl.locality.longitude, detailCtrl.locality.localityEn)">Google Maps</a></span>
                &ensp;&ensp;|&ensp;&ensp; <a href data-ng-click="detailCtrl.service.showEstonianLandBoardMap(detailCtrl.locality.latitude, detailCtrl.locality.longitude)">Maa-amet / Estonian Land Board</a>
            </div>
        </div>
    </div>
    <div class="panel-body">
        <div class="row" data-ng-if="detailCtrl.soilHorizon.length > 0">
            <label>Horizons</label>
            <table class="table table-bordered table-hover">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>Number</th>
                    <th>Horisont</th>
                    <th>Sügavus, m</th>
                    <th>Üleminek A</th>
                    <th>Üleminek B</th>
                    <th>Korese tüüp A</th>
                    <th>Korese tüüp B</th>
                    <th>Korese aste 1</th>
                    <th>Korese aste 2</th>
                    <th>Lõimis 1</th>
                    <th>Lõimis 2</th>
                    <th>Remarks</th>
                </tr>
                </thead>
                <tbody>
                <tr style="cursor: pointer; " data-ng-repeat="entity in detailCtrl.soilHorizon">
                    <td>{{entity.id}}</td>
                    <td>{{entity.horizon_number}}</td>
                    <td>{{entity.horizon}}</td>
                    <td>{{entity.depth}}</td>
                    <td>{{entity.transition_a}}</td>
                    <td>{{entity.transition_b}}</td>
                    <td>{{entity.korese_tyyp_a}}</td>
                    <td>{{entity.korese_tyyp_b}}</td>
                    <td>{{entity.korese_aste_1}}</td>
                    <td>{{entity.korese_aste_2}}</td>
                    <td>{{entity.granulometry_1}}</td>
                    <td>{{entity.granulometry_2}}</td>
                    <td>{{sample.remarks}}</td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="row" data-ng-if="detailCtrl.samples.length > 0">
            <label>Samples</label>
            <table class="table table-bordered table-hover">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>Number</th>
                    <th>Horizon</th>
                    <th>Depth, m</th>
                    <th>Remarks</th>
                </tr>
                </thead>
                <tbody>
                <tr style="cursor: pointer; " data-ng-repeat="sample in detailCtrl.samples">
                    <td><a href data-ng-click="detailCtrl.service.openInNewWindow({object:'sample',id:sample.id})">{{sample.id}}</a></td>
                    <td>{{sample.number_additional}}</td>
                    <td>{{sample.soil_horizon}}</td>
                    <td>{{sample.depth}} - {{sample.depth_interval}}</td>
                    <td>{{sample.remarks}}</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>