<div class="panel panel-default">
    <div class="panel-body">
        <div class="row">
            <div class="col-lg-3">
                <label>PROOV #{{sample.number}}</label>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6" bs-loading-overlay bs-loading-overlay-reference-id="detailView" bs-loading-overlay-template-url="app/templates/main/partial/loading.overlay.html">
                <table class="table table-bordered table-hover">
                    <tr data-ng-repeat="field in detailCtrl.fields" data-ng-if="detailCtrl.results[field] != null  && detailCtrl.results[field] != ''&& detailCtrl.isIncludedField(field)">
                        <td entity-field-name name="'API_TRANSLATION.SOIL.'+field | uppercase"></td>
                        <td entity-field-value name = "field" value="detailCtrl.results[field]" values = "detailCtrl.results"></td>
                    </tr>
        <!--            <tr><td>Name</td><td>{{soil.site}}</td></tr>
                    <tr><td>Latitude (dec. deg.)</td><td>{{soil.latitude}}</td></tr>
                    <tr><td>Longitude (dec. deg.)</td><td>{{soil.longitude}}</td></tr>
                    <tr><td>EPSG</td><td>{{soil.coordSystem}}</td></tr>
                    <tr><td>X (m)</td><td>{{soil.coordx}}</td></tr>
                    <tr><td>Y (m)</td><td>{{soil.coordy}}</td></tr>
                    <tr><td>Aeg</td><td>{{soil.date}}</td></tr>
                    <tr><td>Aasta</td><td>{{soil.dateFree}}</td></tr>
                    <tr><td>Land use</td><td>{{soil.agent}}</td></tr>
                    <tr><td>Soil name</td><td>{{soil.soil}}</td></tr>
                    <tr><td>K aste A</td><td>{{soil.kAsteA}}</td></tr>
                    <tr><td>K suurus A</td><td>{{soil.kSizeA}}</td></tr>-->
                </table>
            </div>
            <div class="col-lg-6" data-ng-if="detailCtrl.locality.latitude && detailCtrl.locality.longitude">
                <locality-map x = "detailCtrl.locality.latitude" y = "detailCtrl.locality.longitude" name = "detailCtrl.locality.localityEn" fid = "detailCtrl.locality.localityId"></locality-map>
                <a href data-ng-click="detailCtrl.service.showGoogleMap(detailCtrl.locality.latitude, detailCtrl.locality.longitude, detailCtrl.locality.localityEn)">Google Maps</a></span>
                &ensp;&ensp;|&ensp;&ensp; <a href data-ng-click="detailCtrl.service.showEstonianLandBoardMap(detailCtrl.locality.latitude, detailCtrl.locality.longitude)">Maa-amet / Estonian Land Board</a>
            </div>
        </div>
    </div>
    <div class="panel-body">
        <div class="row">
            <label>Horizons</label>
            <table class="table table-bordered table-hover">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>Number</th>
                    <th>Horisont</th>
                    <th>Sügavus, m</th>
                    <th>Üleminek A</th>
                    <th>Üleminek B</th>
                    <th>Korese tüüp A</th>
                    <th>Korese tüüp B</th>
                    <th>Korese aste 1</th>
                    <th>Korese aste 2</th>
                    <th>Lõimis 1</th>
                    <th>Lõimis 2</th>
                    <th>Remarks</th>
                </tr>
                </thead>
                <tbody>
                <tr style="cursor: pointer; " data-ng-repeat="entity in detailCtrl.soilHorizon">
                    <td>{{entity.id}}</td>
                    <td>{{entity.horizon_number}}</td>
                    <td>{{entity.horizon}}</td>
                    <td>{{entity.depth}}</td>
                    <td>{{entity.transition_a}}</td>
                    <td>{{entity.transition_b}}</td>
                    <td>{{entity.korese_tyyp_a}}</td>
                    <td>{{entity.korese_tyyp_b}}</td>
                    <td>{{entity.korese_aste_1}}</td>
                    <td>{{entity.korese_aste_2}}</td>
                    <td>{{entity.granulometry_1}}</td>
                    <td>{{entity.granulometry_2}}</td>
                    <td>{{sample.remarks}}</td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="row">
            <label>Samples</label>
            <table class="table table-bordered table-hover">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>Number</th>
                    <th>Horizon</th>
                    <th>Depth, m</th>
                    <th>Remarks</th>
                </tr>
                </thead>
                <tbody>
                <tr style="cursor: pointer; " data-ng-repeat="sample in detailCtrl.samples">
                    <td><a href data-ng-click="detailCtrl.service.openInNewWindow({object:'sample',id:sample.id})">{{sample.id}}</a></td>
                    <td>{{sample.number_additional}}</td>
                    <td>{{sample.soil_horizon}}</td>
                    <td>{{sample.depth}} - {{sample.depth_interval}}</td>
                    <td>{{sample.remarks}}</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>