<div class="panel panel-default">
    <div class="panel-body">
        <div class="row">
            <div class="col-lg-3">
                <label>{{specimen}}</label>
            </div>
        </div>
        <div class="row">
            <div bs-loading-overlay bs-loading-overlay-reference-id="detailView" bs-loading-overlay-template-url="app/templates/main/partial/loading.overlay.html">
                <table class="table table-bordered table-hover">
                    <thead>
                    </thead>
                    <tbody>
                    <tr data-ng-repeat="field in detailCtrl.fields" data-ng-if="detailCtrl.results[field] != null  && detailCtrl.results[field] != ''&& detailCtrl.isIncludedField(field)">
                        <td entity-field-name name="'API_TRANSLATION.SPECIMEN.'+field | uppercase"></td>
                        <td entity-field-value name = "field" value="detailCtrl.results[field]" values = "detailCtrl.results"></td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-lg-6" data-ng-if="detailCtrl.locality.latitude && detailCtrl.locality.longitude">
                <locality-map x = "detailCtrl.locality.latitude" y = "detailCtrl.locality.longitude" name = "detailCtrl.locality.localityEn" fid = "detailCtrl.locality.localityId"></locality-map>
                <a href data-ng-click="detailCtrl.service.showGoogleMap(detailCtrl.locality.latitude, detailCtrl.locality.longitude, detailCtrl.locality.localityEn)">Google Maps</a></span>
                &ensp;&ensp;|&ensp;&ensp; <a href data-ng-click="detailCtrl.service.showEstonianLandBoardMap(detailCtrl.locality.latitude, detailCtrl.locality.longitude)" data-ng-if="detailCtrl.locality.countryEn == 'Estonia'">Maa-amet / Estonian Land Board</a>
            </div>
        </div>
    </div>
    <div class="panel-body">
        <div class="row" data-ng-if="detailCtrl.specimenIdentifications.length > 0">
            <label>Identifications (minerals and rocks)</label>
            <table class="table table-bordered table-hover">
                <thead>
                <tr>
                    <th>Name</th>
                    <th>Formula</th>
                    <th>Det.</th>
                    <th>Date added?</th>
                    <th>Reference</th>
                    <th>Remarks</th>
                </tr>
                </thead>
                <tbody>
                <tr style="cursor: pointer; " data-ng-repeat="entity in detailCtrl.specimenIdentifications">
                    <td><a href="http://fossiilid.info/{{entity.id}}">{{entity.taxon__taxon}}</a></td>
                    <td>{{entity.soil_horizon}}</td>
                    <td>???</td>
                    <td>{{entity.date_added  | date:dateFormat}}</td>
                    <td>{{entity.reference__reference}}</td>
                    <td>{{entity.remarks}}</td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="row" data-ng-if="detailCtrl.specimenReference.length > 0">
            <label>Reference</label>
            <table class="table table-bordered table-hover">
                <thead>
                <tr>
                    <th>Reference</th>
                    <th>Pages</th>
                    <th>Figures</th>
                    <th>DOI</th>
                    <th>Remarks</th>
                </tr>
                </thead>
                <tbody>
                <tr style="cursor: pointer; " data-ng-repeat="entity in detailCtrl.specimenReference">
                    <td><a href data-ng-click="detailCtrl.service.openInNewWindow({object:'reference',id:entity.id})">{{entity.reference__reference}}</a></td>
                    <td>{{entity.pages}}</td>
                    <td>{{entity.figures}}</td>
                    <td>{{entity.reference__doi}}</td>
                    <td>{{entity.remarks}}</td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="row" data-ng-if="detailCtrl.specimenImage.length > 0">
            <label>Images</label>
            <table class="table table-bordered table-hover">
                <thead>
                </thead>
                <tbody>
                <tr style="cursor: pointer; ">
                    <td  data-ng-repeat="entity in detailCtrl.specimenImage"><show-preview img-url="entity.image_url"/></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>


</div>
