<div class="panel panel-default">
    <div class="panel-body">
        <div class="row">
            <div class="col-lg-3 text-center" style="background-color: #d9e2ee;  padding-bottom: 10px; padding-top: 10px;">
                <h3><span data-ng-if="detailCtrl.results.coll__number">{{detailCtrl.results.coll__number | split:' ':0}}</span> {{detailCtrl.results.specimen_id}}
                    <span data-ng-if="detailCtrl.results.specimenidentification__name && detailCtrl.results.specimenidentification__name != null"> [{{detailCtrl.results.specimenidentification__name}}]</span></h3>
                <h4><em>(ID: {{detailCtrl.results.id}})</em></h4>
            </div>
        </div>
        </br>

        <div class="row" style="margin-left: 0px;margin-right: 0px;">
            <div bs-loading-overlay bs-loading-overlay-reference-id="detailView" bs-loading-overlay-template-url="app/templates/main/partial/loading.overlay.html">
                <table class="table table-bordered table-hover">
                    <thead>
                    </thead>
                    <tbody>
                  <!--  <tr data-ng-repeat="field in detailCtrl.fields" data-ng-if="detailCtrl.results[field] != null  && detailCtrl.results[field] != ''&& detailCtrl.isIncludedField(field)">
                        <td entity-field-name name="'API_TRANSLATION.SPECIMEN.'+field | uppercase"></td>
                        <td entity-field-value name = "field" value="detailCtrl.results[field]" values = "detailCtrl.results"></td>
                    </tr>-->
                  <tr data-ng-if="detailCtrl.results.id!= null && detailCtrl.results.id"><td> {{' API_TRANSLATION.SPECIMEN.ID' | translate }}</td><td> {{detailCtrl.results.id}}</td></tr>
                  <tr data-ng-if="detailCtrl.results.specimen_nr!= null && detailCtrl.results.specimen_nr"><td> {{' API_TRANSLATION.SPECIMEN.SPECIMEN_NR' | translate }}</td><td> {{detailCtrl.results.specimen_nr}}</td></tr>
                  <tr data-ng-if="detailCtrl.results.specimen_id!= null && detailCtrl.results.specimen_id"><td> {{' API_TRANSLATION.SPECIMEN.SPECIMEN_ID' | translate }}</td><td> {{detailCtrl.results.specimen_id}}</td></tr>
                  <tr data-ng-if="detailCtrl.results.classification__class_field!= null && detailCtrl.results.CLASSIFICATION__CLASS_FIELD"><td> {{' API_TRANSLATION.SPECIMEN.classification__class_field' | translate }}</td><td> {{detailCtrl.results.classification__class_field}}</td></tr>
                  <tr data-ng-if="detailCtrl.results.classification__class_en!= null && detailCtrl.results.CLASSIFICATION__CLASS_EN"><td> {{' API_TRANSLATION.SPECIMEN.classification__class_en' | translate }}</td><td> {{detailCtrl.results.classification__class_en}}</td></tr>
                  <tr data-ng-if="detailCtrl.results.coll_id!= null && detailCtrl.results.coll_id"><td> {{' API_TRANSLATION.SPECIMEN.COLL_ID' | translate }}</td><td> {{detailCtrl.results.coll_id}}</td></tr>
                  <tr data-ng-if="detailCtrl.results.coll__name!= null && detailCtrl.results.coll__name"><td> {{' API_TRANSLATION.SPECIMEN.COLL__NAME' | translate }}</td><td> {{detailCtrl.results.coll__name}}</td></tr>
                  <tr data-ng-if="detailCtrl.results.coll__number!= null && detailCtrl.results.coll__number"><td> {{' API_TRANSLATION.SPECIMEN.COLL__NUMBER' | translate }}</td><td> {{detailCtrl.results.coll__number}}</td></tr>
                  <tr data-ng-if="detailCtrl.results.coll__remarks!= null && detailCtrl.results.coll__remarks"><td> {{' API_TRANSLATION.SPECIMEN.COLL__REMARKS' | translate }}</td><td> {{detailCtrl.results.coll__remarks}}</td></tr>
                  <tr data-ng-if="detailCtrl.results.lithostratigraphy_id!= null && detailCtrl.results.lithostratigraphy_id"><td> {{' API_TRANSLATION.SPECIMEN.LITHOSTRATIGRAPHY_ID' | translate }}</td><td> {{detailCtrl.results.lithostratigraphy_id}}</td></tr>
                  <tr data-ng-if="detailCtrl.results.lithostratigraphy__stratigraphy!= null && detailCtrl.results.lithostratigraphy__stratigraphy"><td> {{' API_TRANSLATION.SPECIMEN.LITHOSTRATIGRAPHY__STRATIGRAPHY' | translate }}</td><td> {{detailCtrl.results.lithostratigraphy__stratigraphy}}</td></tr>
                  <tr data-ng-if="detailCtrl.results.lithostratigraphy__stratigraphy_en!= null && detailCtrl.results.lithostratigraphy__stratigraphy_en"><td> {{' API_TRANSLATION.SPECIMEN.LITHOSTRATIGRAPHY__STRATIGRAPHY_EN' | translate }}</td><td> {{detailCtrl.results.lithostratigraphy__stratigraphy_en}}</td></tr>

                  <tr data-ng-if="(detailCtrl.results.locality__locality && detailCtrl.results.locality__locality != null) || (detailCtrl.results.locality__locality_en && detailCtrl.results.locality__locality_en != null) ">
                      <td><localize-label et="'API_TRANSLATION.SPECIMEN.LOCALITY__LOCALITY'" en="'API_TRANSLATION.SPECIMEN.LOCALITY__LOCALITY_EN'"/></td>
                      <td><a href data-ng-click="detailCtrl.service.openInNewWindow({object:'locality',id:detailCtrl.results.locality_id})"><localize et="detailCtrl.results.locality__locality" en="detailCtrl.results.locality__locality_en"/></a></td>
                  </tr>
                  <tr data-ng-if="(detailCtrl.results.locality__asustusyksus__asustusyksus && detailCtrl.results.locality__asustusyksus__asustusyksus != null) || (detailCtrl.results.locality__asustusyksus__asustusyksus_en && detailCtrl.results.locality__asustusyksus__asustusyksus_en != null) ">
                      <td><localize-label et="'API_TRANSLATION.SPECIMEN.LOCALITY__ASUSTUSYKSUS__ASUSTUSYKSUS'" en="'API_TRANSLATION.SPECIMEN.LOCALITY__ASUSTUSYKSUS__ASUSTUSYKSUS_EN'"/></td><td><localize et="detailCtrl.results.locality__asustusyksus__asustusyksus" en="detailCtrl.results.locality__asustusyksus__asustusyksus_en"/></td>
                  </tr>
                  <!--<tr data-ng-if="detailCtrl.results.locality__asustusyksus__asustusyksus!= null && detailCtrl.results.locality__asustusyksus__asustusyksus"><td> {{' API_TRANSLATION.SPECIMEN.LOCALITY__ASUSTUSYKSUS__ASUSTUSYKSUS' | translate }}</td><td> {{detailCtrl.results.locality__asustusyksus__asustusyksus}}</td></tr>
                  <tr data-ng-if="detailCtrl.results.locality__asustusyksus__asustusyksus_en!= null && detailCtrl.results.locality__asustusyksus__asustusyksus_en"><td> {{' API_TRANSLATION.SPECIMEN.LOCALITY__ASUSTUSYKSUS__ASUSTUSYKSUS_EN' | translate }}</td><td> {{detailCtrl.results.locality__asustusyksus__asustusyksus_en}}</td></tr>
-->
                  <tr data-ng-if="(detailCtrl.results.locality__country__value && detailCtrl.results.locality__country__value != null) || (detailCtrl.results.locality__country__value_en && detailCtrl.results.locality__country__value_en != null) ">
                      <td><localize-label et="'API_TRANSLATION.SPECIMEN.LOCALITY__COUNTRY__VALUE'" en="'API_TRANSLATION.SPECIMEN.LOCALITY__COUNTRY__VALUE_EN'"/></td><td><localize et="detailCtrl.results.locality__country__value" en="detailCtrl.results.locality__country__value_en"/></td>
                  </tr>
                  <!--<tr data-ng-if="detailCtrl.results.locality__country__value!= null && detailCtrl.results.locality__country__value"><td> {{' API_TRANSLATION.SPECIMEN.LOCALITY__COUNTRY__VALUE' | translate }}</td><td> {{detailCtrl.results.locality__country__value}}</td></tr>
                  <tr data-ng-if="detailCtrl.results.locality__country__value_en!= null && detailCtrl.results.locality__country__value_en"><td> {{' API_TRANSLATION.SPECIMEN.LOCALITY__COUNTRY__VALUE_EN' | translate }}</td><td> {{detailCtrl.results.locality__country__value_en}}</td></tr>
-->
                  <tr data-ng-if="detailCtrl.results.locality__depth!= null && detailCtrl.results.locality__depth"><td> {{' API_TRANSLATION.SPECIMEN.LOCALITY__DEPTH' | translate }}</td><td> {{detailCtrl.results.locality__depth}}</td></tr>
                  <tr data-ng-if="detailCtrl.results.locality__eelis!= null && detailCtrl.results.locality__eelis"><td> {{' API_TRANSLATION.SPECIMEN.LOCALITY__EELIS' | translate }}</td><td> {{detailCtrl.results.locality__eelis}}</td></tr>
                  <tr data-ng-if="detailCtrl.results.locality__elevation!= null && detailCtrl.results.locality__elevation"><td> {{' API_TRANSLATION.SPECIMEN.LOCALITY__ELEVATION' | translate }}</td><td> {{detailCtrl.results.locality__elevation}}</td></tr>
                  <tr data-ng-if="detailCtrl.results.locality__latitude!= null && detailCtrl.results.locality__latitude"><td> {{' API_TRANSLATION.SPECIMEN.LOCALITY__LATITUDE' | translate }}</td><td> {{detailCtrl.results.locality__latitude}}</td></tr>
                  <tr data-ng-if="detailCtrl.results.locality__longitude!= null && detailCtrl.results.locality__longitude"><td> {{' API_TRANSLATION.SPECIMEN.LOCALITY__LONGITUDE' | translate }}</td><td> {{detailCtrl.results.locality__longitude}}</td></tr>

                  <!--<tr data-ng-if="detailCtrl.results.locality_id!= null && detailCtrl.results.locality_id"><td> {{' API_TRANSLATION.SPECIMEN.LOCALITY_ID' | translate }}</td><td> {{detailCtrl.results.locality_id}}</td></tr>
                  <tr data-ng-if="detailCtrl.results.locality__locality!= null && detailCtrl.results.locality__locality"><td> {{' API_TRANSLATION.SPECIMEN.LOCALITY__LOCALITY' | translate }}</td><td> {{detailCtrl.results.locality__locality}}</td></tr>
                  <tr data-ng-if="detailCtrl.results.locality__locality_en!= null && detailCtrl.results.locality__locality_en"><td> {{' API_TRANSLATION.SPECIMEN.LOCALITY__LOCALITY_EN' | translate }}</td><td> {{detailCtrl.results.locality__locality_en}}</td></tr>
                  -->
                  <tr data-ng-if="detailCtrl.results.locality__maaamet_pa_id!= null && detailCtrl.results.locality__maaamet_pa_id"><td> {{' API_TRANSLATION.SPECIMEN.LOCALITY__MAAAMET_PA_ID' | translate }}</td><td> {{detailCtrl.results.locality__maaamet_pa_id}}</td></tr>

                  <tr data-ng-if="(detailCtrl.results.locality__maakond__maakond && detailCtrl.results.locality__maakond__maakond != null) || (detailCtrl.results.locality__maakond__maakond_en && detailCtrl.results.locality__maakond__maakond_en != null) ">
                      <td><localize-label et="'API_TRANSLATION.SPECIMEN.LOCALITY__MAAKOND__MAAKOND'" en="'API_TRANSLATION.SPECIMEN.LOCALITY__MAAKOND__MAAKOND_EN'"/></td><td><localize et="detailCtrl.results.locality__maakond__maakond" en="detailCtrl.results.locality__maakond__maakond_en"/></td>
                  </tr>

                  <!--<tr data-ng-if="detailCtrl.results.locality__maakond__maakond!= null && detailCtrl.results.locality__maakond__maakond"><td> {{' API_TRANSLATION.SPECIMEN.LOCALITY__MAAKOND__MAAKOND' | translate }}</td><td> {{detailCtrl.results.locality__maakond__maakond}}</td></tr>
                  <tr data-ng-if="detailCtrl.results.locality__maakond__maakond_en!= null && detailCtrl.results.locality__maakond__maakond_en"><td> {{' API_TRANSLATION.SPECIMEN.LOCALITY__MAAKOND__MAAKOND_EN' | translate }}</td><td> {{detailCtrl.results.locality__maakond__maakond_en}}</td></tr>
                  -->
                  <tr data-ng-if="detailCtrl.results.locality__number!= null && detailCtrl.results.locality__number"><td> {{' API_TRANSLATION.SPECIMEN.LOCALITY__NUMBER' | translate }}</td><td> {{detailCtrl.results.locality__number}}</td></tr>
                  <tr data-ng-if="detailCtrl.results.locality__parent__locality!= null && detailCtrl.results.locality__parent__locality"><td> {{' API_TRANSLATION.SPECIMEN.LOCALITY__PARENT__LOCALITY' | translate }}</td><td> {{detailCtrl.results.locality__parent__locality}}</td></tr>
                  <tr data-ng-if="detailCtrl.results.locality__remarks_location!= null && detailCtrl.results.locality__remarks_location"><td> {{' API_TRANSLATION.SPECIMEN.LOCALITY__REMARKS_LOCATION' | translate }}</td><td> {{detailCtrl.results.locality__remarks_location}}</td></tr>

                  <tr data-ng-if="(detailCtrl.results.locality__stratigraphy_base__stratigraphy && detailCtrl.results.locality__stratigraphy_base__stratigraphy != null) || (detailCtrl.results.locality__stratigraphy_base__stratigraphy_en && detailCtrl.results.locality__stratigraphy_base__stratigraphy_en != null) ">
                      <td><localize-label et="'API_TRANSLATION.SPECIMEN.LOCALITY__STRATIGRAPHY_BASE__STRATIGRAPHY'" en="'API_TRANSLATION.SPECIMEN.LOCALITY__STRATIGRAPHY_BASE__STRATIGRAPHY_EN'"/></td>
                      <td><a href data-ng-click="detailCtrl.service.openInNewWindow({object:'stratigraphy',id:detailCtrl.results.locality__stratigraphy_base_id})"><localize et="detailCtrl.results.locality__stratigraphy_base__stratigraphy" en="detailCtrl.results.locality__stratigraphy_base__stratigraphy_en"/></a></td>
                  </tr>
                  <!--<tr data-ng-if="detailCtrl.results.locality__stratigraphy_base_id!= null && detailCtrl.results.locality__stratigraphy_base_id"><td> {{' API_TRANSLATION.SPECIMEN.LOCALITY__STRATIGRAPHY_BASE_ID' | translate }}</td><td> {{detailCtrl.results.locality__stratigraphy_base_id}}</td></tr>
                  <tr data-ng-if="detailCtrl.results.locality__stratigraphy_base__stratigraphy!= null && detailCtrl.results.locality__stratigraphy_base__stratigraphy"><td> {{' API_TRANSLATION.SPECIMEN.locality__stratigraphy_base_id' | translate }}</td><td> {{detailCtrl.results.locality__stratigraphy_base__stratigraphy}}</td></tr>
                  <tr data-ng-if="detailCtrl.results.locality__stratigraphy_base__stratigraphy_en!= null && detailCtrl.results.locality__stratigraphy_base__stratigraphy_en"><td> {{' API_TRANSLATION.SPECIMEN.LOCALITY__STRATIGRAPHY_BASE__STRATIGRAPHY_EN' | translate }}</td><td> {{detailCtrl.results.locality__stratigraphy_base__stratigraphy_en}}</td></tr>
-->
                  <tr data-ng-if="(detailCtrl.results.locality__stratigraphy_top__stratigraphy && detailCtrl.results.locality__stratigraphy_top__stratigraphy != null) || (detailCtrl.results.locality__stratigraphy_top__stratigraphy_en && detailCtrl.results.locality__stratigraphy_top__stratigraphy_en != null) ">
                      <td><localize-label et="'API_TRANSLATION.SPECIMEN.LOCALITY__STRATIGRAPHY_TOP__STRATIGRAPHY'" en="'API_TRANSLATION.SPECIMEN.LOCALITY__STRATIGRAPHY_TOP__STRATIGRAPHY_EN'"/></td>
                      <td><a href data-ng-click="detailCtrl.service.openInNewWindow({object:'stratigraphy',id:detailCtrl.results.locality__stratigraphy_top_id})"><localize et="detailCtrl.results.locality__stratigraphy_top__stratigraphy" en="detailCtrl.results.locality__stratigraphy_top__stratigraphy_en"/></a></td>
                  </tr>
                  <!--<tr data-ng-if="detailCtrl.results.locality__stratigraphy_top_id!= null && detailCtrl.results.locality__stratigraphy_top_id"><td> {{' API_TRANSLATION.SPECIMEN.LOCALITY__STRATIGRAPHY_TOP_ID' | translate }}</td><td> {{detailCtrl.results.locality__stratigraphy_top_id}}</td></tr>
                  <tr data-ng-if="detailCtrl.results.locality__stratigraphy_top__stratigraphy!= null && detailCtrl.results.locality__stratigraphy_top__stratigraphy"><td> {{' API_TRANSLATION.SPECIMEN.LOCALITY__STRATIGRAPHY_TOP__STRATIGRAPHY' | translate }}</td><td> {{detailCtrl.results.locality__stratigraphy_top__stratigraphy}}</td></tr>
                  <tr data-ng-if="detailCtrl.results.locality__stratigraphy_top__stratigraphy_en!= null && detailCtrl.results.locality__stratigraphy_top__stratigraphy_en"><td> {{' API_TRANSLATION.SPECIMEN.LOCALITY__STRATIGRAPHY_TOP__STRATIGRAPHY_EN' | translate }}</td><td> {{detailCtrl.results.locality__stratigraphy_top__stratigraphy_en}}</td></tr>
-->
                  <tr data-ng-if="(detailCtrl.results.locality__type__value && detailCtrl.results.locality__type__value != null) || (detailCtrl.results.locality__type__value_en && detailCtrl.results.locality__type__value_en != null) ">
                      <td><localize-label et="'API_TRANSLATION.SPECIMEN.LOCALITY__TYPE__VALUE'" en="'API_TRANSLATION.SPECIMEN.LOCALITY__TYPE__VALUE_EN'"/></td><td><localize et="detailCtrl.results.locality__type__value" en="detailCtrl.results.locality__type__value_en"/></td>
                  </tr>
                  <!--<tr data-ng-if="detailCtrl.results.locality__type__value!= null && detailCtrl.results.locality__type__value"><td> {{' API_TRANSLATION.SPECIMEN.LOCALITY__TYPE__VALUE' | translate }}</td><td> {{detailCtrl.results.locality__type__value}}</td></tr>
                  <tr data-ng-if="detailCtrl.results.locality__type__value_en!= null && detailCtrl.results.locality__type__value_en"><td> {{' API_TRANSLATION.SPECIMEN.LOCALITY__TYPE__VALUE_EN' | translate }}</td><td> {{detailCtrl.results.locality__type__value_en}}</td></tr>
                  -->
                  <tr data-ng-if="(detailCtrl.results.locality__vald__vald && detailCtrl.results.locality__vald__vald != null) || (detailCtrl.results.locality__vald__vald_en && detailCtrl.results.locality__vald__vald_en != null) ">
                      <td><localize-label et="'API_TRANSLATION.SPECIMEN.LOCALITY__VALD__VALD'" en="'API_TRANSLATION.SPECIMEN.LOCALITY__VALD__VALD_EN'"/></td><td><localize et="detailCtrl.results.locality__vald__vald" en="detailCtrl.results.locality__vald__vald_en"/></td>
                  </tr>
                  <!--<tr data-ng-if="detailCtrl.results.locality__vald__vald!= null && detailCtrl.results.locality__vald__vald"><td> {{' API_TRANSLATION.SPECIMEN.LOCALITY__VALD__VALD' | translate }}</td><td> {{detailCtrl.results.locality__vald__vald}}</td></tr>
                  <tr data-ng-if="detailCtrl.results.locality__vald__vald_en!= null && detailCtrl.results.locality__vald__vald_en"><td> {{' API_TRANSLATION.SPECIMEN.LOCALITY__VALD__VALD_EN' | translate }}</td><td> {{detailCtrl.results.locality__vald__vald_en}}</td></tr>
                  -->
                  <tr data-ng-if="detailCtrl.results.depth!= null && detailCtrl.results.depth"><td> {{' API_TRANSLATION.SPECIMEN.DEPTH' | translate }}</td><td> {{detailCtrl.results.depth}}</td></tr>
                  <tr data-ng-if="detailCtrl.results.depth_interval!= null && detailCtrl.results.depth_interval"><td> {{' API_TRANSLATION.SPECIMEN.DEPTH_INTERVAL' | translate }}</td><td> {{detailCtrl.results.depth_interval}}</td></tr>
                  <tr data-ng-if="detailCtrl.results.sample__agent_collected__agent!= null && detailCtrl.results.sample__agent_collected__agent"><td> {{' API_TRANSLATION.SPECIMEN.SAMPLE__AGENT_COLLECTED__AGENT' | translate }}</td><td> {{detailCtrl.results.sample__agent_collected__agent}}</td></tr>
                  <tr data-ng-if="detailCtrl.results.sample__agent_collected_free!= null && detailCtrl.results.sample__agent_collected_free"><td> {{' API_TRANSLATION.SPECIMEN.SAMPLE__AGENT_COLLECTED_FREE' | translate }}</td><td> {{detailCtrl.results.sample__agent_collected_free}}</td></tr>

                  <tr data-ng-if="(detailCtrl.results.sample__classification_rock__name && detailCtrl.results.sample__classification_rock__name != null) || (detailCtrl.results.sample__classification_rock__name_en && detailCtrl.results.sample__classification_rock__name_en != null) ">
                      <td><localize-label et="'API_TRANSLATION.SPECIMEN.SAMPLE__CLASSIFICATION_ROCK__NAME'" en="'API_TRANSLATION.SPECIMEN.SAMPLE__CLASSIFICATION_ROCK__NAME_EN'"/></td><td><localize et="detailCtrl.results.sample__classification_rock__name" en="detailCtrl.results.sample__classification_rock__name_en"/></td>
                  </tr>
                 <!-- <tr data-ng-if="detailCtrl.results.sample__classification_rock__name!= null && detailCtrl.results.sample__classification_rock__name"><td> {{' API_TRANSLATION.SPECIMEN.SAMPLE__CLASSIFICATION_ROCK__NAME' | translate }}</td><td> {{detailCtrl.results.sample__classification_rock__name}}</td></tr>
                  <tr data-ng-if="detailCtrl.results.sample__classification_rock__name_en!= null && detailCtrl.results.sample__classification_rock__name_en"><td> {{' API_TRANSLATION.SPECIMEN.SAMPLE__CLASSIFICATION_ROCK__NAME_EN' | translate }}</td><td> {{detailCtrl.results.sample__classification_rock__name_en}}</td></tr>
                  -->
                  <tr data-ng-if="detailCtrl.results.sample__database__acronym!= null && detailCtrl.results.sample__database__acronym"><td> {{' API_TRANSLATION.SPECIMEN.SAMPLE__DATABASE__ACRONYM' | translate }}</td><td> {{detailCtrl.results.sample__database__acronym}}</td></tr>
                  <tr data-ng-if="detailCtrl.results.sample__date_collected!= null && detailCtrl.results.sample__date_collected"><td> {{' API_TRANSLATION.SPECIMEN.SAMPLE__DATE_COLLECTED' | translate }}</td><td> {{detailCtrl.results.sample__date_collected}}</td></tr>
                  <tr data-ng-if="detailCtrl.results.sample__date_collected_free!= null && detailCtrl.results.sample__date_collected_free"><td> {{' API_TRANSLATION.SPECIMEN.SAMPLE__DATE_COLLECTED_FREE' | translate }}</td><td> {{detailCtrl.results.sample__date_collected_free}}</td></tr>
                  <tr data-ng-if="detailCtrl.results.sample__depth!= null && detailCtrl.results.sample__depth"><td> {{' API_TRANSLATION.SPECIMEN.SAMPLE__DEPTH' | translate }}</td><td> {{detailCtrl.results.sample__depth}}</td></tr>
                  <tr data-ng-if="detailCtrl.results.sample__depth_interval!= null && detailCtrl.results.sample__depth_interval"><td> {{' API_TRANSLATION.SPECIMEN.SAMPLE__DEPTH_INTERVAL' | translate }}</td><td> {{detailCtrl.results.sample__depth_interval}}</td></tr>
                  <tr data-ng-if="detailCtrl.results.sample_id!= null && detailCtrl.results.sample_id"><td> {{' API_TRANSLATION.SPECIMEN.SAMPLE_ID' | translate }}</td><td> {{detailCtrl.results.sample_id}}</td></tr>
                  <tr data-ng-if="detailCtrl.results.sample__lithostratigraphy_id!= null && detailCtrl.results.sample__lithostratigraphy_id"><td> {{' API_TRANSLATION.SPECIMEN.SAMPLE__LITHOSTRATIGRAPHY_ID' | translate }}</td><td> {{detailCtrl.results.sample__lithostratigraphy_id}}</td></tr>
                  <tr data-ng-if="detailCtrl.results.sample__lithostratigraphy__stratigraphy!= null && detailCtrl.results.sample__lithostratigraphy__stratigraphy"><td> {{' API_TRANSLATION.SPECIMEN.SAMPLE__LITHOSTRATIGRAPHY__STRATIGRAPHY' | translate }}</td><td> {{detailCtrl.results.sample__lithostratigraphy__stratigraphy}}</td></tr>
                  <tr data-ng-if="detailCtrl.results.sample__lithostratigraphy__stratigraphy_en!= null && detailCtrl.results.sample__lithostratigraphy__stratigraphy_en"><td> {{' API_TRANSLATION.SPECIMEN.SAMPLE__LITHOSTRATIGRAPHY__STRATIGRAPHY_EN' | translate }}</td><td> {{detailCtrl.results.sample__lithostratigraphy__stratigraphy_en}}</td></tr>

                  <tr data-ng-if="detailCtrl.results.sample__locality__asustusyksus__asustusyksus!= null && detailCtrl.results.sample__locality__asustusyksus__asustusyksus"><td> {{' API_TRANSLATION.SPECIMEN.SAMPLE__LOCALITY__ASUSTUSYKSUS__ASUSTUSYKSUS' | translate }}</td><td> {{detailCtrl.results.sample__locality__asustusyksus__asustusyksus}}</td></tr>
                  <tr data-ng-if="detailCtrl.results.sample__locality__asustusyksus__asustusyksus_en!= null && detailCtrl.results.sample__locality__asustusyksus__asustusyksus_en"><td> {{' API_TRANSLATION.SPECIMEN.SAMPLE__LOCALITY__ASUSTUSYKSUS__ASUSTUSYKSUS_EN' | translate }}</td><td> {{detailCtrl.results.sample__locality__asustusyksus__asustusyksus_en}}</td></tr>

                  <tr data-ng-if="detailCtrl.results.sample__locality__country__value!= null && detailCtrl.results.sample__locality__country__value"><td> {{' API_TRANSLATION.SPECIMEN.SAMPLE__LOCALITY__COUNTRY__VALUE' | translate }}</td><td> {{detailCtrl.results.sample__locality__country__value}}</td></tr>
                  <tr data-ng-if="detailCtrl.results.sample__locality__country__value_en!= null && detailCtrl.results.sample__locality__country__value_en"><td> {{' API_TRANSLATION.SPECIMEN.SAMPLE__LOCALITY__COUNTRY__VALUE_EN' | translate }}</td><td> {{detailCtrl.results.sample__locality__country__value_en}}</td></tr>

                  <tr data-ng-if="detailCtrl.results.sample__locality__depth!= null && detailCtrl.results.sample__locality__depth"><td> {{' API_TRANSLATION.SPECIMEN.SAMPLE__LOCALITY__DEPTH' | translate }}</td><td> {{detailCtrl.results.sample__locality__depth}}</td></tr>
                  <tr data-ng-if="detailCtrl.results.sample__locality__eelis!= null && detailCtrl.results.sample__locality__eelis"><td> {{' API_TRANSLATION.SPECIMEN.SAMPLE__LOCALITY__EELIS' | translate }}</td><td> {{detailCtrl.results.sample__locality__eelis}}</td></tr>
                  <tr data-ng-if="detailCtrl.results.sample__locality__elevation!= null && detailCtrl.results.sample__locality__elevation"><td> {{' API_TRANSLATION.SPECIMEN.SAMPLE__LOCALITY__ELEVATION' | translate }}</td><td> {{detailCtrl.results.sample__locality__elevation}}</td></tr>
                  <tr data-ng-if="detailCtrl.results.sample__locality_free!= null && detailCtrl.results.sample__locality_free"><td> {{' API_TRANSLATION.SPECIMEN.SAMPLE__LOCALITY_FREE' | translate }}</td><td> {{detailCtrl.results.sample__locality_free}}</td></tr>

                  <tr data-ng-if="detailCtrl.results.sample__locality_id!= null && detailCtrl.results.sample__locality_id"><td> {{' API_TRANSLATION.SPECIMEN.SAMPLE__LOCALITY_ID' | translate }}</td><td> {{detailCtrl.results.sample__locality_id}}</td></tr>
                  <tr data-ng-if="detailCtrl.results.sample__locality__locality!= null && detailCtrl.results.sample__locality__locality"><td> {{' API_TRANSLATION.SPECIMEN.SAMPLE__LOCALITY__LOCALITY' | translate }}</td><td> {{detailCtrl.results.sample__locality__locality}}</td></tr>
                  <tr data-ng-if="detailCtrl.results.sample__locality__locality_en!= null && detailCtrl.results.sample__locality__locality_en"><td> {{' API_TRANSLATION.SPECIMEN.SAMPLE__LOCALITY__LOCALITY_EN' | translate }}</td><td> {{detailCtrl.results.sample__locality__locality_en}}</td></tr>

                  <tr data-ng-if="detailCtrl.results.sample__locality__latitude!= null && detailCtrl.results.sample__locality__latitude"><td> {{' API_TRANSLATION.SPECIMEN.SAMPLE__LOCALITY__LATITUDE' | translate }}</td><td> {{detailCtrl.results.sample__locality__latitude}}</td></tr>
                  <tr data-ng-if="detailCtrl.results.sample__locality__longitude!= null && detailCtrl.results.sample__locality__longitude"><td> {{' API_TRANSLATION.SPECIMEN.SAMPLE__LOCALITY__LONGITUDE' | translate }}</td><td> {{detailCtrl.results.sample__locality__longitude}}</td></tr>
                  <tr data-ng-if="detailCtrl.results.sample__locality__maaamet_pa_id!= null && detailCtrl.results.sample__locality__maaamet_pa_id"><td> {{' API_TRANSLATION.SPECIMEN.SAMPLE__LOCALITY__MAAAMET_PA_ID' | translate }}</td><td> {{detailCtrl.results.sample__locality__maaamet_pa_id}}</td></tr>

                  <tr data-ng-if="detailCtrl.results.sample__locality__maakond__maakond!= null && detailCtrl.results.sample__locality__maakond__maakond"><td> {{' API_TRANSLATION.SPECIMEN.SAMPLE__LOCALITY__MAAKOND__MAAKOND' | translate }}</td><td> {{detailCtrl.results.sample__locality__maakond__maakond}}</td></tr>
                  <tr data-ng-if="detailCtrl.results.sample__locality__maakond__maakond_en!= null && detailCtrl.results.sample__locality__maakond__maakond_en"><td> {{' API_TRANSLATION.SPECIMEN.SAMPLE__LOCALITY__MAAKOND__MAAKOND_EN' | translate }}</td><td> {{detailCtrl.results.sample__locality__maakond__maakond_en}}</td></tr>

                  <tr data-ng-if="detailCtrl.results.sample__locality__number!= null && detailCtrl.results.sample__locality__number"><td> {{' API_TRANSLATION.SPECIMEN.SAMPLE__LOCALITY__NUMBER' | translate }}</td><td> {{detailCtrl.results.sample__locality__number}}</td></tr>
                  <tr data-ng-if="detailCtrl.results.sample__locality__parent__locality!= null && detailCtrl.results.sample__locality__parent__locality"><td> {{' API_TRANSLATION.SPECIMEN.SAMPLE__LOCALITY__PARENT__LOCALITY' | translate }}</td><td> {{detailCtrl.results.sample__locality__parent__locality}}</td></tr>
                  <tr data-ng-if="detailCtrl.results.sample__locality__remarks_location!= null && detailCtrl.results.sample__locality__remarks_location"><td> {{' API_TRANSLATION.SPECIMEN.SAMPLE__LOCALITY__REMARKS_LOCATION' | translate }}</td><td> {{detailCtrl.results.sample__locality__remarks_location}}</td></tr>

                  <tr data-ng-if="detailCtrl.results.sample__locality__stratigraphy_base_id!= null && detailCtrl.results.sample__locality__stratigraphy_base_id"><td> {{' API_TRANSLATION.SPECIMEN.SAMPLE__LOCALITY__STRATIGRAPHY_BASE_ID' | translate }}</td><td> {{detailCtrl.results.sample__locality__stratigraphy_base_id}}</td></tr>
                  <tr data-ng-if="detailCtrl.results.sample__locality__stratigraphy_base__stratigraphy!= null && detailCtrl.results.sample__locality__stratigraphy_base__stratigraphy"><td> {{' API_TRANSLATION.SPECIMEN.SAMPLE__LOCALITY__STRATIGRAPHY_BASE__STRATIGRAPHY' | translate }}</td><td> {{detailCtrl.results.sample__locality__stratigraphy_base__stratigraphy}}</td></tr>
                  <tr data-ng-if="detailCtrl.results.sample__locality__stratigraphy_base__stratigraphy_!= null && detailCtrl.results.sample__locality__stratigraphy_base__stratigraphy_"><td> {{' API_TRANSLATION.SPECIMEN.SAMPLE__LOCALITY__STRATIGRAPHY_BASE__STRATIGRAPHY_' | translate }}</td><td> {{detailCtrl.results.sample__locality__stratigraphy_base__stratigraphy_en}}</td></tr>

                  <tr data-ng-if="detailCtrl.results.sample__locality__stratigraphy_top_id!= null && detailCtrl.results.sample__locality__stratigraphy_top_id"><td> {{' API_TRANSLATION.SPECIMEN.SAMPLE__LOCALITY__STRATIGRAPHY_TOP_ID' | translate }}</td><td> {{detailCtrl.results.sample__locality__stratigraphy_top_id}}</td></tr>
                  <tr data-ng-if="detailCtrl.results.sample__locality__stratigraphy_top__stratigraphy!= null && detailCtrl.results.sample__locality__stratigraphy_top__stratigraphy"><td> {{' API_TRANSLATION.SPECIMEN.SAMPLE__LOCALITY__STRATIGRAPHY_TOP__STRATIGRAPHY' | translate }}</td><td> {{detailCtrl.results.sample__locality__stratigraphy_top__stratigraphy}}</td></tr>
                  <tr data-ng-if="detailCtrl.results.sample__locality__stratigraphy_top__stratigraphy_e!= null && detailCtrl.results.sample__locality__stratigraphy_top__stratigraphy_e"><td> {{' API_TRANSLATION.SPECIMEN.SAMPLE__LOCALITY__STRATIGRAPHY_TOP__STRATIGRAPHY_E' | translate }}</td><td> {{detailCtrl.results.sample__locality__stratigraphy_top__stratigraphy_en}}</td></tr>

                  <tr data-ng-if="detailCtrl.results.sample__locality__type__value!= null && detailCtrl.results.sample__locality__type__value"><td> {{' API_TRANSLATION.SPECIMEN.SAMPLE__LOCALITY__TYPE__VALUE' | translate }}</td><td> {{detailCtrl.results.sample__locality__type__value}}</td></tr>
                  <tr data-ng-if="detailCtrl.results.sample__locality__type__value_en!= null && detailCtrl.results.sample__locality__type__value_en"><td> {{' API_TRANSLATION.SPECIMEN.SAMPLE__LOCALITY__TYPE__VALUE_EN' | translate }}</td><td> {{detailCtrl.results.sample__locality__type__value_en}}</td></tr>

                  <tr data-ng-if="detailCtrl.results.sample__locality__vald__vald!= null && detailCtrl.results.sample__locality__vald__vald"><td> {{' API_TRANSLATION.SPECIMEN.SAMPLE__LOCALITY__VALD__VALD' | translate }}</td><td> {{detailCtrl.results.sample__locality__vald__vald}}</td></tr>
                  <tr data-ng-if="detailCtrl.results.sample__locality__vald__vald_en!= null && detailCtrl.results.sample__locality__vald__vald_en"><td> {{' API_TRANSLATION.SPECIMEN.SAMPLE__LOCALITY__VALD__VALD_EN' | translate }}</td><td> {{detailCtrl.results.sample__locality__vald__vald_en}}</td></tr>

                  <tr data-ng-if="detailCtrl.results.sample__location!= null && detailCtrl.results.sample__location"><td> {{' API_TRANSLATION.SPECIMEN.SAMPLE__LOCATION' | translate }}</td><td> {{detailCtrl.results.sample__location}}</td></tr>
                  <tr data-ng-if="detailCtrl.results.sample__mass!= null && detailCtrl.results.sample__mass"><td> {{' API_TRANSLATION.SPECIMEN.SAMPLE__MASS' | translate }}</td><td> {{detailCtrl.results.sample__mass}}</td></tr>
                  <tr data-ng-if="detailCtrl.results.sample__number!= null && detailCtrl.results.sample__number"><td> {{' API_TRANSLATION.SPECIMEN.SAMPLE__NUMBER' | translate }}</td><td> {{detailCtrl.results.sample__number}}</td></tr>
                  <tr data-ng-if="detailCtrl.results.sample__number_additional!= null && detailCtrl.results.sample__number_additional"><td> {{' API_TRANSLATION.SPECIMEN.SAMPLE__NUMBER_ADDITIONAL' | translate }}</td><td> {{detailCtrl.results.sample__number_additional}}</td></tr>
                  <tr data-ng-if="detailCtrl.results.sample__remarks!= null && detailCtrl.results.sample__remarks"><td> {{' API_TRANSLATION.SPECIMEN.SAMPLE__REMARKS' | translate }}</td><td> {{detailCtrl.results.sample__remarks}}</td></tr>

                  <tr data-ng-if="detailCtrl.results.sample__rock!= null && detailCtrl.results.sample__rock"><td> {{' API_TRANSLATION.SPECIMEN.SAMPLE__ROCK' | translate }}</td><td> {{detailCtrl.results.sample__rock}}</td></tr>
                  <tr data-ng-if="detailCtrl.results.sample__rock_en!= null && detailCtrl.results.sample__rock_en"><td> {{' API_TRANSLATION.SPECIMEN.SAMPLE__ROCK_EN' | translate }}</td><td> {{detailCtrl.results.sample__rock_en}}</td></tr>

                  <tr data-ng-if="detailCtrl.results.sample__series_id!= null && detailCtrl.results.sample__series_id"><td> {{' API_TRANSLATION.SPECIMEN.SAMPLE__SERIES_ID' | translate }}</td><td> {{detailCtrl.results.sample__series_id}}</td></tr>
                  <tr data-ng-if="detailCtrl.results.sample__soil_site_id!= null && detailCtrl.results.sample__soil_site_id"><td> {{' API_TRANSLATION.SPECIMEN.SAMPLE__SOIL_SITE_ID' | translate }}</td><td> {{detailCtrl.results.sample__soil_site_id}}</td></tr>
                  <tr data-ng-if="detailCtrl.results.sample__soil_site__land_use!= null && detailCtrl.results.sample__soil_site__land_use"><td> {{' API_TRANSLATION.SPECIMEN.SAMPLE__SOIL_SITE__LAND_USE' | translate }}</td><td> {{detailCtrl.results.sample__soil_site__land_use}}</td></tr>
                  <tr data-ng-if="detailCtrl.results.sample__soil_site__latitude!= null && detailCtrl.results.sample__soil_site__latitude"><td> {{' API_TRANSLATION.SPECIMEN.SAMPLE__SOIL_SITE__LATITUDE' | translate }}</td><td> {{detailCtrl.results.sample__soil_site__latitude}}</td></tr>
                  <tr data-ng-if="detailCtrl.results.sample__soil_site__longitude!= null && detailCtrl.results.sample__soil_site__longitude"><td> {{' API_TRANSLATION.SPECIMEN.SAMPLE__SOIL_SITE__LONGITUDE' | translate }}</td><td> {{detailCtrl.results.sample__soil_site__longitude}}</td></tr>
                  <tr data-ng-if="detailCtrl.results.sample__soil_site__site!= null && detailCtrl.results.sample__soil_site__site"><td> {{' API_TRANSLATION.SPECIMEN.SAMPLE__SOIL_SITE__SITE' | translate }}</td><td> {{detailCtrl.results.sample__soil_site__site}}</td></tr>
                  <tr data-ng-if="detailCtrl.results.sample__soil_site__site_en!= null && detailCtrl.results.sample__soil_site__site_en"><td> {{' API_TRANSLATION.SPECIMEN.SAMPLE__SOIL_SITE__SITE_EN' | translate }}</td><td> {{detailCtrl.results.sample__soil_site__site_en}}</td></tr>
                  <tr data-ng-if="detailCtrl.results.sample__soil_site__soil!= null && detailCtrl.results.sample__soil_site__soil"><td> {{' API_TRANSLATION.SPECIMEN.SAMPLE__SOIL_SITE__SOIL' | translate }}</td><td> {{detailCtrl.results.sample__soil_site__soil}}</td></tr>
                  <tr data-ng-if="detailCtrl.results.sample__stratigraphy_bed!= null && detailCtrl.results.sample__stratigraphy_bed"><td> {{' API_TRANSLATION.SPECIMEN.SAMPLE__STRATIGRAPHY_BED' | translate }}</td><td> {{detailCtrl.results.sample__stratigraphy_bed}}</td></tr>

                  <!--<tr data-ng-if="detailCtrl.results.sample__stratigraphy_id!= null && detailCtrl.results.sample__stratigraphy_id"><td> {{' API_TRANSLATION.SPECIMEN.SAMPLE__STRATIGRAPHY_ID' | translate }}</td><td> {{detailCtrl.results.sample__stratigraphy_id}}</td></tr>
                  <tr data-ng-if="detailCtrl.results.sample__stratigraphy__stratigraphy!= null && detailCtrl.results.sample__stratigraphy__stratigraphy"><td> {{' API_TRANSLATION.SPECIMEN.SAMPLE__STRATIGRAPHY__STRATIGRAPHY' | translate }}</td><td> {{detailCtrl.results.sample__stratigraphy__stratigraphy}}</td></tr>
                  <tr data-ng-if="detailCtrl.results.sample__stratigraphy__stratigraphy_en!= null && detailCtrl.results.SAMPLE__STRATIGRAPHY__STRATIGRAPHY_EN"><td> {{' API_TRANSLATION.SPECIMEN.sample__stratigraphy__stratigraphy_en' | translate }}</td><td> {{detailCtrl.results.sample__stratigraphy__stratigraphy_en}}</td></tr>
                  -->
                  <tr data-ng-if="(detailCtrl.results.sample__stratigraphy__stratigraphy && detailCtrl.results.sample__stratigraphy__stratigraphy != null) || (detailCtrl.results.sample__stratigraphy__stratigraphy_en && detailCtrl.results.sample__stratigraphy__stratigraphy_en != null) ">
                      <td><localize-label et="'API_TRANSLATION.SPECIMEN.SAMPLE__STRATIGRAPHY__STRATIGRAPHY'" en="'API_TRANSLATION.SPECIMEN.SAMPLE__STRATIGRAPHY__STRATIGRAPHY_EN'"/></td>
                      <td><a href data-ng-click="detailCtrl.service.openInNewWindow({object:'stratigraphy',id:detailCtrl.results.sample__stratigraphy_id})"><localize et="detailCtrl.results.sample__stratigraphy__stratigraphy" en="detailCtrl.results.sample__stratigraphy__stratigraphy_en"/></a></td>
                  </tr>

                  <!--  <tr data-ng-if="detailCtrl.results.stratigraphy_id!= null && detailCtrl.results.stratigraphy_id"><td> {{' API_TRANSLATION.SPECIMEN.STRATIGRAPHY_ID' | translate }}</td><td> {{detailCtrl.results.stratigraphy_id}}</td></tr>
                    <tr data-ng-if="detailCtrl.results.stratigraphy__stratigraphy!= null && detailCtrl.results.stratigraphy__stratigraphy"><td> {{' API_TRANSLATION.SPECIMEN.STRATIGRAPHY__STRATIGRAPHY' | translate }}</td><td> {{detailCtrl.results.stratigraphy__stratigraphy}}</td></tr>
                    <tr data-ng-if="detailCtrl.results.stratigraphy__stratigraphy_en!= null && detailCtrl.results.stratigraphy__stratigraphy_en"><td> {{' API_TRANSLATION.SPECIMEN.STRATIGRAPHY__STRATIGRAPHY_EN' | translate }}</td><td> {{detailCtrl.results.stratigraphy__stratigraphy_en}}</td></tr>
  -->
                  <tr data-ng-if="(detailCtrl.results.stratigraphy__stratigraphy && detailCtrl.results.stratigraphy__stratigraphy != null) || (detailCtrl.results.stratigraphy__stratigraphy_en && detailCtrl.results.stratigraphy__stratigraphy_en != null) ">
                      <td><localize-label et="'API_TRANSLATION.SPECIMEN.STRATIGRAPHY__STRATIGRAPHY'" en="'API_TRANSLATION.SPECIMEN.STRATIGRAPHY__STRATIGRAPHY_EN'"/></td>
                      <td><a href data-ng-click="detailCtrl.service.openInNewWindow({object:'stratigraphy',id:detailCtrl.results.stratigraphy_id})"><localize et="detailCtrl.results.stratigraphy__stratigraphy" en="detailCtrl.results.stratigraphy__stratigraphy_en"/></a></td>
                  </tr>

                  <tr data-ng-if="detailCtrl.results.stratigraphy_free!= null && detailCtrl.results.stratigraphy_free"><td> {{' API_TRANSLATION.SPECIMEN.STRATIGRAPHY_FREE' | translate }}</td><td> {{detailCtrl.results.stratigraphy_free}}</td></tr>

                  <tr data-ng-if="detailCtrl.results.specimenidentification__name!= null && detailCtrl.results.specimenidentification__name"><td> {{' API_TRANSLATION.SPECIMEN.SPECIMENIDENTIFICATION__NAME' | translate }}</td><td> {{detailCtrl.results.specimenidentification__name}}</td></tr>
                  <tr data-ng-if="detailCtrl.results.specimenidentification__taxon_id!= null && detailCtrl.results.specimenidentification__taxon_id"><td> {{' API_TRANSLATION.SPECIMEN.SPECIMENIDENTIFICATION__TAXON_ID' | translate }}</td><td> {{detailCtrl.results.specimenidentification__taxon_id}}</td></tr>
                  <tr data-ng-if="detailCtrl.results.specimenidentification__taxon__taxon!= null && detailCtrl.results.specimenidentification__taxon__taxon"><td> {{' API_TRANSLATION.SPECIMEN.SPECIMENIDENTIFICATION__TAXON__TAXON' | translate }}</td><td> {{detailCtrl.results.specimenidentification__taxon__taxon}}</td></tr>
                  <tr data-ng-if="detailCtrl.results.specimenidentification__taxon__author_year!= null && detailCtrl.results.specimenidentification__taxon__author_year"><td> {{' API_TRANSLATION.SPECIMEN.SPECIMENIDENTIFICATION__TAXON__AUTHOR_YEAR' | translate }}</td><td> {{detailCtrl.results.specimenidentification__taxon__author_year}}</td></tr>
                  <tr data-ng-if="detailCtrl.results.specimenidentification__taxon__parent__taxon!= null && detailCtrl.results.specimenidentification__taxon__parent__taxon"><td> {{' API_TRANSLATION.SPECIMEN.SPECIMENIDENTIFICATION__TAXON__PARENT__TAXON' | translate }}</td><td> {{detailCtrl.results.specimenidentification__taxon__parent__taxon}}</td></tr>
                  <tr data-ng-if="detailCtrl.results.specimenidentification__taxon__fossil_group__taxon!= null && detailCtrl.results.specimenidentification__taxon__fossil_group__taxon"><td> {{' API_TRANSLATION.SPECIMEN.SPECIMENIDENTIFICATION__TAXON__FOSSIL_GROUP__TAXON' | translate }}</td><td> {{detailCtrl.results.specimenidentification__taxon__fossil_group__taxon}}</td></tr>

                  <tr data-ng-if="(detailCtrl.results.fossil__value && detailCtrl.results.fossil__value != null) || (detailCtrl.results.fossil__value_en && detailCtrl.results.fossil__value_en != null) ">
                      <td><localize-label et="'API_TRANSLATION.SPECIMEN.FOSSIL__VALUE'" en="'API_TRANSLATION.SPECIMEN.FOSSIL__VALUE_EN'"/></td><td><localize et="detailCtrl.results.fossil__value" en="detailCtrl.results.fossil__value_en"/></td>
                  </tr>
                  <!--<tr data-ng-if="detailCtrl.results.fossil__value!= null && detailCtrl.results.fossil__value"><td> {{' API_TRANSLATION.SPECIMEN.FOSSIL__VALUE' | translate }}</td><td> {{detailCtrl.results.fossil__value}}</td></tr>
                  <tr data-ng-if="detailCtrl.results.fossil__value_en!= null && detailCtrl.results.fossil__value_en"><td> {{' API_TRANSLATION.SPECIMEN.FOSSIL__VALUE_EN' | translate }}</td><td> {{detailCtrl.results.fossil__value_en}}</td></tr>
                  -->
                  <tr data-ng-if="detailCtrl.results.agent_collected_id!= null && detailCtrl.results.agent_collected_id"><td> {{' API_TRANSLATION.SPECIMEN.AGENT_COLLECTED_ID' | translate }}</td><td> {{detailCtrl.results.agent_collected_id}}</td></tr>
                  <tr data-ng-if="detailCtrl.results.agent_collected__agent!= null && detailCtrl.results.agent_collected__agent"><td> {{' API_TRANSLATION.SPECIMEN.AGENT_COLLECTED__AGENT' | translate }}</td><td> {{detailCtrl.results.agent_collected__agent}}</td></tr>
                  <tr data-ng-if="detailCtrl.results.agent_collected__forename!= null && detailCtrl.results.agent_collected__forename"><td> {{' API_TRANSLATION.SPECIMEN.AGENT_COLLECTED__FORENAME' | translate }}</td><td> {{detailCtrl.results.agent_collected__forename}}</td></tr>
                  <tr data-ng-if="detailCtrl.results.agent_collected__surename!= null && detailCtrl.results.agent_collected__surename"><td> {{' API_TRANSLATION.SPECIMEN.AGENT_COLLECTED__SURENAME' | translate }}</td><td> {{detailCtrl.results.agent_collected__surename}}</td></tr>
                  <tr data-ng-if="detailCtrl.results.specimenreference__reference__author!= null && detailCtrl.results.specimenreference__reference__author"><td> {{' API_TRANSLATION.SPECIMEN.SPECIMENREFERENCE__REFERENCE__AUTHOR' | translate }}</td><td> {{detailCtrl.results.specimenreference__reference__author}}</td></tr>
                  <tr data-ng-if="detailCtrl.results.specimenreference__reference__title!= null && detailCtrl.results.specimenreference__reference__title"><td> {{' API_TRANSLATION.SPECIMEN.SPECIMENREFERENCE__REFERENCE__TITLE' | translate }}</td><td> {{detailCtrl.results.specimenreference__reference__title}}</td></tr>

                  <tr data-ng-if="(detailCtrl.results.original_status__value && detailCtrl.results.original_status__value != null) || (detailCtrl.results.original_status__value_en && detailCtrl.results.original_status__value_en != null) ">
                      <td><localize-label et="'API_TRANSLATION.SPECIMEN.ORIGINAL_STATUS__VALUE'" en="'API_TRANSLATION.SPECIMEN.ORIGINAL_STATUS__VALUE_EN'"/></td><td><localize et="detailCtrl.results.original_status__value" en="detailCtrl.results.original_status__value_en"/></td>
                  </tr>
                  <!--<tr data-ng-if="detailCtrl.results.original_status__value!= null && detailCtrl.results.original_status__value"><td> {{' API_TRANSLATION.SPECIMEN.ORIGINAL_STATUS__VALUE' | translate }}</td><td> {{detailCtrl.results.original_status__value}}</td></tr>
                  <tr data-ng-if="detailCtrl.results.original_status__value_en!= null && detailCtrl.results.original_status__value_en"><td> {{' API_TRANSLATION.SPECIMEN.ORIGINAL_STATUS__VALUE_EN' | translate }}</td><td> {{detailCtrl.results.original_status__value_en}}</td></tr>
                  -->
                  <tr data-ng-if="detailCtrl.results.part!= null && detailCtrl.results.part"><td> {{' API_TRANSLATION.SPECIMEN.PART' | translate }}</td><td> {{detailCtrl.results.part}}</td></tr>
                  <tr data-ng-if="detailCtrl.results.date_added!= null && detailCtrl.results.date_added"><td> {{' API_TRANSLATION.SPECIMEN.DATE_ADDED' | translate }}</td><td> {{detailCtrl.results.date_added | date:dateFormat}}</td></tr>
                  <tr data-ng-if="detailCtrl.results.type__value_en!= null && detailCtrl.results.type__value_en"><td> {{' API_TRANSLATION.SPECIMEN.TYPE__VALUE_EN' | translate }}</td><td> {{detailCtrl.results.type__value_en}}</td></tr>
                  <tr data-ng-if="detailCtrl.results.kind__value_en!= null && detailCtrl.results.kind__value_en"><td> {{' API_TRANSLATION.SPECIMEN.KIND__VALUE_EN' | translate }}</td><td> {{detailCtrl.results.kind__value_en}}</td></tr>

                    </tbody>
                </table>
            </div>
            <div class="col-lg-6" data-ng-if="detailCtrl.locality.latitude && detailCtrl.locality.longitude">
                <div id='hoverbox' class='coupontooltip'>
                    <div id='hoversystem'></div>
                    <div id='hoverstat'></div>
                </div>
                <locality-map x = "detailCtrl.locality.latitude" y = "detailCtrl.locality.longitude" name = "detailCtrl.locality.localityEn" fid = "detailCtrl.locality.localityId"></locality-map>
                <a href data-ng-click="detailCtrl.service.showGoogleMap(detailCtrl.locality.latitude, detailCtrl.locality.longitude, detailCtrl.locality.localityEn)">Google Maps</a></span>
                &ensp;&ensp;|&ensp;&ensp; <a href data-ng-click="detailCtrl.service.showEstonianLandBoardMap(detailCtrl.locality.latitude, detailCtrl.locality.longitude)" data-ng-if="detailCtrl.locality.countryEn == 'Estonia'">Maa-amet / Estonian Land Board</a>
            </div>
        </div>
    </div>
    <div class="panel-body" style="margin-left: 15px; margin-right: 15px;">
        <div class="row" data-ng-if="detailCtrl.specimenIdentifications.length > 0">
            <label>Identifications (minerals and rocks)</label>
            <table class="table table-bordered table-hover">
                <thead>
                <tr>
                    <th>Name</th>
                    <th>Formula</th>
                    <th>Det.</th>
                    <th>Date added?</th>
                    <th>Reference</th>
                    <th>Remarks</th>
                </tr>
                </thead>
                <tbody>
                <tr style="cursor: pointer; " data-ng-repeat="entity in detailCtrl.specimenIdentifications">
                    <td><a href="http://fossiilid.info/{{entity.id}}">{{entity.taxon__taxon}}</a></td>
                    <td>{{entity.soil_horizon}}</td>
                    <td></td>
                    <td>{{entity.date_added  | date:dateFormat}}</td>
                    <td>{{entity.reference__reference}}</td>
                    <td>{{entity.remarks}}</td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="row" data-ng-if="detailCtrl.specimenReference.length > 0">
            <label>Reference</label>
            <table class="table table-bordered table-hover">
                <thead>
                <tr>
                    <th>Reference</th>
                    <th>Pages</th>
                    <th>Figures</th>
                    <th>DOI</th>
                    <th>Remarks</th>
                </tr>
                </thead>
                <tbody>
                <tr style="cursor: pointer; " data-ng-repeat="entity in detailCtrl.specimenReference">
                    <td><a href data-ng-click="detailCtrl.service.openInNewWindow({object:'reference',id:entity.reference_id})">{{entity.reference__reference}}</a></td>
                    <td>{{entity.pages}}</td>
                    <td>{{entity.figures}}</td>
                    <td>{{entity.reference__doi}}</td>
                    <td>{{entity.remarks}}</td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="row" data-ng-if="detailCtrl.specimenImage.length > 0">
            <label>Images</label>
            <table class="table table-bordered table-hover">
                <thead>
                </thead>
                <tbody>
                <tr style="cursor: pointer; ">
                    <td  data-ng-repeat="entity in detailCtrl.specimenImage"><show-preview img-url="entity.image_url"/></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>


</div>
