<div class="panel panel-default">
    <div class="panel-body">
        <div class="row">
            <div class="col-lg-3">
                <label> #{{stratigraphy.number}}</label>
            </div>
        </div>
        <div class="row">
            <table class="table table-bordered table-hover">
                <thead>
                </thead>
                <tbody>
                <tr data-ng-repeat="field in detailCtrl.fields" data-ng-if="detailCtrl.results[field] != null  && detailCtrl.results[field] != ''&& detailCtrl.isIncludedField(field)">
                    <td entity-field-name name="'API_TRANSLATION.STRATIGRAPHY.'+field | uppercase"></td>
                    <td entity-field-value name = "field" value="detailCtrl.results[field]" values = "detailCtrl.results"></td>
                </tr>
              <!--  <tr><td>Unit name</td><td>{{stratigraphy.stratigraphy}}</td></tr>
                <tr><td>Unit name</td><td>{{stratigraphy.stratigraphyEn}}</td></tr>
                <tr><td>Belongs to</td><td>{{stratigraphy.parentStratigraphy}}</td></tr>
                <tr><td>Overlies</td><td>weird query here...</td></tr>
                <tr><td>Type</td><td>?? stratigraphy->list_stratigraphy_type->value</td></tr>
                <tr><td>Rank</td><td>{{stratigraphy.rankValue}}</td></tr>
                <tr><td>Scope</td><td>{{stratigraphy.scopeValue}}</td></tr>
                <tr><td>Status</td><td>{{stratigraphy.statusValue}}</td></tr>
                <tr><td>Author</td><td>???</td></tr>
                <tr><td>Year</td><td>{{stratigraphy.number}}</td></tr>
                <tr><td>Etymon</td><td>{{stratigraphy.number}}</td></tr>
                <tr><td>Original locality</td><td>???</td></tr>
                <tr><td>Age top (Ma)</td><td>{{stratigraphy.number}}</td></tr>
                <tr><td>Age base (Ma)</td><td>{{stratigraphy.number}}</td></tr>
                <tr><td>Stratigraphy age</td><td>???</td></tr>
                <tr><td>Age reference</td><td>???</td></tr>
                <tr><td>Index</td><td>{{stratigraphy.indexMainHtml}}</td></tr>
                <tr><td>Stratigraphy</td><td>{{stratigraphy.indexAdditionalHtml}}</td></tr>
                <tr><td>CGMW color code</td><td>???</td></tr>
                <tr><td>USGS color code</td><td>???</td></tr>
                <tr><td>Max thickness</td><td>???</td></tr>
                <tr><td>Lithology</td><td>???</td></tr>
                <tr><td>Remarks</td><td>???</td></tr>-->
                </tbody>
            </table>

        </div>
        <div class="row">
            <label>Numeric age</label>
        </div>
        <div class="row">
            <label>References</label>
        </div>
    </div>
</div>