<div class="panel panel-default">
    <div class="panel-body">
        <div class="row">
            <div class="col-lg-3">
                <label> #{{stratigraphy.number}}</label>
            </div>
        </div>
        <div class="row" bs-loading-overlay bs-loading-overlay-reference-id="detailView" bs-loading-overlay-template-url="app/templates/main/partial/loading.overlay.html">
            <table class="table table-bordered table-hover">
                <thead>
                </thead>
                <tbody>
                <tr data-ng-repeat="field in detailCtrl.fields" data-ng-if="detailCtrl.results[field] != null  && detailCtrl.results[field] != ''&& detailCtrl.isIncludedField(field)">
                    <td entity-field-name name="'API_TRANSLATION.STRATIGRAPHY.'+field | uppercase"></td>
                    <td entity-field-value name = "field" value="detailCtrl.results[field]" values = "detailCtrl.results"></td>
                </tr>
              <!--  <tr><td>Unit name</td><td>{{stratigraphy.stratigraphy}}</td></tr>
                <tr><td>Unit name</td><td>{{stratigraphy.stratigraphyEn}}</td></tr>
                <tr><td>Belongs to</td><td>{{stratigraphy.parentStratigraphy}}</td></tr>
                <tr><td>Overlies</td><td>weird query here...</td></tr>
                <tr><td>Type</td><td>?? stratigraphy->list_stratigraphy_type->value</td></tr>
                <tr><td>Rank</td><td>{{stratigraphy.rankValue}}</td></tr>
                <tr><td>Scope</td><td>{{stratigraphy.scopeValue}}</td></tr>
                <tr><td>Status</td><td>{{stratigraphy.statusValue}}</td></tr>
                <tr><td>Author</td><td>???</td></tr>
                <tr><td>Year</td><td>{{stratigraphy.number}}</td></tr>
                <tr><td>Etymon</td><td>{{stratigraphy.number}}</td></tr>
                <tr><td>Original locality</td><td>???</td></tr>
                <tr><td>Age top (Ma)</td><td>{{stratigraphy.number}}</td></tr>
                <tr><td>Age base (Ma)</td><td>{{stratigraphy.number}}</td></tr>
                <tr><td>Stratigraphy age</td><td>???</td></tr>
                <tr><td>Age reference</td><td>???</td></tr>
                <tr><td>Index</td><td>{{stratigraphy.indexMainHtml}}</td></tr>
                <tr><td>Stratigraphy</td><td>{{stratigraphy.indexAdditionalHtml}}</td></tr>
                <tr><td>CGMW color code</td><td>???</td></tr>
                <tr><td>USGS color code</td><td>???</td></tr>
                <tr><td>Max thickness</td><td>???</td></tr>
                <tr><td>Lithology</td><td>???</td></tr>
                <tr><td>Remarks</td><td>???</td></tr>-->
                </tbody>
            </table>

        </div>
        <div class="row" data-ng-if="detailCtrl.stratigraphyReference.length > 0">
            <label>References</label>
            <table class="table table-bordered table-hover">
                <thead>
                <tr>
                    <th>Id</th>
                    <th>Reference</th>
                    <th>Pages</th>
                    <th>Remarks</th>
                </tr>
                </thead>
                <tbody>
                <tr style="cursor: pointer; " data-ng-repeat="entity in detailCtrl.stratigraphyReference">
                    <td>{{entity.id}}</td>
                    <td>{{entity.reference__reference}}</td>
                    <td>{{entity.pages}}</td>
                    <td>{{entity.remarks}}</td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="row" data-ng-if="detailCtrl.stratigraphyStratotype.length > 0">
            <label>Stratotype</label>
            <table class="table table-bordered table-hover">
                <thead>
                <tr>
                    <th>Id</th>
                    <th>Locality</th>
                    <th>Stratotype</th>
                    <th>Reference</th>
                    <th>Depth top</th>
                    <th>Depth base</th>
                    <th>Remarks</th>
                </tr>
                </thead>
                <tbody>
                <tr style="cursor: pointer; " data-ng-repeat="entity in detailCtrl.stratigraphyStratotype">
                    <td>{{entity.id}}</td>
                    <td><localize et="entity.locality__locality" en="entity.locality__locality_en"/></td>
                    <td><localize et="entity.stratotype_type__value" en="entity.stratotype_type__value_en"/></td>
                    <td>{{entity.reference__reference}}</td>
                    <td>{{entity.depth_top}}</td>
                    <td>{{entity.depth_base}}</td>
                    <td>{{entity.remarks}}</td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="row" data-ng-if="detailCtrl.stratigraphySynonym.length > 0">
            <label>Synpnym</label>
            <table class="table table-bordered table-hover">
                <thead>
                <tr>
                    <th>Id</th>
                    <th>Synonym</th>
                    <th>Language</th>
                    <th>Reference</th>
                    <th>Remarks</th>
                </tr>
                </thead>
                <tbody>
                <tr style="cursor: pointer; " data-ng-repeat="entity in detailCtrl.stratigraphySynonym">
                    <td>{{entity.id}}</td>
                    <td><localize et="entity.synonym" en="entity.synonym_en"/></td>
                    <td><localize et="entity.language__value" en="entity.language__value_en"/></td>
                    <td>{{entity.reference__reference}}</td>
                    <td>{{entity.remarks}}</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>