<header ng-include="'app/templates/main/partial/header.html'"></header>
<section id="sectionSearch">
    <div id="searches" ng-include="'app/templates/main/partial/search.html'"></div>
    <div class="container-fluid" bs-loading-overlay bs-loading-overlay-reference-id="searchView" bs-loading-overlay-template-url="app/templates/main/partial/loading.overlay.html">
        <div class="row">
            <div class="col-sm-3 col-md-3 col-lg-3">
                <div class="row">
                    <h3 class="search-heading">{{ 'SEARCH.PREPARATIONS.HEADING' | translate }} <span
                            class="badge badge-info">{{response.count}}</span>
                        <button type="submit" value="showHint" class="btn btn-info btn-sm pull-right"
                                data-ng-click="showHint()">
                            <span class="glyphicon glyphicon-question-sign"></span> {{ 'SEARCH.FAQ' | translate }}
                        </button>
                    </h3>
                </div>
                <div class="visible-xs">
                    <div class="row search-hint" ng-bind-html="main.getContent(main.doiIdentifiers)" data-ng-if="isHintHidden"></div>
                </div>
                <form ng-enter="search()">
                    <div class="row">
                        <div class="panel-heading searchGroupHeading"
                             ng-click="isIdentifierFieldsCollapsed = !isIdentifierFieldsCollapsed">
                            <h4 class="panel-title">
                                {{ 'SEARCH.CRITERIA.HEADING.PRIMARY'| translate }}
                                <section-opened-icon is-opened="isIdentifierFieldsCollapsed"/>
                            </h4>
                        </div>
                        <div uib-collapse="isIdentifierFieldsCollapsed">
                            <div class="well well-lg">
                                <div class="row searchCriterion">
                                    <div class="col-md-12 searchCriterionTitle medium-padding">
                                        <b>{{ 'SEARCH.PREPARATIONS.NUMBER' | translate }}</b>
                                        <selectdefault custom-css="searchCriterionType"
                                                       ng-model="searchParameters.number.lookUpType"></selectdefault>
                                    </div>
                                    <div class="col-md-12 medium-padding">
                                        <input type="text" ng-model="searchParameters.number.name" class="form-control"/>
                                    </div>
                                </div>
                                <div class="row searchCriterion">
                                    <div class="col-md-12 medium-padding">
                                        <b>{{ 'SEARCH.PREPARATIONS.LOCALITY' | translate }}</b>
                                        <selectdefault custom-css="searchCriterionType"
                                                       ng-model="searchParameters.locality.lookUpType"></selectdefault>
                                    </div>
                                    <div class="col-md-12 medium-padding">
                                        <autocomplete-field ng-model="searchParameters.locality.name" table="preparation" en="sample__locality__locality_en" et="sample__locality__locality"/>
                                    </div>
                                </div>
                                <div class="row searchCriterion">
                                    <div class="col-md-12 medium-padding">
                                        <b>{{ 'SEARCH.PREPARATIONS.DEPTH_M' | translate }}</b>
                                   <!--     <selectexact custom-css="searchCriterionType"
                                                     ng-model="searchParameters.depth.type"></selectexact>-->
                                    </div>
                                    <div class="col-md-12 medium-padding">
                                        <interval-field ng-model= "searchParameters.depthSince" lookup="gte"></interval-field >
                                        <interval-field ng-model= "searchParameters.depthTo" lookup="lte"></interval-field >
                                    </div>
                                </div>
                                <div class="row searchCriterion">
                                    <div class="col-md-12 medium-padding">
                                        <b>{{ 'SEARCH.PREPARATIONS.STRATIGRAPHY' | translate }}</b>
                                        <selecthierarchy custom-css="searchCriterionType"
                                                         ng-model="searchParameters.stratigraphy.lookUpType"></selecthierarchy>
                                    </div>
                                    <div class="col-md-12 medium-padding">
                                        <autocomplete-field ng-model="searchParameters.stratigraphy.name" table="preparation" en="sample__stratigraphy__stratigraphy_en" et="sample__stratigraphy__stratigraphy"/>
                                    </div>
                                </div>
                                <div class="row searchCriterion">
                                    <div class="col-md-12 medium-padding">
                                        <b>{{ 'SEARCH.PREPARATIONS.COLLECTOR' | translate }}</b>
                                        <selectdefault custom-css="searchCriterionType"
                                                       ng-model="searchParameters.collector.lookUpType"></selectdefault>
                                    </div>
                                    <div class="col-md-12 medium-padding">
                                        <autocomplete-field ng-model="searchParameters.collector.name" table="preparation" en="null" et="sample__agent_collected__agent"/>
                                    </div>
                                </div>
                                <div class="row searchCriterion">
                                    <div class="col-md-12 medium-padding">
                                        <b>{{ 'SEARCH.PREPARATIONS.DESCRIPTION' | translate }}</b>
                                        <selectdefault custom-css="searchCriterionType"
                                                       ng-model="searchParameters.description.lookUpType"></selectdefault>
                                    </div>
                                    <div class="col-md-12 medium-padding">
                                        <input type="text" ng-model="searchParameters.description.name" class="form-control" data-ng-disabled="true"/>
                                    </div>
                                </div>
                                <div class="row searchCriterion">
                                    <div class="col-md-12 medium-padding">
                                        <b>{{ 'SEARCH.PREPARATIONS.SPECIES_RECOVERED' | translate }}</b>
                                        <selectdefault custom-css="searchCriterionType"
                                                       ng-model="searchParameters.speciesRecovered.lookUpType"></selectdefault>
                                    </div>
                                    <div class="col-md-12 medium-padding">
                                        <input type="text" ng-model="searchParameters.speciesRecovered.name"
                                               class="form-control" data-ng-disabled="true"/>
                                    </div>
                                </div>
                                <div class="row searchCriterion">
                                    <div class="col-md-12 medium-padding">
                                        <b>{{ 'SEARCH.PREPARATIONS.SPECIES_FREQUENCY' | translate }}</b>
                                        <selectexact custom-css="searchCriterionType"
                                                     ng-model="searchParameters.speciesFrequency.lookUpType"></selectexact>
                                    </div>
                                    <div class="col-md-12 medium-padding">
                                        <input type="text" ng-model="searchParameters.speciesFrequency.name"
                                               class="form-control" data-ng-disabled="true"/>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div ng-include="'app/templates/search/partial/button.search.html'"></div>
                </form>
            </div>
            <div class="col-sm-9 col-md-9 col-lg-9" bs-loading-overlay bs-loading-overlay-reference-id="searchView" bs-loading-overlay-template-url="app/templates/main/partial/loading.overlay.html">
                <div class="hidden-xs">
                    <div class="row search-hint" ng-bind-html="main.getContent(main.doiIdentifiers)" data-ng-if="isHintHidden"></div>
                </div>

                <div non-isolated-include template-path="app/templates/search/preparation/preparation_results.html"/>

            </div>
        </div>
    </div>
</section>
<div ng-include="'app/templates/main/partial/contact.html'"></div>
<div ng-include="'app/templates/main/partial/footer.html'"></div>
