<div class="panel panel-default">
    <div class="panel-body">
        <div class="row">
            <div class="col-lg-3">
                <label>PROOV #{{sample.number}}</label>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6">
                <table class="table table-bordered table-hover">
                    <tr><td>Name</td><td>{{soil.site}}</td></tr>
                    <tr><td>Latitude (dec. deg.)</td><td>{{soil.latitude}}</td></tr>
                    <tr><td>Longitude (dec. deg.)</td><td>{{soil.longitude}}</td></tr>
                    <tr><td>EPSG</td><td>???</td></tr>
                    <tr><td>X (m)</td><td>????</td></tr>
                    <tr><td>Y (m)</td><td>????</td></tr>
                    <tr><td>Aeg</td><td>????</td></tr>
                    <tr><td>Aasta</td><td>???</td></tr>
                    <tr><td>Land use</td><td>{{entity.agent}}</td></tr>
                    <tr><td>Soil name</td><td>{{soil.soil}}</td></tr>
                    <tr><td>K aste A</td><td>???</td></tr>
                    <tr><td>K suurus A</td><td>????</td></tr>
                </table>
            </div>
            <div class="col-lg-6">
                <locality-map x = "sample.latitude" y = "sample.longitude" name = "sample.localityEng" fid = "sample.localityId"></locality-map>
                <a href data-ng-click="showGoogleMap(sample.latitude, sample.longitude, sample.locality, sample.localityEng)">Google Maps</a>            </span>
                <a href data-ng-click="showEstonianLandBoardMap(sample.latitude, sample.longitude)">Maa-amet / Estonian Land Board</a>
            </div>
        </div>
    </div>
    <div class="panel-body">
        <div class="row">
            <label>Horizons</label>
        </div>
        <div class="row">
            <label>Samples</label>
            <table class="table table-bordered table-hover">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>Number</th>
                    <th>Horizon</th>
                    <th>Depth, m</th>
                    <th>Remarks</th>
                </tr>
                </thead>
                <tbody>
                <tr style="cursor: pointer; " data-ng-repeat="sample in samples">
                    <td><a href data-ng-click="openInNewWindow({object:'sample',id:sample.id})">{{sample.id}}</a></td>
                    <td>{{sample.number}}</td>
                    <td>???????</td>
                    <td>{{sample.depth}} - {{sample.depthInterval}}</td>
                    <td>?????</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>