<div class="panel panel-default">
    <div class="panel-body">
        <div class="row">
            <div class="text-center">
                <h1>{{ 'SEARCH.SAMPLES.HEADING' | translate }}</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-md-7">
                <div class="row" data-ng-if="showAdditionalCriteria">
                    <label class="col-md-2">{{ 'SEARCH.SAMPLES.ID' | translate }}</label>
                    <div class="col-md-3">
                        <selectdefault ng-model = "sampleSearch.id.lookUpType"></selectdefault>
                    </div>
                    <div class="col-md-7">
                        <input type="text" ng-model="sampleSearch.id.name" class="form-control"/>
                    </div>
                </div>
                <div class="row">
                    <label class="col-md-2">{{ 'SEARCH.SAMPLES.NUMBER' | translate }}</label>
                    <div class="col-md-3">
                        <selectexact ng-model = "sampleSearch.sampleNumber.lookUpType"></selectexact>
                    </div>
                    <div class="col-md-7">
                        <input type="text" ng-model="sampleSearch.sampleNumber.name" class="form-control"/>
                    </div>
                </div>
                <div class="row">
                    <label class="col-md-2">{{ 'SEARCH.SAMPLES.LOCALITY' | translate }}</label>
                    <div class="col-md-3">
                        <selectexact ng-model = "sampleSearch.locality.lookUpType"></selectexact>
                    </div>
                    <div class="col-md-7">
                        <input type="text" class="form-control input-sm"
                               data-ng-model="sampleSearch.locality.name"
                               placeholder="input search parameter..."
                               data-uib-typeahead="e as entity.locality for entity in searchService.localitySearch($viewValue, 'locality')"
                               data-typeahead-min-length="2"
                               data-typeahead-on-select="entitySelected($item, $model)"/>
                        <!--<input type="text" ng-model="sampleSearch.locality.name" class="form-control"/>-->
                    </div>
                </div>
                <div class="row" data-ng-if="showAdditionalCriteria">
                    <label class="col-md-2">{{ 'SEARCH.SAMPLES.ADMIN_UNIT' | translate }}</label>
                    <div class="col-md-3">
                        <selectexact ng-model = "sampleSearch.country.lookUpType"></selectexact>
                    </div>
                    <div class="col-md-7">
                        <input type="text" ng-model="sampleSearch.country.name" class="form-control"/>
                    </div>
                </div>
                <div class="row">
                    <label class="col-md-2">{{ 'SEARCH.SAMPLES.DEPTH_M' | translate }}</label>
                    <div class="col-md-3">
                        <selectdefault ng-model = "sampleSearch.depth.lookUpType"></selectdefault>
                    </div>
                    <div class="col-md-7">
                        <input type="text" ng-model="sampleSearch.depth.name" class="form-control"/>
                    </div>
                </div>
                <div class="row">
                    <label class="col-md-2">{{ 'SEARCH.SAMPLES.STRATIGRAPHY' | translate }}</label>
                    <div class="col-md-3">
                        <selecthierarchy ng-model = "sampleSearch.stratigraphy.lookUpType"></selecthierarchy>
                    </div>
                    <div class="col-md-7">
                        <input type="text" class="form-control input-sm"
                               data-ng-model="sampleSearch.stratigraphy.name"
                               placeholder="input search parameter..."
                               data-uib-typeahead="e as entity.stratigraphy for entity in searchService.localitySearch($viewValue, 'stratigraphy')"
                               data-typeahead-min-length="2"
                               data-typeahead-on-select="entitySelected($item, $model)"/>
                       <!-- <input type="text" ng-model="sampleSearch.stratigraphy.name" class="form-control"/>-->
                    </div>
                </div>
                <div class="row">
                    <label class="col-md-2">{{ 'SEARCH.SAMPLES.BED_NAME_INDEX' | translate }}</label>
                    <div class="col-md-3">
                        <selectexact ng-model = "sampleSearch.stratigraphyBed.lookUpType"></selectexact>
                    </div>
                    <div class="col-md-7">
                        <input type="text" ng-model="sampleSearch.stratigraphyBed.name" class="form-control"/>
                    </div>
                </div>
                <div class="row">
                    <label class="col-md-2">{{ 'SEARCH.SAMPLES.COLLECTOR' | translate }}</label>
                    <div class="col-md-3">
                        <selectexact ng-model = "sampleSearch.agent.lookUpType"></selectexact>
                    </div>
                    <div class="col-md-7">
                        <input type="text" ng-model="sampleSearch.agent.name" class="form-control"/>
                    </div>
                </div>
                <div class="row">
                    <label class="col-md-2">{{ 'SEARCH.SAMPLES.WEIGHT' | translate }}</label>
                    <div class="col-md-3">
                        <selectdefault ng-model = "sampleSearch.mass.lookUpType"></selectdefault>
                    </div>
                    <div class="col-md-7">
                        <input type="text" ng-model="sampleSearch.mass.name" class="form-control"/>
                    </div>
                </div>
                <div class="row" data-ng-if="showAdditionalCriteria">
                    <label class="col-md-2">{{ 'SEARCH.SAMPLES.STORAGE' | translate }}</label>
                    <div class="col-md-3">
                        <selectexact ng-model = "sampleSearch.location.lookUpType"></selectexact>
                    </div>
                    <div class="col-md-7">
                        <input type="text" ng-model="sampleSearch.location.name" class="form-control"/>
                    </div>
                </div>
                <div class="row" data-ng-if="showAdditionalCriteria">
                    <label class="col-md-2">{{ 'SEARCH.SAMPLES.SPECIES_RECOVERED' | translate }}</label>
                    <div class="col-md-3">
                        <selectexact ng-model = "sampleSearch.taxon.lookUpType"></selectexact>
                    </div>
                    <div class="col-md-7">
                        <input type="text" ng-model="sampleSearch.taxon.name" class="form-control"/>
                    </div>
                </div>
                <div class="row" data-ng-if="showAdditionalCriteria">
                    <label class="col-md-2">{{ 'SEARCH.SAMPLES.SPECIES_FREQUENCY' | translate }}</label>
                    <div class="col-md-3">
                        <selectdefault ng-model = "sampleSearch.frequency.lookUpType"></selectdefault>
                    </div>
                    <div class="col-md-7">
                        <input type="text" ng-model="sampleSearch.frequency.name" class="form-control"/>
                    </div>
                </div>
                <div class="row" data-ng-if="showAdditionalCriteria">
                    <label class="col-md-2">{{ 'SEARCH.SAMPLES.TYPE_OF_ANALYSIS' | translate }}</label>
                    <div class="col-md-3">
                        <selectexact ng-model = "sampleSearch.analysis.lookUpType"></selectexact>
                    </div>
                    <div class="col-md-7">
                        <input type="text" ng-model="sampleSearch.analysis.name" class="form-control"/>
                    </div>
                </div>
                <div class="row" data-ng-if="showAdditionalCriteria">
                    <label class="col-md-2">{{ 'SEARCH.SAMPLES.COMPONENT_ANALYSED' | translate }}</label>
                    <div class="col-md-3">
                        <selectexact ng-model = "sampleSearch.component.lookUpType"></selectexact>
                    </div>
                    <div class="col-md-7">
                        <input type="text" ng-model="sampleSearch.component.name" class="form-control"/>
                    </div>
                </div>
                <div class="row" data-ng-show="showAdditionalCriteria">
                    <label class="col-md-2">{{ 'SEARCH.SAMPLES.CONTENT' | translate }}</label>
                    <div class="col-md-3">
                        <selectdefault ng-model = "sampleSearch.content.lookUpType"></selectdefault>
                    </div>
                    <div class="col-md-7">
                        <input type="text" ng-model="sampleSearch.content.name" class="form-control"/>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <a href="" data-ng-show="!showAdditionalCriteria" data-ng-click="showAdditionalCriteria = true">{{ 'SEARCH.SHOW_ADDITIONAL_CRITERIA' | translate }}</a>
                        <a href="" data-ng-show="showAdditionalCriteria" data-ng-click="showAdditionalCriteria = false">{{ 'SEARCH.HIDE_ADDITIONAL_CRITERIA' | translate }}</a>
                    </div>
                </div>
                <div class="row">
                    <label class="col-md-2">{{ 'SEARCH.INSTITUTIONS' | translate }}</label>
                    <label data-ng-repeat="state in departments"><input style="margin: 10px;" type="checkbox" value="{{state.code}}" data-ng-checked="sampleSearch.dbs.indexOf(state.code) > -1" data-ng-click="toggle(state.code)"> {{state.label}} </label>
                </div>
                <div class="row">
                    <label class="col-md-2">{{ 'SEARCH.SORT_BY' | translate }}</label>
                    <div class="col-md-3">
                        <select class="col-md-7 form-control"
                                data-ng-model="sampleSearch.sort"
                                data-ng-options="option.value as option.name for option in sortbyOptions track by option.value">
                            <option value="">{{ 'SEARCH.CHOOSE' | translate }}</option>
                        </select>
                    </div>
                    <div class="col-md-5">
                        <ascdesc ng-model = "sampleSearch.sortDir"></ascdesc>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-5">
                        <label>
                            <span>{{ 'SEARCH.SHOW_MAP' | translate }}</span>: <input type="checkbox" ng-model="showMap"/>
                        </label>
                    </div>
                </div>
                <div class="row geo-section-row no-border">
                    <button class="btn btn-default pull-right" data-ng-click="searchDefault()">Reset form</button>
                    <button class="btn btn-default pull-right" data-ng-click="search()">
                        <i class="glyphicon glyphicon-search"></i> Send query</button>
                </div>
            </div>
            <div class="col-md-5">
                SEARCHING SAMPLES
                Various rock, sediment and soil samples have been collected from drill cores, outcrops and soil sampling points. Such samples may have been analysed for physical and chemical properties, or fossil content, and the corresponding data may have been digitized or are available in old paper archives. The physical samples themselves may or may not have been stored and available for further analysis and research.
                To search samples, specify the criteria of interest. The owner institution of individual samples should be contacted for getting access to the material. Note that some preserved samples may be available only under special conditions and under collaborative research.<ul>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <localities-map localities="localities"></localities-map>
            </div>
        </div>
        <div class="row">
            <loading></loading>
            <div class="col-lg-4">
                <div class="row geo-list-info ">
                    <div class="col-md-6 text-right">
                        <p class="amount"><span>{{ 'SEARCH.NO_OF_RESULTS' | translate }}</span>: {{response.count}}</p>
                    </div>
                </div>
                <div class="text-right">
                    <ul uib-pagination boundary-links="true" ng-change="search()" items-per-page="pageSize" max-size="sampleSearch.maxSize" rotate="false" total-items="totalItems" ng-model="sampleSearch.page" class="pagination-sm" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></ul>
                </div>
                <table class="table table-bordered table-hover">
                    <thead>
                    <tr>
                        <th>{{ 'SEARCH.SAMPLES.ID' | translate }}</th>
                        <th>{{ 'SEARCH.SAMPLES.INSTITUTE' | translate }}</th>
                        <th>{{ 'SEARCH.SAMPLES.NUMBER' | translate }}</th>
                        <th></th>
                        <th>{{ 'SEARCH.SAMPLES.LOCALITY' | translate }}</th>
                        <th>{{ 'SEARCH.SAMPLES.DEPTH_M' | translate }}</th>
                        <th></th>
                        <th><span>{{ 'SEARCH.SAMPLES.STRATIGRAPHY' | translate }}</span> <em>{{ 'SEARCH.SAMPLES.LITHOSTRATIGRAPHY' | translate }}</em></th>
                        <th>{{ 'SEARCH.SAMPLES.COLLECTOR' | translate }}</th>
                        <th>{{ 'SEARCH.SAMPLES.ANAL' | translate }}</th>
                        <th>{{ 'SEARCH.SAMPLES.WEIGHT' | translate }}</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr style="cursor: pointer; " data-ng-repeat="entity in response.result">
                        <td>{{entity.id}}</td>
                        <td>{{entity.git}}</td>
                        <td><a href data-ng-click="openInNewWindow({object:'sample',id:entity.id})" >{{entity.number == null ? entity.id : entity.number}}</a></td>
                        <td>{{entity.numberAdditional}}</td>
                        <td><a href data-ng-click="openInNewWindow({object:'locality',id:entity.localityId})" >{{entity.localityEng}}</a></td>
                        <td>{{entity.depth}}</td>
                        <td>{{entity.depthInterval}}</td>
                        <td><a href data-ng-click="openInNewWindow({object:'stratigraphy',id:entity.stratigraphyId})" >{{entity.stratigraphyEng}}</a></td>
                        <td>{{entity.agent}}</td>
                        <td>???</td>
                        <td>{{entity.mass}}</td>
                    </tr>
                    </tbody>
                </table>
                <div class="text-right">
                    <ul uib-pagination boundary-links="true" ng-change="search()" items-per-page="pageSize" max-size="sampleSearch.maxSize" rotate="false" total-items="totalItems" ng-model="sampleSearch.page" class="pagination-sm" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></ul>
                </div>
            </div>
        </div>
    </div>
</div>
