<script type="text/ng-template" id="doiSearchHelp">
    <div class="search-help-popup">
        <p>DOI IDENTIFIERS DOI identifiers are used to create permanent links to various digital objects, such as research datasets or publications. For more information about DOIs and research data see DataCite portal. As of 2014 the Estonian geocollections information system SARV is part of DataCite Estonia consortium (datacite.utlib.ee) and acts as data depository for Earth Science research data in Estonia. To find particular digital object registered in SARV, and download datasets, specify one or more criteria and then click on DOI number for full details. For global DOI resolving use doi.org. Küsimuste korral võta ühendust: Olle Hints, TTÜ Geoloogia Instituut (olle.hints@ttu.ee)</p>
    </div>
</script>
<div class="panel panel-default">
    <div class="panel-body">
        <div class="row">
            <div class="text-center">
                <h1>Search: Digital Object Identifiers (DOIs)</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3">
                <div class="row margin-top-10 margin-left-0">
                    <button class="btn btn-info btn-secondary secondary-search-btn" id="secondarySearchBtn" data-ng-click="search()">
                        <i class="glyphicon glyphicon-search"></i> {{ 'SEARCH.SEND_QUERY'| translate }}
                    </button>
                    <button class="btn btn-default btn-secondary reset-search-btn noBorderRadiusBtn" data-ng-click="searchDefault()">
                        <i class="glyphicon glyphicon-erase"></i>{{ 'SEARCH.RESET_FORM'| translate }}
                    </button>
                    <button uib-popover-template="'doiSearchHelp'"
                            popover-trigger="'focus'"
                            popover-placement="'right-bottom'"
                            popover-title="Search tips"
                            type="button"
                            class="btn btn-default noBorderRadiusBtn">
                        <i class="glyphicon glyphicon-question-sign"></i>
                    </button>
                </div>
                <div class="row margin-top-10" >
                    <div class="row">
                        <div class="checkbox">
                            <label>
                                <input type="checkbox"
                                       value="showMap"
                                       data-ng-click="showMap()">
                                <span class="cr"><i class="cr-icon glyphicon glyphicon-ok"></i></span>
                                Show map
                            </label>
                        </div>
                    </div>
                </div>

                <div class="row" >
                    <div class="panel-heading searchGroupHeading" ng-click="isInstitutionsCollapsed = !isInstitutionsCollapsed">
                        <h4 class="panel-title">
                            {{ 'SEARCH.INSTITUTIONS'| translate }}
                            <section-opened-icon is-opened="isInstitutionsCollapsed"/>
                        </h4>
                    </div>
                    <div uib-collapse="isInstitutionsCollapsed" class="well well-lg">
                        <div class="row searchCriterion">
                            <div class="checkbox" data-ng-repeat="state in departments">
                                <label>
                                    <input type="checkbox"
                                           value="{{state.code}}"
                                           data-ng-checked="searchParameters.dbs.indexOf(state.code) > -1"
                                           data-ng-click="toggle(state.code)">
                                    <span class="cr"><i class="cr-icon glyphicon glyphicon-ok"></i></span>
                                    {{state.label}}
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row" >
                    <div class="panel-heading searchGroupHeading" ng-click="isIdentifierFieldsCollapsed = !isIdentifierFieldsCollapsed">
                        <h4 class="panel-title">
                            Fields
                            <section-opened-icon is-opened="isIdentifierFieldsCollapsed"/>
                        </h4>
                    </div>
                    <div uib-collapse="isIdentifierFieldsCollapsed">
                        <div class="well well-lg">
                            <div class="row searchCriterion">
                                <div class="col-md-12 searchCriterionTitle medium-padding">
                                    <b>DOI</b>
                                    <selectdefault custom-css="searchCriterionType" ng-model = "searchParameters.doi.lookUpType"></selectdefault>
                                </div>
                                <div class="col-md-12 medium-padding">
                                    <input type="text" ng-model="searchParameters.doi.name" class="form-control"/>
                                </div>
                            </div>
                            <div class="row searchCriterion">
                                <div class="col-md-12 medium-padding">
                                    <b>Title</b>
                                    <selectdefault custom-css="searchCriterionType" ng-model = "searchParameters.title.lookUpType"></selectdefault>
                                </div>
                                <div class="col-md-12 medium-padding">
                                    <input type="text" ng-model="searchParameters.title.name" class="form-control"/>
                                </div>
                            </div>
                            <div class="row searchCriterion">
                                <div class="col-md-12 medium-padding">
                                    <b>Published by</b>
                                    <selectdefault custom-css="searchCriterionType" ng-model="searchParameters.publishedBy.type"></selectdefault>
                                </div>
                                <div class="col-md-12 medium-padding">
                                    <input type="text" ng-model="searchParameters.publishedBy.value" class="form-control"/>
                                </div>
                            </div>
                            <div class="row searchCriterion">
                                <div class="col-md-12 medium-padding">
                                    <b>Year</b>
                                    <selectdefault custom-css="searchCriterionType" ng-model = "searchParameters.year.lookUpType"></selectdefault>
                                </div>
                                <div class="col-md-12 medium-padding">
                                    <input type="text" ng-model="searchParameters.year.name" class="form-control"/>
                                </div>
                            </div>
                            <div class="row searchCriterion">
                                <div class="col-md-12 medium-padding">
                                    <b>Author</b>
                                    <selectdefault custom-css="searchCriterionType" ng-model = "searchParameters.author.lookUpType"></selectdefault>
                                </div>
                                <div class="col-md-12 medium-padding">
                                    <input type="text" ng-model="searchParameters.author.name" class="form-control"/>
                                </div>
                            </div>
                            <div class="row searchCriterion">
                                <div class="col-md-12 medium-padding">
                                    <b>Abstract</b>
                                    <selectdefault custom-css="searchCriterionType" ng-model = "searchParameters.abstract.lookUpType"></selectdefault>
                                </div>
                                <div class="col-md-12 medium-padding">
                                    <input type="text" ng-model="searchParameters.abstract.name" class="form-control"/>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="col-lg-9">
                <div class="row geo-list-info ">
                    <div class="text-center">
                        <p class="amount"><span>{{ 'SEARCH.NO_OF_RESULTS'| translate }}</span>: {{response.count}}</p>
                    </div>
                </div>
                <div class="text-center">
                    <ul uib-pagination boundary-links="true" ng-change="search()" items-per-page="pageSize" max-size="searchParameters.maxSize" rotate="false"
                        total-items="totalItems" ng-model="searchParameters.page" class="pagination-sm" previous-text="&lsaquo;" next-text="&rsaquo;"
                        first-text="&laquo;" last-text="&raquo;"></ul>
                </div>
                <table class="table table-bordered table-hover">
                    <thead>
                    <tr>
                        <th>
                            <a href style="cursor: pointer" data-ng-click="order('id')"><span>ID</span>
                                <span data-ng-show="searchParameters.sortField.sortBy == 'id' && sortByAsc" class="glyphicon glyphicon-chevron-down"></span>
                                <span data-ng-show="searchParameters.sortField.sortBy == 'id' && !sortByAsc" class="glyphicon glyphicon-chevron-up"></span>
                            </a>
                        </th>
                        <th>
                            <a href style="cursor: pointer" data-ng-click="order('doi')"><span>DOI</span>
                                <span data-ng-show="searchParameters.sortField.sortBy == 'doi' && sortByAsc" class="glyphicon glyphicon-chevron-down"></span>
                                <span data-ng-show="searchParameters.sortField.sortBy == 'doi' && !sortByAsc" class="glyphicon glyphicon-chevron-up"></span>
                            </a>
                        </th>
                        <th>Author</th>
                        <th>Year</th>
                        <th>Title</th>
                        <th>Type</th>
                        <th>DataCite registration</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr style="cursor: pointer; " data-ng-repeat="entity in response.result">
                        <td>{{entity.id}}</td>
                        <td>{{entity.doi}}</td>
                        <td>{{entity.author}}</td>
                        <td>{{entity.year}}</td>
                        <td>{{entity.title}}</td>
                        <td>???</td>
                        <td>???</td>
                    </tr>
                    </tbody>
                </table>
                <div class="text-center">
                    <ul uib-pagination boundary-links="true" ng-change="search()" items-per-page="pageSize" max-size="searchParameters.maxSize" rotate="false"
                        total-items="totalItems" ng-model="searchParameters.page" class="pagination-sm" previous-text="&lsaquo;" next-text="&rsaquo;"
                        first-text="&laquo;" last-text="&raquo;"></ul>
                </div>
            </div>
        </div>

        </div>
    </div>
</div>