<div class="modal-header">
    <button type="button" class="close" ng-click="cancel()" title="{{ 'CLOSE' | translate }}">
        <span aria-hidden="true">&times;</span>
    </button>
    <h4>{{ 'CONFIRM_DELETE_MODAL' | translate }}</h4>
</div>
<div class="modal-body">
    <p></p>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-default pull-left" data-ng-click="cancel()">
        {{ 'CANCEL' | translate }}
    </button>
    <button type="button" class="btn btn-danger" data-dismiss="modal" ng-click="confirm()">
        {{ 'DELETE' | translate }}
    </button>
</div>
