<div class="modal-header">
    <h1 class="modal-title">{{ 'EDITING' | translate }}</h1>
</div>
<form name="documentNotesForm" autocomplete="off" novalidate>
    <div class="modal-body">
        <div class="row geo-section-row">
            <label for="notes" class="col-md-2 control-label">{{ 'NOTE' | translate }}:</label>
            <div class="col-md-10">
                <textarea rows="3" ng-model="notes" class="form-control" id="notes"></textarea>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-default" ng-click="cancel()">{{ 'CANCEL' | translate }}</button>
        <button class="btn btn-success" ng-click="ok()">{{ 'SAVE' | translate }}</button>
    </div>
</form>