<div class="panel panel-default">
    <div class="panel-body">
        <div class="row">
            <div class="text-center">
                <h1>Search: Soil sites</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="row" data-ng-if="showAdditionalCriteria">
                    <label class="control-label col-md-2">ID</label>
                    <div class="col-md-3">
                        <selectexact ng-model = "searchParameters.id.lookUpType"></selectexact>
                    </div>
                    <div class="col-md-7">
                        <input type="text" ng-model="searchParameters.id.name" class="form-control"/>
                    </div>
                </div>
                <div class="row">
                    <label class="control-label col-md-2">Site</label>
                    <div class="col-md-3">
                        <selectdefault ng-model = "searchParameters.site.lookUpType"></selectdefault>
                    </div>
                    <div class="col-md-7">
                        <input type="text" ng-model="searchParameters.site.name" class="form-control"/>
                    </div>
                </div>
                <div class="row">
                    <label class="control-label col-md-2">Area of study</label>
                    <div class="col-md-3">
                        <selectdefault ng-model = "searchParameters.areaOfStudy.lookUpType"></selectdefault>
                    </div>
                    <div class="col-md-7">
                        <input type="text" ng-model="searchParameters.areaOfStudy.name" class="form-control"/>
                    </div>
                </div>
                <div class="row">
                    <label class="control-label col-md-2">Transect</label>
                    <div class="col-md-3">
                        <selectdefault ng-model = "searchParameters.transect.lookUpType"></selectdefault>
                    </div>
                    <div class="col-md-7">
                        <input type="text" ng-model="searchParameters.transect.name" class="form-control"/>
                    </div>
                </div>
                <div class="row">
                    <label class="control-label col-md-2">Soil name</label>
                    <div class="col-md-3">
                        <selectdefault ng-model = "searchParameters.soilName.lookUpType"></selectdefault>
                    </div>
                    <div class="col-md-7">
                        <input type="text" ng-model="searchParameters.soilName.name" class="form-control"/>
                    </div>
                </div>
                <div class="row">
                    <label class="control-label col-md-2">Land use</label>
                    <div class="col-md-3">
                        <selectdefault ng-model = "searchParameters.landUse.lookUpType"></selectdefault>
                    </div>
                    <div class="col-md-7">
                        <input type="text" ng-model="searchParameters.landUse.name" class="form-control"/>
                    </div>
                </div>
                <div class="row">
                    <label class="control-label col-md-2">Deep mining</label>
                    <div class="col-md-7">
                        <input type="checkbox" ng-model="searchParameters.deepMining"/>
                    </div>
                </div>
                <div class="row">
                    <a href="" data-ng-show="!showAdditionalCriteria" data-ng-click="showAdditionalCriteria = true">Show additional criteria</a>
                    <a href="" data-ng-show="showAdditionalCriteria" data-ng-click="showAdditionalCriteria = false">Hide additional criteria</a>
                </div>
                <div class="row">
                    <label class="control-label col-md-2">Sort by:</label>
                    <div class="col-md-5">
                        <select class="col-md-4 form-control"
                                data-ng-model="searchParameters.sortField.sortBy"
                                data-ng-options="option.name for option in sortbyOptions track by option.value">
                            <option value="">-- Choose --</option>
                        </select>
                    </div>
                    <div class="col-md-5">
                        <ascdesc></ascdesc>
                    </div>
                    <div class="row">
                        <div class="col-md-5">
                            <label>
                                Show map: <input type="checkbox" ng-model="showMap"/>
                            </label>
                        </div>
                    </div>
                    <div class="row geo-section-row no-border">
                        <button class="btn btn-default pull-right" data-ng-click="defaultSearch()"><i class="glyphicon glyphicon-erase"></i> Reset form</button>
                        <button class="btn btn-default pull-right" data-ng-click="search()">
                            <i class="glyphicon glyphicon-search"></i> Send query</button>
                    </div>
                </div>
            </div>
            <div class="col-md-5">
                SEARCH TIPS:

                First select the base table (specimens, samples, localities, references etc);
                Specify one or more criteria; NB! search is case insensitive; for text fields partial matches are returned by default (for instance, search 'asap' in specimen name field will find 'Asaphus sp.' as well as 'Asaphus expansus'); for stratigraphy and classification the search is hierarchical by default, for number fields exact maches will be searched if user does not specify otherwise;
                To show a map where available, tick the appropriate checkbox;
                To show detailed information follow the links in the results table.
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4">
                <div class="row geo-list-info ">
                    <div class="col-md-6 text-right">
                        <p class="amount">Kokku: {{response.count}}</p>
                    </div>
                </div>
                <table class="table table-bordered table-hover">
                    <thead>
                    <tr>
                        <th>ID</th>
                        <th>Site</th>
                        <th>Area of study</th>
                        <th>Transect</th>
                        <th>Point on the transect</th>
                        <th>Soil name</th>
                        <th>Land use</th>
                        <th>Lat.</th>
                        <th>Lon.</th>
                        <th>Is deep mining</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr style="cursor: pointer; " data-ng-repeat="entity in response.result">
                        <td><a href data-ng-click="openInNewWindow({object:'soil',id:entity.id})">{{entity.id}}</a></td>
                        <td>{{entity.site}}</td>
                        <td>{{entity.areaOfStudy}}</td>
                        <td>{{entity.transect}}</td>
                        <td>{{entity.transectPoint}}</td>
                        <td>{{entity.soil}}</td>
                        <td>{{entity.landUse}}</td>
                        <td>{{entity.latitude}}</td>
                        <td>{{entity.longitude}}</td>
                        <td>{{entity.isDeep}}</td>
                    </tr>
                    </tbody>
                </table>
                <div class="text-right">
                    <ul uib-pagination boundary-links="true" ng-change="search()" items-per-page="pageSize" max-size="maxSize" rotate="false" total-items="totalItems" ng-model="searchParameters.page" class="pagination-sm" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></ul>
                </div>
            </div>
        </div>
    </div>
</div>