<div class="panel panel-default">
    <div class="panel-body">
        <div class="row">
            <div class="text-center">
                <h1>{{ 'SEARCH.PREPARATIONS.HEADING' | translate }}</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="row">
                    <label class="control-label col-md-2">{{ 'SEARCH.PREPARATIONS.NUMBER' | translate }}</label>
                    <div class="col-md-3">
                        <selectdefault ng-model = "preparationSearch.number.lookUpType"></selectdefault>
                    </div>
                    <div class="col-md-7">
                        <input type="text" ng-model="preparationSearch.number.name" class="form-control"/>
                    </div>
                </div>
                <div class="row">
                    <label class="control-label col-md-2">{{ 'SEARCH.PREPARATIONS.LOCALITY' | translate }}</label>
                    <div class="col-md-3">
                        <selectdefault ng-model = "preparationSearch.locality.lookUpType"></selectdefault>
                    </div>
                    <div class="col-md-7">
                        <input type="text" ng-model="preparationSearch.locality.name" class="form-control"/>
                    </div>
                </div>
                <div class="row">
                    <label class="control-label col-md-2">{{ 'SEARCH.PREPARATIONS.DEPTH_M' | translate }}</label>
                    <div class="col-md-3">
                        <selectexact ng-model = "preparationSearch.depth.lookUpType"></selectexact>
                    </div>
                    <div class="col-md-7">
                        <input type="text" ng-model="preparationSearch.depth.name" class="form-control"/>
                    </div>
                </div>
                <div class="row">
                    <label class="control-label col-md-2">{{ 'SEARCH.PREPARATIONS.STRATIGRAPHY' | translate }}</label>
                    <div class="col-md-3">
                        <selecthierarchy ng-model = "preparationSearch.stratigraphy.lookUpType"></selecthierarchy>
                    </div>
                    <div class="col-md-7">
                        <input type="text" ng-model="preparationSearch.stratigraphy.name" class="form-control"/>
                    </div>
                </div>
                <div class="row">
                    <label class="control-label col-md-2">{{ 'SEARCH.PREPARATIONS.COLLECTOR' | translate }}</label>
                    <div class="col-md-3">
                        <selectdefault ng-model = "preparationSearch.collector.lookUpType"></selectdefault>
                    </div>
                    <div class="col-md-7">
                        <input type="text" ng-model="preparationSearch.collector.name" class="form-control"/>
                    </div>
                </div>
                <div class="row">
                    <label class="control-label col-md-2">{{ 'SEARCH.PREPARATIONS.DESCRIPTION' | translate }}</label>
                    <div class="col-md-3">
                        <selectdefault ng-model = "preparationSearch.description.lookUpType"></selectdefault>
                    </div>
                    <div class="col-md-7">
                        <input type="text" ng-model="preparationSearch.description.name" class="form-control"/>
                    </div>
                </div>
                <div class="row">
                    <label class="control-label col-md-2">{{ 'SEARCH.PREPARATIONS.SPECIES_RECOVERED' | translate }}</label>
                    <div class="col-md-3">
                        <selectdefault ng-model = "preparationSearch.speciesRecovered.lookUpType"></selectdefault>
                    </div>
                    <div class="col-md-7">
                        <input type="text" ng-model="preparationSearch.speciesRecovered.name" class="form-control"/>
                    </div>
                </div>
                <div class="row">
                    <label class="control-label col-md-2">{{ 'SEARCH.PREPARATIONS.SPECIES_FREQUENCY' | translate }}</label>
                    <div class="col-md-3">
                        <selectexact ng-model = "preparationSearch.speciesFrequency.lookUpType"></selectexact>
                    </div>
                    <div class="col-md-7">
                        <input type="text" ng-model="preparationSearch.speciesFrequency.name" class="form-control"/>
                    </div>
                </div>
                <div class="row">
                    <a href="" data-ng-show="!showAdditionalCriteria" data-ng-click="showAdditionalCriteria = true">{{ 'SEARCH.SHOW_ADDITIONAL_CRITERIA' | translate }}</a>
                    <a href="" data-ng-show="showAdditionalCriteria" data-ng-click="showAdditionalCriteria = false">{{ 'SEARCH.HIDE_ADDITIONAL_CRITERIA' | translate }}</a>
                </div>
                <div class="row">
                    <label class="control-label col-md-2"><span>{{ 'SEARCH.SORT_BY' | translate }}</span>:</label>
                    <div class="col-md-5">
                        <select class="col-md-4 form-control"
                                data-ng-model="stratigraphicSearch.content.lookUpType"
                                data-ng-options="option.name for option in sortbyOptions track by option.value">
                            <option value="">{{ 'SEARCH.CHOOSE' | translate }}</option>
                        </select>
                    </div>
                    <div class="col-md-5">
                        <ascdesc></ascdesc>
                    </div>
                    <div class="row">
                        <div class="col-md-5">
                            <label>
                                <span>{{ 'SEARCH.SHOW_MAP' | translate }}</span>: <input type="checkbox" ng-model="showMap"/>
                            </label>
                        </div>
                    </div>
                    <div class="row geo-section-row no-border">
                        <button class="btn btn-default pull-right" data-ng-click="defaultSearch()"><i class="glyphicon glyphicon-erase"></i>{{ 'SEARCH.RESET_FORM' | translate }}</button>
                        <button class="btn btn-default pull-right" data-ng-click="search()">
                            <i class="glyphicon glyphicon-search"></i>{{ 'SEARCH.SEND_QUERY' | translate }}</button>
                    </div>
                </div>
            </div>
            <div class="col-md-5">
                SEARCH TIPS:

                First select the base table (specimens, samples, localities, references etc);
                Specify one or more criteria; NB! search is case insensitive; for text fields partial matches are returned by default (for instance, search 'asap' in specimen name field will find 'Asaphus sp.' as well as 'Asaphus expansus'); for stratigraphy and classification the search is hierarchical by default, for number fields exact maches will be searched if user does not specify otherwise;
                To show a map where available, tick the appropriate checkbox;
                To show detailed information follow the links in the results table.

            </div>
        </div>
        <div class="row">
            <div class="col-lg-4">
                <div class="row geo-list-info ">
                    <div class="col-md-6 text-right">
                      <p class="amount"><span>{{ 'SEARCH.NO_OF_RESULTS' | translate }}</span>: {{response.count}}</p>
                    </div>
                </div>
                <table class="table table-bordered table-hover">
                    <thead>
                    <tr>
                        <th>{{ 'SEARCH.PREPARATIONS.TABLE.ID' | translate }}</th>
                        <th>{{ 'SEARCH.PREPARATIONS.TABLE.NUMBER' | translate }}</th>
                        <th>{{ 'SEARCH.PREPARATIONS.TABLE.LOCALITY' | translate }}</th>
                        <th>{{ 'SEARCH.PREPARATIONS.TABLE.DEPTH_M' | translate }}</th>
                        <th><span>{{ 'SEARCH.PREPARATIONS.TABLE.STRATIGRAPHY' | translate }}</span> | <em>{{ 'SEARCH.PREPARATIONS.TABLE.LITHOSTRATIGRAPHY' | translate }}</em></th>
                        <th>{{ 'SEARCH.PREPARATIONS.TABLE.COLLECTOR' | translate }}</th>
                        <th>{{ 'SEARCH.PREPARATIONS.TABLE.WEIGHT' | translate }}</th>
                        <th>{{ 'SEARCH.PREPARATIONS.TABLE.MORE_INFO' | translate }}</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr style="cursor: pointer; " data-ng-repeat="entity in response.results">
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    </tbody>
                </table>
                <div class="text-right">
                    <ul uib-pagination boundary-links="true" ng-change="searchByPage()" items-per-page="pageSize" max-size="maxSize" rotate="false" total-items="totalItems" ng-model="pageNum" class="pagination-sm" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></ul>
                </div>
            </div>
        </div>
    </div>
</div>
