<section id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">{{ 'INFO.HEADING' | translate }}</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="service-box">
                    <i class="fa fa-4x fa-globe text-primary sr-icons"></i>
                    <h3>{{ 'INFO.COLLECTIONS_IN_GEOLOGY.HEADING' | translate }}</h3>
                    <p>
                        {{ 'INFO.COLLECTIONS_IN_GEOLOGY.PARAGRAPH_ONE' | translate }}
                    </p>
                    <p>
                        {{ 'INFO.COLLECTIONS_IN_GEOLOGY.PARAGRAPH_TWO' | translate }}
                    </p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="service-box">
                    <i class="fa fa-4x fa-map-marker text-primary sr-icons"></i>
                    <h3>{{ 'INFO.COLLECTIONS_IN_ESTONIA.HEADING' | translate }}</h3>
                    <p>
                        {{ 'INFO.COLLECTIONS_IN_ESTONIA.PARAGRAPH_ONE' | translate }}
                    </p>
                    <ul class="fa-ul ul-square">
                        <li><a href="http://www.gi.ee">{{ 'INFO.COLLECTIONS_IN_ESTONIA.LI_ONE' | translate }}</a></li>
                        <li><a href="http://natmuseum.ut.ee/388858">{{ 'INFO.COLLECTIONS_IN_ESTONIA.LI_TWO' | translate }}</a></li>
                        <li><a href="http://www.loodusmuuseum.ee">{{ 'INFO.COLLECTIONS_IN_ESTONIA.LI_THREE' | translate }}</a></li>
                        <li><a href="http://www.geoloogia.ut.ee">{{ 'INFO.COLLECTIONS_IN_ESTONIA.LI_FOUR' | translate }}</a></li>
                        <li><a href="http://kogud.emu.ee/mullamuuseum/">{{ 'INFO.COLLECTIONS_IN_ESTONIA.LI_FIVE' | translate }}</a></li>
                    </ul>
                    <p>
                        {{ 'INFO.COLLECTIONS_IN_ESTONIA.PARAGRAPH_TWO' | translate }} <a href="http://www.egk.ee">{{ 'INFO.COLLECTIONS_IN_ESTONIA.PARAGRAPH_TWO_A_LINK' | translate }}</a>.
                    </p>
                    <p>
                        <a class="page-scroll-to-additional" data-target="#infoCarousel" data-slide-to="1" role="button">{{ 'INDEX.READ_MORE' | translate }} &raquo;</a>
                    </p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="service-box">
                    <i class="fa fa-4x fa-database text-primary sr-icons"></i>
                    <h3>{{ 'INFO.COMMON_DATABASE.HEADING' | translate }}</h3>
                    <p>
                        {{ 'INFO.COMMON_DATABASE.LINE_ONE' | translate }} <a href="?page=21">{{ 'INFO.COMMON_DATABASE.LINE_TWO' | translate }}</a>
                    </p>
                    <p>
                        {{ 'INFO.COMMON_DATABASE.LINE_THREE' | translate }}<a href="search.php">{{ 'INFO.COMMON_DATABASE.LINE_FOUR' | translate }}</a>
                        {{ 'INFO.COMMON_DATABASE.LINE_FIVE' | translate }}
                        <a href="search.php?currentTable=specimen_union">{{ 'INFO.COMMON_DATABASE.LINE_SPECIMENS' | translate }}</a>,
                        <a href="search.php?currentTable=sample">{{ 'INFO.COMMON_DATABASE.LINE_ROCK' | translate }}</a>,
                        <a href="search.php?currentTable=drillcore">{{ 'INFO.COMMON_DATABASE.LINE_DRILL_CORE' | translate }}</a>,
                        <a href="search.php?currentTable=locality">{{ 'INFO.COMMON_DATABASE.LINE_LOCALITIES' | translate }}</a>,
                        <a href="search.php?currentTable=reference">{{ 'INFO.COMMON_DATABASE.LINE_REFERENCES' | translate }}</a>,
                        <a href="search.php?currentTable=image">{{ 'INFO.COMMON_DATABASE.LINE_PHOTO_ARCHIVE' | translate }}</a> {{ 'INFO.COMMON_DATABASE.LINE_ETC' | translate }}
                    </p>
                    <p>
                        {{ 'INFO.COMMON_DATABASE.PARAGRAPH_TWO_LINE_ONE' | translate }}
                        <a href="http://fossiilid.info">{{ 'INFO.COMMON_DATABASE.PARAGRAPH_TWO_LINE_TWO' | translate }} </a>
                        {{ 'INFO.COMMON_DATABASE.PARAGRAPH_TWO_LINE_THREE' | translate }}
                        <a href="http://ermas.geokogud.info">{{ 'INFO.COMMON_DATABASE.PARAGRAPH_TWO_LINE_FOUR' | translate }}</a>.
                    </p>
                    <p>
                        {{ 'INFO.COMMON_DATABASE.PARAGRAPH_THREE_LINE_ONE' | translate }} <strong>336194</strong>
                        {{ 'INFO.COMMON_DATABASE.PARAGRAPH_THREE_LINE_TWO' | translate }} <b>95911</b>
                        {{ 'INFO.COMMON_DATABASE.PARAGRAPH_THREE_LINE_THREE' | translate }} <b>2017-04-17 18:06:28.</b>
                    </p>
                    <p>
                        <a class="page-scroll-to-additional" data-target="#infoCarousel" data-slide-to="4" role="button">{{ 'INDEX.READ_MORE' | translate }} &raquo;</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>