<footer>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div id="footer-logos">
                    <a href="http://geokogud.info">
                        <img data-toggle="tooltip" data-placement="bottom" title="{{ 'INDEX.FOOTER.SARV_TITLE' | translate }}" src="img/logos/sarv_logo_valge1.png" alt="{{ 'INDEX.FOOTER.SARV_ALT' | translate }}">
                    </a>
                    <a href="http://natarc.ut.ee">
                        <img data-toggle="tooltip" data-placement="bottom" title="{{ 'INDEX.FOOTER.NATARC_TITLE' | translate }}" src="img/logos/NATARC_transparent.png" alt="{{ 'INDEX.FOOTER.NATARC_ALT' | translate }}">
                    </a>
                    <a href="http://datacite.ut.ee">
                        <img data-toggle="tooltip" data-placement="bottom" title="{{ 'INDEX.FOOTER.DATACITE_TITLE' | translate }}" src="img/logos/logo_datacite_bw.png" alt="{{ 'INDEX.FOOTER.DATACITE_ALT' | translate }}">
                    </a>
                    <a href="http://struktuurifondid.ee">
                        <img data-toggle="tooltip" data-placement="bottom" title="{{ 'INDEX.FOOTER.EU_TITLE' | translate }}" src="img/logos/EL_mv.png" alt="{{ 'INDEX.FOOTER.EU_ALT' | translate }}">
                    </a>
                    <a href="http://kik.ee">
                    <img data-toggle="tooltip" data-placement="bottom" title="{{ 'INDEX.FOOTER.EIC_TITLE' | translate }}" src="img/logos/kik_bw.png" alt="{{ 'INDEX.FOOTER.EIC_ALT' | translate }}" height=70>
                    </a>
                </div>
                <small><img src="img/logos/cc.png" alt="cc" height="15"> 2008-2017.<span> {{ 'INDEX.SARV_CC' | translate }}</span>
                    <span> {{ 'INDEX.FOOTER_MESSAGE' | translate }} </span>
                </small>
            </div>
        </div>
    </div>
</footer>
