<div class="container-fluid">
    <ul class="nav nav-tabs nav-fill navbar-center" role="tablist">
        <li class="nav-item" data-ui-sref-active="active" role="presentation"><a role="tab" href ng-click="selectTab('specimen')">{{ 'SEARCH.SPECIMENS.HEADING' | translate }}</a></li>
        <li class="nav-item" data-ui-sref-active="active" role="presentation"><a role="tab" href ng-click="selectTab('sample')">{{ 'SEARCH.SAMPLES.HEADING' | translate }}</a></li>
        <li class="nav-item" data-ui-sref-active="active" role="presentation"><a role="tab" href ng-click="selectTab('drillcore')">{{ 'SEARCH.DRILL_CORES.HEADING' | translate }}</a></li>
        <li class="nav-item" data-ui-sref-active="active" role="presentation"><a role="tab" href ng-click="selectTab('locality')">{{ 'SEARCH.LOCATILIES.HEADING' | translate }}</a></li>
        <li class="nav-item" data-ui-sref-active="active" role="presentation"><a role="tab" href ng-click="selectTab('reference')">{{ 'SEARCH.REFERENCES.HEADING' | translate }}</a></li>
        <li class="nav-item" data-ui-sref-active="active" role="presentation"><a role="tab" href ng-click="selectTab('stratigraphy')">{{ 'SEARCH.STRATIGRAPHY.STRATIGRAPHY' | translate }}</a></li>
        <li class="nav-item" data-ui-sref-active="active" role="presentation"><a role="tab" href ng-click="selectTab('analysis')">{{ 'SEARCH.ANALYSES.HEADING' | translate }}</a></li>
        <li class="nav-item" data-ui-sref-active="active" role="presentation"><a role="tab" href ng-click="selectTab('preparation')">{{ 'SEARCH.PREPARATIONS.HEADING' | translate }}</a></li>
        <li class="nav-item" data-ui-sref-active="active" role="presentation"><a role="tab" href ng-click="selectTab('image')">{{ 'SEARCH.PHOTO_ARCHIVE.HEADING' | translate }}</a></li>
        <li class="nav-item" data-ui-sref-active="active" role="presentation"><a role="tab" href ng-click="selectTab('soil_site')">{{ 'SEARCH.SOIL_SITES.SOIL' | translate }}</a></li>
        <li class="nav-item" data-ui-sref-active="active" role="presentation"><a role="tab" href ng-click="selectTab('doi')">{{ 'SEARCH.DOI.DOI' | translate }}</a></li>
    </ul>
</div>
