<div class="header-content">
    <div class="header-content-inner">
        <h1 id="homeHeading">{{ 'INDEX.GEOCOLLECTIONS_HEADER' | translate }}</h1>
        <hr>
        <form class="navbar-form" role="search" ng-show="!main.isDetailForm()">
            <div class="input-group input-group-lg">
                <input type="text" class="form-control input-lg"
                       placeholder="{{ 'INDEX.SEARCH_FIELD_TEXT' | translate }}">
                <div class="input-group-btn">
                    <button type="button" class="btn btn-primary btn-lg">
                        <i class="fa fa-search sr-icons" aria-hidden="true"></i>
                    </button>
                </div>
            </div>
        </form>
        <a ng-show="!main.isDetailForm()" href data-ui-sref="search" id="button-extended-search" class="page-scroll-to-searches">{{ 'INDEX.EXTENDED_SEARCH_LINK' | translate }}</a>
    </div>
</div>