<aside class="bg-dark" id="resources">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2 class="text-muted">{{ 'INDEX.USEFUL_INFO' | translate }}</h2>
                <div class="col-md-6">
                    <p><a class="page-scroll-to-additional" href data-ui-sref="usingcollection">{{ 'INDEX.USING_COLLECTIONS_LINK' | translate }}</a></p>
                    <p><a href="http://api.geokogud.info/" target="_blank">{{ 'INDEX.PUBLIC_API_LINK' | translate }}</a></p>
                    <p><a class="page-scroll-to-additional" href data-ui-sref="git">{{ 'INDEX.GIT_TUT' | translate }}</a></p>
                </div>
                <div class="col-md-6">
                    <p><a class="page-scroll-to-additional" href data-ui-sref="news">{{'INDEX.NEWS_LINK' | translate }}</a></p>
                    <p><a href="http://fossiilid.info/" target="_blank" data-toggle="tooltip" data-placement="bottom" title="A web portal on Baltoscandian fossils">Fossils</a></p>
                    <p><a href="http://ermas.geokogud.info/" target="_blank" data-toggle="tooltip" data-placement="bottom" title="Analytical database of rocks and sediments of Estonia">ERMAS</a></p>
                </div>
            </div>
        </div>
    </div>
</aside>