<section>
    <div class="container-fluid">
        <ul class="nav nav-tabs nav-fill navbar-center" role="tablist">
            <li class="nav-item" data-ui-sref-active="active" role="presentation"><a data-toggle="tab" role="tab" data-toggle="tab" data-ui-sref="specimens">{{ 'SEARCH.SPECIMENS.HEADING' | translate }}</a></li>
            <li class="nav-item" data-ui-sref-active="active" role="presentation"><a data-toggle="tab" role="tab" data-toggle="tab" data-ui-sref="samples">{{ 'SEARCH.SAMPLES.HEADING' | translate }}</a></li>
            <li class="nav-item" data-ui-sref-active="active" role="presentation"><a data-toggle="tab" role="tab" data-toggle="tab" data-ui-sref="drillcores">{{ 'SEARCH.DRILL_CORES.HEADING' | translate }}</a></li>
            <li class="nav-item" data-ui-sref-active="active" role="presentation"><a data-toggle="tab" role="tab" data-toggle="tab" data-ui-sref="localities">{{ 'SEARCH.LOCATILIES.HEADING' | translate }}</a></li>
            <li class="nav-item" data-ui-sref-active="active" role="presentation"><a data-toggle="tab" role="tab" data-toggle="tab" data-ui-sref="references">{{ 'SEARCH.REFERENCES.HEADING' | translate }}</a></li>
            <li class="nav-item" data-ui-sref-active="active" role="presentation"><a data-toggle="tab" role="tab" data-toggle="tab" data-ui-sref="stratigraphies">{{ 'SEARCH.STRATIGRAPHY.STRATIGRAPHY' | translate }}</a></li>
            <li class="nav-item" data-ui-sref-active="active" role="presentation"><a data-toggle="tab" role="tab" data-toggle="tab" data-ui-sref="analyses">{{ 'SEARCH.ANALYSES.HEADING' | translate }}</a></li>
            <li class="nav-item" data-ui-sref-active="active" role="presentation"><a data-toggle="tab" role="tab" data-toggle="tab" data-ui-sref="preparations">{{ 'SEARCH.PREPARATIONS.HEADING' | translate }}</a></li>
            <li class="nav-item" data-ui-sref-active="active" role="presentation"><a data-toggle="tab" role="tab" data-toggle="tab" data-ui-sref="photoArchives">{{ 'SEARCH.PHOTO_ARCHIVE.HEADING' | translate }}</a></li>
            <li class="nav-item" data-ui-sref-active="active" role="presentation"><a data-toggle="tab" role="tab" data-toggle="tab" data-ui-sref="soils">{{ 'SEARCH.SOIL_SITES.SOIL' | translate }}</a></li>
            <li class="nav-item" data-ui-sref-active="active" role="presentation"><a data-toggle="tab" role="tab" data-toggle="tab" data-ui-sref="dois">{{ 'SEARCH.DOI.DOI' | translate }}</a></li>
        </ul>
    </div>
    <!--<div ui-view="specific-search"></div>-->
    <div ui-view ></div>
</section>