footer {
    text-align: center;
    padding-bottom: 30px;
}

#footer-logos {
    padding-bottom: 20px;
}

#contact, #sectionSearch{
    padding-top: 50px;
    padding-bottom: 0px;
}
#about {
    padding-top: 50px;
    padding-bottom: 50px;
 }
#additional {
    padding-top: 0px;
    padding-bottom: 0px;
}
#footer-logos > a > img {
    height: 70px;
    margin-right: 25px;
    border: 0;
}

#footer-logos > a > img + .tooltip > .tooltip-inner {
    background-color: #222222;;
    font-size: 14px;
    color: #FFFFFF;
}

#footer-logos > a > img + .tooltip.bottom > .tooltip-arrow {
    border-bottom: 5px solid #222222;
}
.search-buttons {
    text-align: right;
    margin-right: 0px;
}
.news-button {
    color: #ee4b28;
    border: 1px solid #ed431f;
    background-color: #FFFFFF;
    padding: 10px;
    border-radius: 9px;
    margin-right: 15px;
    display: inline-block;
    font-size: 16px;
}
.news-button:hover {
    color: #FFF;
    background-color: #F05F40;
}
.news-button:active {
    color: #FFF;
    background-color: #F05F40;
}
.news-active-button {
    color: #FFF;
    background-color: #F05F40;
}
.header-collection {
    font-weight: 600;
    color: #222222;
}
.search-map {
    margin-top: 10px;
}
.search-pagination {
    margin-right: 0px;
}
.navbar-collapse.in {
    max-height: none;
}
.input-group .form-control {
    margin: 0px !important;
}
.navbar-default.affix .navbar-header #header-search{
    display:block;
}
#header-search {
    display:none;
}
.navbar-default .navbar-form {
    border-color:white;
}
#button-extended-search {
    font-size:16px;
    color:white;
    text-decoration: none;
    font-weight: 700;
    text-transform: uppercase;
    padding:6px 12px;
    display:inline-block;
}
.ul-square{
    list-style-type:square;
}

/*search navigation tab*/
@media screen and (min-width : 0px) and (max-width : 362px) {
    .navbar-brand {
        font-size: 11px;
    }
}
@media screen and (min-width : 363px) and (max-width : 439px) {
    .navbar-brand {
        font-size: 14px;
    }
}
.nav-tabs> li> a {
    color: #333333;
    font-weight: 500;
    outline:none;
}
.nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover {
    color: #eb3812;
}
.nav-tabs> li, .nav-pills>li {
    display:inline-block;
    float:none;
    *display:inline;
    zoom:1;
}
.nav-tabs, .nav-pills {
    text-align:center;
}
.infoCarousel-nav > .nav-pills> li> a {
    color: #333333;
}
.infoCarousel-nav > .nav-pills > li.active > a,
.infoCarousel-nav > .nav-pills > li.active > a:focus,
.infoCarousel-nav > .nav-pills > li.active > a:hover {
    background-color: #EDEDED;
    color: #F05F40;
}
/* badge */
.badge-info {
    position:relative;
    top: -18px;
    left: -10px;
}

/* map checkbox */
.checkbox label:after,
.radio label:after {
    content: '';
    display: table;
    clear: both;
}

.search-heading {
    padding-left: 15px;
    padding-right: 15px;
}

.checkbox .cr,
.radio .cr {
    position: relative;
    display: inline-block;
    border: 1px solid #a9a9a9;
    border-radius: .25em;
    width: 1.3em;
    height: 1.3em;
    float: left;
    margin-right: .5em;
}
.checkbox label, .radio label {
    padding-left: 15px;
}
.radio .cr {
    border-radius: 50%;
}

.checkbox .cr .cr-icon,
.radio .cr .cr-icon {
    position: absolute;
    font-size: .8em;
    line-height: 0;
    top: 50%;
    left: 20%;
}

.radio .cr .cr-icon {
    margin-left: 0.04em;
}

.checkbox label input[type="checkbox"],
.radio label input[type="radio"] {
    display: none;
}

.checkbox label input[type="checkbox"] + .cr > .cr-icon,
.radio label input[type="radio"] + .cr > .cr-icon {
    transform: scale(3) rotateZ(-20deg);
    opacity: 0;
    transition: all .3s ease-in;
}

.checkbox label input[type="checkbox"]:checked + .cr > .cr-icon,
.radio label input[type="radio"]:checked + .cr > .cr-icon {
    transform: scale(1) rotateZ(0deg);
    opacity: 1;
}

.checkbox label input[type="checkbox"]:disabled + .cr,
.radio label input[type="radio"]:disabled + .cr {
    opacity: .5;
}

/* pagination */
.pagination > li > a,
.pagination > li > span {
    color: #F05F40;
}
.pagination > .active > a,
.pagination > .active > a:focus,
.pagination > .active > a:hover,
.pagination > .active > span,
.pagination > .active > span:focus,
.pagination > .active > span:hover {
    color: white;
    background-color: #ee4b28;
    border-color: #ed431f;
}
.pagination > .disabled > a,
.pagination > .disabled > a:focus,
.pagination > .disabled > a:hover,
.pagination > .disabled > span,
.pagination > .disabled > span:focus,
.pagination > .disabled > span:hover
.pagination > li > a,
.pagination > li > span {
  color: #F05F40;
}
.pagination > li > a:focus,
.pagination > li > a:hover,
.pagination > li > span:focus,
.pagination > li > span:hover {
    color: #eb3812;

}
/* search table*/

.thead-default th {
    background-color: #eceeef;
    color:#464a4c;
}
#table-search td {
    color: #292b2c;
}
#table-search td:first-child {
    font-weight:700;
}

#table-search tr > th > a {
    color:#464a4c;
}
#table-search tr > td > a {
    color:#eb3812;
}
#table-search tr > td > a:hover {
    color:#FF2F00;
}

table tr > td:first-child {
    font-weight: 700;
}
#table-search {
    empty-cells: show;
}

@media only screen and (max-width: 800px) {
    /* Force table to not be like tables anymore */
    #table-search table,
    #table-search thead,
    #table-search tbody,
    #table-search th,
    #table-search td,
    #table-search tr {
        display: block;
    }

    /* Hide table headers (but not display: none;, for accessibility) */
    #table-search thead tr {
        position: absolute;
        top: -9999px;
        left: -9999px;
    }

    #table-search tr { border: 1px solid #ccc; }

    #table-search td {
        /* Behave  like a "row" */
        border: none;
        border-bottom: 1px solid #eee;
        position: relative;
        padding-left: 50%;
        white-space: normal;
        text-align:left;
    }

    #table-search td:empty {
        padding-top: 20px;
    }
    #table-search td:before {
        /* Now like a table header */
        position: absolute;
        /* Top/left values mimic padding */
        top: 6px;
        left: 6px;
        width: 45%;
        padding-right: 10px;
        white-space: nowrap;
        text-align:left;
        font-weight: bold;
    }

    /*
    Label the data
    */
    #table-search td:before { content: attr(data-title); }
}

.searchCriterionType {
    border: none;
    background-color: #f5f5f5;
    margin-bottom: 2px;
}
.searchCriterion {
    margin-bottom: 5px;
}
.form-group {
    margin-bottom: 0px;
}
.panel-title {
    cursor:pointer;
}

#newsHeading {
	margin: 40px;
}

.content img {
	max-width: 100%;
}

.content .dateAdded {
	font-weight: bold;
	font-size: 18px;
	margin-top: 10px;
	margin-bottom: 10px;
}

.content .heading {
	font-size: 20px;
	margin-top: 5px;
	margin-bottom: 5px;
	font-style: italic;
}

.content .text {
	font-size: 16px;
	margin-top: 5px;
	margin-bottom: 5px;
}
/* map hoverbox stuff */
.couponcode:hover .coupontooltip {
    display: block;
}
.coupontooltip {
    display: none;
    margin: 10px 0 0 10px;
    position: absolute;
    z-index: 1000;
}
.couponcode {
    margin:50px;
}

#hoverbox {
    display: none;
    box-shadow: 2px 2px 6px #666;
    border-radius: 3px;
    border: solid 2px #fff;
    opacity: 0.9;
    color: #333;
    min-height:10px;
    font-weight: bold;
    background-color: #F5E9BF;
    min-width: 100px;
    max-height: 150px;
    max-width: 200px;
    position: absolute;

    top: 0px;
    right: 0px;
    padding: 5px;
}

@media only screen and (max-width: 1023px) {
	#newsButtons { display: none; }
}

@media only screen and (min-width: 1024px) {
	#newsSelect { display: none; }
}

.infoSection {
    padding-top: 30px;
    padding-bottom: 30px;
    margin-bottom: 30px;
}
.backgr{
    background: #EDEDED;
}
.carousel-control {
    width: 7%;
}
.carouselControlButton {
 color: #F05F40;
}
.carousel-indicators .active{
    background-color: #F05F40;
}
.carousel-indicators li {
    border-color: #F05F40;
}
.carouselControlButton:hover,
.carouselControlButton:focus {
    color: #ee4b28;
}
.carousel-control.left, .carousel-control.right {
    background: none;
}

.geo-carousel-control {
    position: absolute;
    top: 0;
    bottom: 0;
    margin: 30px 30px 0 30px;
    height: 0;
}
.geo-carousel-right {
    left: auto;
    right: 0;
}

@media screen and (min-width : 0px) and (max-width: 580px) {
    .geo-carousel-control {
        margin: 10px 5px 0 5px;
    }
}
.geo-carousel-control .glyphicon-chevron-left, .geo-carousel-control .glyphicon-chevron-right {
    width: 30px;
    height: 30px;
    margin-top: -10px;
    font-size: 30px;
}
.dropdown-menu {
    min-width: 0;
}

.search-hint {
    padding:15px;
}
.search-header-list {
    list-style-type: none;
    text-align: center;
}
.search-header-list .dropdown-menu {
    text-align: center;
    margin-left:calc(50% - 80px);
    margin-right:calc(50% - 80px);
}
.search-header-list .dropdown-menu > .active > a, .dropdown-menu > .active > a:focus, .dropdown-menu > .active > a:hover {
    background-color: #ee4b28;
}
.search-header-list .dropdown-menu > li > a:focus, .dropdown-menu > li > a:hover {
    background-color: #eb3812;
    color: #fff;
}