#mapcontainer {
    text-align: center;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0px;
    left: 0px;
}

#map {
    position: relative;
    width: 100%;
    height: 100%;
    padding: 0;
}

#map-footer-container {
    width: 100%;
    position: fixed;
    bottom: 0px;
}

#map-footer-menu {
    padding: 5px;
}

.ol-scale-line {
    background: #95b9e6;
    background: rgba(0, 60, 136, .3);
    border-radius: 4px;
    top: 8px;
    left: 45px;
    bottom: initial;
    padding: 2px;
    position: absolute
}

.ol-attribution {
    text-align: right;
    top: 7px;
    right: 45px;
    bottom: initial;
    max-width: calc(100% - 1.3em)
}