html {
	overflow-y: scroll;
}

#navbar a {
	text-transform: uppercase;
}

hr.featurette-divider {
	border: 0;
	height: 1px;
	background-image: -webkit-linear-gradient(left, #f0f0f0, #b2b1b1, #f0f0f0);
	background-image: -moz-linear-gradient(left, #f0f0f0, #b2b1b1, #f0f0f0);
	background-image: -ms-linear-gradient(left, #f0f0f0, #b2b1b1, #f0f0f0);
	background-image: -o-linear-gradient(left, #f0f0f0, #b2b1b1, #f0f0f0);
}

.lead {
	font-size: 18px;
	font-weight: normal;
}

@media ( max-width : 768px) {
	.lead {
		font-size: 13px;
	}
}

#links {
	border-left: 1px solid #999999 !important;
}

#mainSearchInput {
	border-radius: 0;
}

#mainSearchButton {
	background-color: #3EC9A7;
	border-radius: 0;
}

#topNav {
	height: 150px;
	background-color: #FDFDFD;
	background: linear-gradient(rgba(20, 20, 20, .5), rgba(20, 20, 20, .5)),
		url("/img/sarv_banner_grey.jpg");
	background-position: top center;
	background-repeat: no-repeat !important;
}
/*#topNav {
	height: 150px;
	background:  linear-gradient(rgba(62, 201, 167, 0.45), rgba(62, 201, 167, 0.45)), url("/img/sarv_banner_grey.jpg");
	-webkit-background-size:cover;
	background-size:cover;
	text-align: center;
	background-position: top center;
	background-repeat: no-repeat !important;
}*/

#bottomNav {
	background-color: #3e4142;
}

.navbar-header {
	float: left;
	padding: 15px;
	text-align: center;
	width: 100%;
}

.navbar-brand {
	float: none;
	font-size: 34px;
}

.links img {
	margin: 10px;
}

footer {
	text-align: center;
}

footer img {
	margin: 10px;
}