html {
	overflow-y: scroll;
}

#navbar a {
	text-transform: uppercase;
}

hr.featurette-divider {
	border: 0;
	height: 1px;
	background-image: -webkit-linear-gradient(left, #f0f0f0, #b2b1b1, #f0f0f0);
	background-image: -moz-linear-gradient(left, #f0f0f0, #b2b1b1, #f0f0f0);
	background-image: -ms-linear-gradient(left, #f0f0f0, #b2b1b1, #f0f0f0);
	background-image: -o-linear-gradient(left, #f0f0f0, #b2b1b1, #f0f0f0);
}

.lead {
	font-size: 18px;
	font-weight: normal;
}

@media ( max-width : 768px) {
	.lead {
		font-size: 13px;
	}
}

#links {
	border-left: 1px solid #999999 !important;
}

#mainSearchInput {
	border-radius: 0;
}

#mainSearchButton {
	background-color: #3EC9A7;
	border-radius: 0;
}

#topNav {
	height: 150px;
	background-color: #FDFDFD;
	background: linear-gradient(rgba(20, 20, 20, .5), rgba(20, 20, 20, .5)),
		url("/img/sarv_banner_grey.jpg");
	background-position: top center;
	background-repeat: no-repeat !important;
}

#bottomNav {
	background-color: #3e4142;
}

@media ( max-width : 767px) {
	.nav li, #links {
		border: 0 !important;
	}
}

.navbar-header {
	float: left;
	padding: 15px;
	text-align: center;
	width: 100%;
}

.navbar-brand {
	float: none;
	font-size: 34px;
}

.links img {
	margin: 10px;
}

footer {
	text-align: center;
}

footer img {
	margin: 10px;
}

[ng\:cloak], [data-ng-cloak], [ng-cloak], .ng-cloak {
	display: none !important;
}
/* overrides of some OL styles */
.ol-scale-line {
	background: #95b9e6;
	background: rgba(0, 60, 136, .3);
	border-radius: 4px;
	top: 8px;
	left: 45px;
	bottom: initial;
	padding: 2px;
	position: absolute
}

.ol-attribution {
	text-align: right;
	top: 7px;
	right: 45px;
	bottom: initial;
	max-width: calc(100% - 1.3em)
}

body {
	margin: 0 0 20px 0;
	padding: 0;
	font-family: "segoe ui", arial, sans-serif;
	font-size: 10pt;
}

#map {
	position: relative;
	width: 100%;
	height: 100%;
	max-width: 2000px;
	margin: 0 0 25px 0;
	padding: 0;
}

#navbarid {
	color: #ffffff;
	font-weight: bold;
	font-size: 18px;
}

@media ( min-width : 768px) {
	#navbarid {
		font-size: 40px;
	}
}

#info {
	position: absolute;
	height: 1px;
	width: 1px;
	z-index: 100;
}

.tooltip.in {
	opacity: 1;
	filter: alpha(opacity = 100);
}

.tooltip.top .tooltip-arrow {
	border-top-color: white;
}

.tooltip-inner {
	border: 2px solid white;
}

#footer {
	width: 100%;
	min-height: 28px;
	max-height: 100px;
	opacity: 0.9;
	background-color: #333;
	color: #fff;
	/*position: fixed;*/
	bottom: 0px;
	font-size: 9pt;
	z-index: 100;
	margin-left: auto;
	margin-right: auto;
	padding: 0;
	text-align: center;
}

#formcontainer {
	padding: 5px;
}

.usingCollectionsContact {
	margin-top: 10px;
}

.orgName {
	font-weight: bold;
}