<script type="text/ng-template" id="referenceSearchHelp">
    <div class="search-help-popup">
        <p>SEARCH TIPS:

            First select the base table (specimens, samples, localities, references etc);
            Specify one or more criteria; NB! search is case insensitive; for text fields partial matches are returned by default (for instance, search 'asap' in specimen name field will find 'Asaphus sp.' as well as 'Asaphus expansus'); for stratigraphy and classification the search is hierarchical by default, for number fields exact maches will be searched if user does not specify otherwise;
            To show a map where available, tick the appropriate checkbox;
            To show detailed information follow the links in the results table.</p>
    </div>
</script>
<div class="panel panel-default">
    <div class="panel-body">
        <div class="row">
            <div class="text-center">
                <h1>Search: References</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3">
                <div class="row margin-top-10 margin-left-0">
                    <button class="btn btn-info btn-secondary secondary-search-btn" id="secondarySearchBtn" data-ng-click="search()">
                        <i class="glyphicon glyphicon-search"></i> {{ 'SEARCH.SEND_QUERY'| translate }}
                    </button>
                    <button class="btn btn-default btn-secondary reset-search-btn noBorderRadiusBtn" data-ng-click="searchDefault()">
                        <i class="glyphicon glyphicon-erase"></i>{{ 'SEARCH.RESET_FORM'| translate }}
                    </button>
                    <button uib-popover-template="referenceSearchHelp"
                            popover-trigger="'focus'"
                            popover-placement="'right-bottom'"
                            popover-title="Search tips"
                            type="button"
                            class="btn btn-default noBorderRadiusBtn">
                        <i class="glyphicon glyphicon-question-sign"></i>
                    </button>
                </div>
                <div class="row" >
                    <div class="panel-heading searchGroupHeading" ng-click="isInstitutionsCollapsed = !isInstitutionsCollapsed">
                        <h4 class="panel-title">
                            {{ 'SEARCH.INSTITUTIONS'| translate }}
                            <section-opened-icon is-opened="isInstitutionsCollapsed"/>
                        </h4>
                    </div>
                    <div uib-collapse="isInstitutionsCollapsed" class="well well-lg">
                        <div class="row searchCriterion">
                            <div class="checkbox" data-ng-repeat="state in departments">
                                <label>
                                    <input type="checkbox"
                                           value="{{state.code}}"
                                           data-ng-checked="searchParameters.dbs.indexOf(state.code) > -1"
                                           data-ng-click="toggle(state.code)">
                                    <span class="cr"><i class="cr-icon glyphicon glyphicon-ok"></i></span>
                                    {{state.label}}
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row" >
                    <div class="panel-heading searchGroupHeading" ng-click="isIdentifierFieldsCollapsed = !isIdentifierFieldsCollapsed">
                        <h4 class="panel-title">
                            {{ 'SEARCH.ANALYSES.IDENTIFIERS'| translate }}
                            <section-opened-icon is-opened="isIdentifierFieldsCollapsed"/>
                        </h4>
                    </div>
                    <div uib-collapse="isIdentifierFieldsCollapsed">
                        <div class="well well-lg">
                            <div class="row searchCriterion">
                                <div class="col-md-12 searchCriterionTitle medium-padding">
                                    <b>ID</b>
                                    <selectexact custom-css="searchCriterionType" ng-model = "searchParameters.id.lookUpType"></selectexact>
                                </div>
                                <div class="col-md-12 medium-padding">
                                    <input type="text" ng-model="searchParameters.id.name" class="form-control"/>
                                </div>
                            </div>
                            <div class="row searchCriterion">
                                <div class="col-md-12 medium-padding">
                                    <b>Author</b>
                                    <selectdefault custom-css="searchCriterionType" ng-model = "searchParameters.author.lookUpType"></selectdefault>
                                </div>
                                <div class="col-md-12 medium-padding">
                                    <input type="text" ng-model="searchParameters.author.name" class="form-control"/>
                                </div>
                            </div>
                            <div class="row searchCriterion">
                                <div class="col-md-12 medium-padding">
                                    <b>Year</b>
                                    <selecthierarchy custom-css="searchCriterionType" ng-model = "searchParameters.year.lookUpType"></selecthierarchy>
                                </div>
                                <div class="col-md-12 medium-padding">
                                    <input type="text" ng-model="searchParameters.year.name" class="form-control"/>
                                </div>
                            </div>
                            <div class="row searchCriterion">
                                <div class="col-md-12 medium-padding">
                                    <b>Title</b>
                                    <selectdefault custom-css="searchCriterionType" ng-model = "searchParameters.title.lookUpType"></selectdefault>
                                </div>
                                <div class="col-md-12 medium-padding">
                                    <input type="text" ng-model="searchParameters.title.name" class="form-control"/>
                                </div>
                            </div>
                            <div class="row searchCriterion">
                                <div class="col-md-12 medium-padding">
                                    <b>Journal</b>
                                    <selectexact custom-css="searchCriterionType" ng-model = "searchParameters.journal.lookUpType"></selectexact>
                                </div>
                                <div class="col-md-12 medium-padding">
                                    <input type="text" ng-model="searchParameters.journal.name" class="form-control"/>
                                </div>
                            </div>
                            <div class="row searchCriterion">
                                <div class="col-md-12 medium-padding">
                                    <b>Book</b>
                                    <selectexact custom-css="searchCriterionType" ng-model = "searchParameters.book.lookUpType"></selectexact>
                                </div>
                                <div class="col-md-12 medium-padding">
                                    <input type="text" ng-model="searchParameters.book.name" class="form-control"/>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
        </div>
        <div class="row">
            <div class="col-lg-4">
                <div class="row geo-list-info ">
                    <div class="col-md-6 text-right">
                        <p class="amount">Kokku: {{response.count}}</p>
                    </div>
                </div>
                <table class="table table-bordered table-hover">
                    <thead>
                    <tr>
                        <th>ID</th>
                        <th>Reference</th>
                        <th>Author</th>
                        <th>Year</th>
                        <th>Title</th>
                        <th>Journal/Book</th>
                        <th>pp.</th>
                        <th>DOI</th>
                        <th>Remarks</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr style="cursor: pointer; " data-ng-repeat="entity in response.result">
                        <td>{{entity.id}}</td>
                        <td>{{entity.reference}}</td>
                        <td>{{entity.author}}</td>
                        <td>{{entity.year}}</td>
                        <td>{{entity.title}}</td>
                        <td>{{entity.journalName}}</td>
                        <td>{{entity.pages}}</td>
                        <td>{{entity.doi}}</td>
                        <td>{{entity.remarks}}</td>
                    </tr>
                    </tbody>
                </table>
                <div class="text-right">
                    <ul uib-pagination boundary-links="true" ng-change="search()" items-per-page="pageSize" max-size="searchParameters.maxSize" rotate="false" total-items="totalItems" ng-model="searchParameters.page" class="pagination-sm" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></ul>
                </div>
            </div>
        </div>
    </div>
</div>