<div class="panel panel-default">
    <div class="panel-body">
        <div class="row">
            <div class="text-center">
                <h1>Search: References</h1>
            </div>
        </div>
        <div class="row">
                <div class="col-md-6">
                    <div class="row" data-ng-if="showAdditionalCriteria">
                        <label class="control-label col-md-2">ID</label>
                        <div class="col-md-5">
                            <selectexact ng-model="referenceSearch.id.lookUpType"></selectexact>
                        </div>
                        <div class="col-md-5">
                            <input type="text" ng-model="referenceSearch.id.name" class="form-control"/>
                        </div>
                    </div>
                    <div class="row">
                        <label class="control-label col-md-2">Author</label>
                        <div class="col-md-5">
                            <selectdefault ng-model="referenceSearch.author.lookUpType"></selectdefault>
                        </div>
                        <div class="col-md-5">
                            <input type="text" ng-model="referenceSearch.author.name" class="form-control"/>
                        </div>
                    </div>
                    <div class="row">
                        <label class="control-label col-md-2">Year</label>
                        <div class="col-md-5">
                            <selectexact ng-model="referenceSearch.year.lookUpType"></selectexact>
                        </div>
                        <div class="col-md-5">
                            <input type="text" ng-model="referenceSearch.year.name" class="form-control"/>
                        </div>
                    </div>
                    <div class="row">
                        <label class="control-label col-md-2">Title</label>
                        <div class="col-md-5">
                            <selectdefault ng-model="referenceSearch.title.lookUpType"></selectdefault>
                        </div>
                        <div class="col-md-5">
                            <input type="text" ng-model="referenceSearch.title.name" class="form-control"/>
                        </div>
                    </div>
                    <div class="row">
                        <label class="control-label col-md-2">Journal</label>
                        <div class="col-md-5">
                            <selectdefault ng-model="referenceSearch.journal.lookUpType"></selectdefault>
                        </div>
                        <div class="col-md-5">
                            <input type="text" ng-model="referenceSearch.journal.name" class="form-control"/>
                        </div>
                    </div>
                    <div class="row">
                        <label class="control-label col-md-2">Book</label>
                        <div class="col-md-5">
                            <selectdefault ng-model="referenceSearch.book.lookUpType"></selectdefault>
                        </div>
                        <div class="col-md-5">
                            <input type="text" ng-model="referenceSearch.book.name" class="form-control"/>
                        </div>
                    </div>

                    <div class="row">
                        <a href="" data-ng-show="!showAdditionalCriteria" data-ng-click="showAdditionalCriteria = true">Show additional criteria</a>
                        <a href="" data-ng-show="showAdditionalCriteria" data-ng-click="showAdditionalCriteria = false">Hide additional criteria</a>
                    </div>
                    <div class="row">
                        <label class="control-label col-md-2">Sort by:</label>
                        <div class="col-md-5">
                            <select class="col-md-4 form-control"
                                    data-ng-model="referenceSearch.content.lookUpType"
                                    data-ng-options="option.name for option in sortbyOptions track by option.value">
                                <option value="">-- Choose --</option>
                            </select>
                        </div>
                        <div class="col-md-5">
                            <ascdesc></ascdesc>
                        </div>
                        <div class="row">
                            <div class="col-md-5">
                                <label>
                                    Show map: <input type="checkbox" ng-model="showMap"/>
                                </label>
                            </div>
                        </div>
                        <div class="row geo-section-row no-border">
                            <button class="btn btn-default pull-right" data-ng-click="defaultSearch()"><i class="glyphicon glyphicon-erase"></i> Reset form</button>
                            <button class="btn btn-default pull-right" data-ng-click="search()">
                                <i class="glyphicon glyphicon-search"></i> Send query</button>
                        </div>
                    </div>
                </div>
            <div class="col-md-5">
                SEARCH TIPS:

                First select the base table (specimens, samples, localities, references etc);
                Specify one or more criteria; NB! search is case insensitive; for text fields partial matches are returned by default (for instance, search 'asap' in specimen name field will find 'Asaphus sp.' as well as 'Asaphus expansus'); for stratigraphy and classification the search is hierarchical by default, for number fields exact maches will be searched if user does not specify otherwise;
                To show a map where available, tick the appropriate checkbox;
                To show detailed information follow the links in the results table.
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4">
                <div class="row geo-list-info ">
                    <div class="col-md-6 text-right">
                        <p class="amount">Kokku: {{response.count}}</p>
                    </div>
                </div>
                <table class="table table-bordered table-hover">
                    <thead>
                    <tr>
                        <th>ID</th>
                        <th>Reference</th>
                        <th>Author</th>
                        <th>Year</th>
                        <th>Title</th>
                        <th>Journal/Book</th>
                        <th>pp.</th>
                        <th>DOI</th>
                        <th>Remarks</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr style="cursor: pointer; " data-ng-repeat="entity in response.result">
                        <td>{{entity.id}}</td>
                        <td>{{entity.reference}}</td>
                        <td>{{entity.author}}</td>
                        <td>{{entity.year}}</td>
                        <td>{{entity.title}}</td>
                        <td>{{entity.journalName}}</td>
                        <td>{{entity.pages}}</td>
                        <td>{{entity.doi}}</td>
                        <td>{{entity.remarks}}</td>
                    </tr>
                    </tbody>
                </table>
                <div class="text-right">
                    <ul uib-pagination boundary-links="true" ng-change="search()" items-per-page="pageSize" max-size="sampleSearch.maxSize" rotate="false" total-items="totalItems" ng-model="sampleSearch.page" class="pagination-sm" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></ul>
                </div>
            </div>
        </div>
    </div>
</div>