<div class="container-fluid">
    <div class="row">
        <div class="col-sm-3 col-md-3 col-lg-3">
            <div class="row">
                <h3 class="search-heading">{{ 'SEARCH.ANALYSES.HEADING' | translate }} <span class="badge badge-info">{{response.count}}</span>
                    <button type="submit" value="showHint" class="btn btn-info btn-sm pull-right"
                            data-ng-click="showHint()">
                        <span class="glyphicon glyphicon-question-sign"></span> {{ 'SEARCH.FAQ' | translate }}
                    </button>
                </h3>
            </div>
            <div class="row">
                <div class="panel-heading searchGroupHeading"
                     ng-click="isIdentifierFieldsCollapsed = !isIdentifierFieldsCollapsed">
                    <h4 class="panel-title">
                        {{ 'SEARCH.ANALYSES.IDENTIFIERS'| translate }}
                        <section-opened-icon is-opened="isIdentifierFieldsCollapsed"/>
                    </h4>
                </div>
                <div uib-collapse="isIdentifierFieldsCollapsed">
                    <div class="well well-lg">
                        <div class="row searchCriterion">
                            <div class="col-md-12 searchCriterionTitle medium-padding">
                                <b>{{ 'SEARCH.ANALYSES.IDENTIFIERS.SAMPLE_ID'| translate }}</b>
                                <selectexact custom-css="searchCriterionType" ng-model="analysesSearch.id.type"/>
                            </div>
                            <div class="col-md-12 medium-padding">
                                <input type="text" ng-model="analysesSearch.id.value" class="form-control"/>
                            </div>
                        </div>
                        <div class="row searchCriterion">
                            <div class="col-md-12 medium-padding">
                                <b>{{ 'SEARCH.ANALYSES.IDENTIFIERS.NUMBER'| translate }}</b>
                                <selectdefault custom-css="searchCriterionType"
                                               ng-model="analysesSearch.number.type"></selectdefault>
                            </div>
                            <div class="col-md-12 medium-padding">
                                <input type="text" ng-model="analysesSearch.number.value" class="form-control"/>
                            </div>
                        </div>
                        <div class="row searchCriterion">
                            <div class="col-md-12 medium-padding">
                                <b>{{ 'SEARCH.ANALYSES.IDENTIFIERS.BED_NAME_INDEX'| translate }}</b>
                                <selectdefault custom-css="searchCriterionType"
                                               ng-model="analysesSearch.bedIndex.type"></selectdefault>
                            </div>
                            <div class="col-md-12 medium-padding">
                                <input type="text" ng-model="analysesSearch.bedIndex.value" class="form-control"/>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="panel-heading searchGroupHeading"
                     ng-click="isLocationFieldsCollapsed = !isLocationFieldsCollapsed">
                    <h4 class="panel-title">
                        {{ 'SEARCH.LOCALITIES.LOCATION.LOCATION'| translate }}
                        <section-opened-icon is-opened="isLocationFieldsCollapsed"/>
                    </h4>
                </div>
                <div uib-collapse="isLocationFieldsCollapsed">
                    <div class="well well-lg">
                        <div class="row searchCriterion">
                            <div class="col-md-12 medium-padding">
                                <b>{{ 'SEARCH.ANALYSES.LOCATION.LOCALITY'| translate }}</b>
                                <selectdefault custom-css="searchCriterionType"
                                               ng-model="analysesSearch.locality.type"></selectdefault>
                            </div>
                            <div class="col-md-12 medium-padding">
                                <input type="text" ng-model="analysesSearch.locality.value" class="form-control"/>
                            </div>
                        </div>
                        <div class="row searchCriterion">
                            <div class="col-md-12 medium-padding">
                                <b>{{ 'SEARCH.ANALYSES.LOCATION.ADMIN_UNIT'| translate }}</b>
                                <selectdefault custom-css="searchCriterionType"
                                               ng-model="analysesSearch.adminunit.type"></selectdefault>
                            </div>
                            <div class="col-md-12 medium-padding">
                                <input type="text" ng-model="analysesSearch.adminunit.value" class="form-control"/>
                            </div>
                        </div>
                        <div class="row searchCriterion">
                            <div class="col-md-12 medium-padding">
                                <b>{{ 'SEARCH.ANALYSES.LOCATION.DEPTH_M'| translate }}</b>
                                <selectexact custom-css="searchCriterionType"
                                             ng-model="analysesSearch.depth.type"></selectexact>
                            </div>
                            <div class="col-md-12 medium-padding">
                                <input type="text" ng-model="analysesSearch.depth.value" class="form-control"/>
                            </div>
                        </div>
                        <div class="row searchCriterion">
                            <div class="col-md-12 medium-padding">
                                <b>{{ 'SEARCH.ANALYSES.LOCATION.STRATIGRAPHY'| translate }}</b>
                                <selecthierarchy custom-css="searchCriterionType"
                                                 ng-model="analysesSearch.stratigraphy.type"></selecthierarchy>
                            </div>
                            <div class="col-md-12 medium-padding">
                                <input type="text" ng-model="analysesSearch.stratigraphy.value" class="form-control"/>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="panel-heading searchGroupHeading"
                     ng-click="isAnalysesFieldsCollapsed = !isAnalysesFieldsCollapsed">
                    <h4 class="panel-title">
                        {{ 'SEARCH.ANALYSES.ANALYSIS.PANEL_TITLE'| translate }}
                        <section-opened-icon is-opened="isAnalysesFieldsCollapsed"/>
                    </h4>
                </div>
                <div uib-collapse="isAnalysesFieldsCollapsed">
                    <div class="well well-lg">
                        <div class="row searchCriterion">
                            <div class="col-md-12 medium-padding">
                                <b>{{ 'SEARCH.ANALYSES.ANALYSIS.TYPE'| translate }}</b>
                                <selectdefault custom-css="searchCriterionType"
                                               ng-model="analysesSearch.analysisType.type"></selectdefault>
                            </div>
                            <div class="col-md-12 medium-padding">
                                <input type="text" ng-model="analysesSearch.analysisType.value" class="form-control"/>
                            </div>
                        </div>
                        <div class="row searchCriterion">
                            <div class="col-md-12 medium-padding">
                                <b>{{ 'SEARCH.ANALYSES.ANALYSIS.COMPONENT_ANALYZED'| translate }}</b>
                                <selectdefault custom-css="searchCriterionType"
                                               ng-model="analysesSearch.componentAnalysed.type"></selectdefault>
                            </div>
                            <div class="col-md-12 medium-padding">
                                <input type="text" ng-model="analysesSearch.componentAnalysed.value"
                                       class="form-control"/>
                            </div>
                        </div>
                        <div class="row searchCriterion">
                            <div class="col-md-12 medium-padding">
                                <b>{{ 'SEARCH.ANALYSES.ANALYSIS.CONTENT'| translate }}</b>
                                <selectexact custom-css="searchCriterionType"
                                             ng-model="analysesSearch.content.type"></selectexact>
                            </div>
                            <div class="col-md-12 medium-padding">
                                <input type="text" ng-model="analysesSearch.content.value" class="form-control"/>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div ng-include="'app/templates/search/partial/institution.search.criteria.html'"></div>
            <div ng-include="'app/templates/search/partial/button.search.html'"></div>
        </div>
        <div class="col-sm-9 col-md-9 col-lg-9">
            <div class="row">
                <div data-ng-if="isHintHidden">
                    <div class="col-lg-8">
                        <h4 class="header-collection">{{'SEARCH.ANALYSES.HELP_POPUP.HEADING'| translate}}</h4>
                        <ul class="fa-ul ul-square">
                            <li>{{'SEARCH.ANALYSES.HELP_POPUP.PARAGRAPH_ONE'| translate}}</li>
                            <li>{{'SEARCH.ANALYSES.HELP_POPUP.PARAGRAPH_TWO'| translate}}</li>
                            <li>{{'SEARCH.ANALYSES.HELP_POPUP.PARAGRAPH_THREE'| translate}}</li>
                            <li>{{'SEARCH.ANALYSES.HELP_POPUP.PARAGRAPH_FOUR'| translate}}</li>
                        </ul>
                    </div>
                </div>
                <div data-ng-if="isMapHidden">
                    <div class="col-lg-12 search-map">
                        <localities-map localities="localities"></localities-map>
                    </div>
                </div>
                <loading></loading>
            </div>

            <div ng-include="'app/templates/search/partial/pagination.html'"></div>

            <div class="table-responsive">
                <table class="table table-bordered table-hover" id="table-search">
                    <thead class="thead-default">
                    <tr>
                        <th>
                            <a href style="cursor: pointer" data-ng-click="order('id')"><span>{{ 'SEARCH.ANALYSES.TABLE.ID'| translate }}</span>
                                <span data-ng-show="sampleSearch.orderBy == 'id' && sampleSearch.sortAsc"
                                      class="glyphicon glyphicon-triangle-bottom"></span>
                                <span data-ng-show="sampleSearch.orderBy == 'id' && !sampleSearch.sortAsc"
                                      class="glyphicon glyphicon-triangle-top"></span>
                            </a>
                        </th>
                        <th>
                            <a href style="cursor: pointer" data-ng-click="order('sample')">{{
                                'SEARCH.ANALYSES.TABLE.SAMPLE_ID'| translate }}
                                <span data-ng-show="sampleSearch.orderBy == 'sample' && sampleSearch.sortAsc"
                                      class="glyphicon glyphicon-triangle-bottom"></span>
                                <span data-ng-show="sampleSearch.orderBy == 'sample' && !sampleSearch.sortAsc"
                                      class="glyphicon glyphicon-triangle-top"></span>
                            </a>
                        </th>
                        <th>{{ 'SEARCH.ANALYSES.TABLE.LOCALITY'| translate }}</th>
                        <th>{{ 'SEARCH.ANALYSES.TABLE.DEPTH_M'| translate }}</th>
                        <th><span>{{ 'SEARCH.ANALYSES.TABLE.STRATIGRAPHY' | translate }}</span> | <span>{{ 'SEARCH.ANALYSES.TABLE.LITHOSTRATIGRAPHY' | translate }}</span>
                        </th>
                        <th>{{ 'SEARCH.ANALYSES.TABLE.BED_ID'| translate }}</th>
                        <th>{{ 'SEARCH.ANALYSES.TABLE.METHOD'| translate }}</th>
                        <th>{{ 'SEARCH.ANALYSES.TABLE.LAB'| translate }}</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr data-ng-repeat="entity in response.result">
                        <td data-title="{{ 'SEARCH.ANALYSES.TABLE.ID'| translate }}">{{entity.id}}</td>
                        <td data-title="{{ 'SEARCH.ANALYSES.TABLE.SAMPLE_ID'| translate }}">{{entity.sample}}</td>
                        <td data-title="{{ 'SEARCH.ANALYSES.TABLE.LOCALITY'| translate }}">???</td>
                        <td data-title="{{ 'SEARCH.ANALYSES.TABLE.DEPTH_M'| translate }}">???</td>
                        <td data-title="{{ 'SEARCH.ANALYSES.TABLE.STRATIGRAPHY' | translate }}">???</td>
                        <td data-title="{{ 'SEARCH.ANALYSES.TABLE.BED_ID'| translate }}">???</td>
                        <td data-title="{{ 'SEARCH.ANALYSES.TABLE.METHOD'| translate }}">
                            {{entity.analysisMethodMethodEng}}
                        </td>
                        <td data-title="{{ 'SEARCH.ANALYSES.TABLE.LAB'| translate }}">{{entity.lab}}</td>
                    </tr>
                    </tbody>
                </table>
            </div>

            <div ng-include="'app/templates/search/partial/pagination.html'"></div>
        </div>
    </div>
</div>
