<header ng-include="'app/templates/main/partial/header.html'"></header>
<section id="sectionSearch">
    <div id="searches" ng-include="'app/templates/main/partial/search.html'"></div>
    <div class="container-fluid" bs-loading-overlay bs-loading-overlay-reference-id="searchView" bs-loading-overlay-template-url="app/templates/main/partial/loading.overlay.html">
        <div class="row">
            <div class="col-sm-3 col-md-3 col-lg-3">
                <div class="row">
                    <h3 class="search-heading"><span data-toggle="tooltip" data-placement="bottom"
                                                     title="{{ 'SEARCH.DOI.HEADING' | translate }}">{{ 'SEARCH.DOI.DOI' | translate }}</span>
                        <span class="badge badge-info">{{response.count}}</span>
                        <button type="submit" value="showHint" class="btn btn-info btn-sm pull-right"
                                data-ng-click="showHint()">
                            <span class="glyphicon glyphicon-question-sign"></span> {{ 'SEARCH.FAQ' | translate }}
                        </button>
                    </h3>
                </div>
                <form ng-enter="search()">
                    <div class="row">
                        <div class="panel-heading searchGroupHeading"
                             ng-click="isIdentifierFieldsCollapsed = !isIdentifierFieldsCollapsed">
                            <h4 class="panel-title">
                                {{ 'SEARCH.CRITERIA.HEADING.PRIMARY'| translate }}
                                <section-opened-icon is-opened="isIdentifierFieldsCollapsed"/>
                            </h4>
                        </div>
                        <div uib-collapse="isIdentifierFieldsCollapsed">
                            <div class="well well-lg">
                                <div class="row searchCriterion">
                                    <div class="col-md-12 searchCriterionTitle medium-padding">
                                        <b>{{ 'SEARCH.DOI.DOI' | translate }}</b>
                                        <selectdefault custom-css="searchCriterionType"
                                                       ng-model="searchParameters.doi.lookUpType"></selectdefault>
                                    </div>
                                    <div class="col-md-12 medium-padding">
                                        <input type="text" ng-model="searchParameters.doi.name" class="form-control"/>
                                    </div>
                                </div>
                                <div class="row searchCriterion">
                                    <div class="col-md-12 medium-padding">
                                        <b>{{ 'SEARCH.DOI.TITLE' | translate }}</b>
                                        <selectdefault custom-css="searchCriterionType"
                                                       ng-model="searchParameters.title.lookUpType"></selectdefault>
                                    </div>
                                    <div class="col-md-12 medium-padding">
                                        <autocomplete-field ng-model="searchParameters.title.name" table="doi" en="null" et="reference__title"/>
                                    </div>
                                </div>
                                <div class="row searchCriterion">
                                    <div class="col-md-12 medium-padding">
                                        <b>{{ 'SEARCH.DOI.PUBLISHED_BY' | translate }}</b>
                                        <selectdefault custom-css="searchCriterionType"
                                                       ng-model="searchParameters.publishedBy.lookUpType"></selectdefault>
                                    </div>
                                    <div class="col-md-12 medium-padding">
                                        <autocomplete-field ng-model="searchParameters.publishedBy.name" table="doi" en="null" et="publisher"/>
                                    </div>
                                </div>
                                <div class="row searchCriterion">
                                    <div class="col-md-12 medium-padding">
                                        <b>{{ 'SEARCH.DOI.YEAR' | translate }}</b>
                                    </div>
                                    <div class="col-md-12 medium-padding">
                                        <interval-field ng-model= "searchParameters.yearSince" lookup="gte"></interval-field >
                                        <interval-field ng-model= "searchParameters.yearTo" lookup="lte"></interval-field >
                                    </div>
                                </div>
                                <div class="row searchCriterion">
                                    <div class="col-md-12 medium-padding">
                                        <b>{{ 'SEARCH.DOI.AUTHOR' | translate }}</b>
                                        <selectdefault custom-css="searchCriterionType"
                                                       ng-model="searchParameters.author.lookUpType"></selectdefault>
                                    </div>
                                    <div class="col-md-12 medium-padding">
                                        <autocomplete-field ng-model="searchParameters.author.name" table="doi" en="null" et="reference__author"/>
                                    </div>
                                </div>
                                <div class="row searchCriterion">
                                    <div class="col-md-12 medium-padding">
                                        <b>{{ 'SEARCH.DOI.ABSTRACT' | translate }}</b>
                                        <selectdefault custom-css="searchCriterionType"
                                                       ng-model="searchParameters.abstractText.lookUpType"></selectdefault>
                                    </div>
                                    <div class="col-md-12 medium-padding">
                                        <input type="text" ng-model="searchParameters.abstractText.name" class="form-control"/>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div ng-include="'app/templates/search/partial/institution.search.criteria.html'"></div>
                    <div ng-include="'app/templates/search/partial/button.search.html'"></div>
                </form>
            </div>
            <div class="col-sm-9 col-md-9 col-lg-9" bs-loading-overlay bs-loading-overlay-reference-id="searchView" bs-loading-overlay-template-url="app/templates/main/partial/loading.overlay.html">
                <div class="row">
                     <div ng-bind-html="main.getContent(main.doiIdentifiers)" data-ng-if="isHintHidden"></div>
                </div>

                <div ng-include="'app/templates/search/partial/pagination.html'"></div>

                <div class="table-responsive">
                    <table class="table table-bordered table-hover" id="table-search">
                        <thead class="thead-default">
                        <tr>
                            <th><sort-field value = "id" name="SEARCH.DOI.TABLE.ID"></sort-field></th>
                            <th><sort-field value = "doi" name="SEARCH.DOI.TABLE.DOI"></sort-field></th>
                            <th>{{ 'SEARCH.DOI.TABLE.AUTHOR' | translate }}</th>
                            <th>{{ 'SEARCH.DOI.TABLE.YEAR' | translate }}</th>
                            <th>{{ 'SEARCH.DOI.TABLE.TITLE' | translate }}</th>
                            <th>{{ 'SEARCH.DOI.TABLE.TYPE' | translate }}</th>
                            <th>{{ 'SEARCH.DOI.TABLE.DATACITE_REGISTRATION' | translate }}</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr data-ng-repeat="entity in response.results">
                            <td data-title="{{ 'SEARCH.DOI.TABLE.ID' | translate }}">{{entity.id}}</td>
                            <td data-title="{{ 'SEARCH.DOI.TABLE.DOI' | translate }}">
                                <a href data-ng-click="ctrl.service.openInNewWindow({object:'doi',id:entity.id})">{{entity.identifier}}</a>
                            </td>
                            <td data-title="{{ 'SEARCH.DOI.TABLE.AUTHOR' | translate }}">{{entity.reference__author}}</td>
                            <td data-title="{{ 'SEARCH.DOI.TABLE.YEAR' | translate }}">{{entity.publication_year}}</td>
                            <td data-title="{{ 'SEARCH.DOI.TABLE.TITLE' | translate }}">{{entity.reference__title}}</td>
                            <td data-title="{{ 'SEARCH.DOI.TABLE.TYPE' | translate }}">{{entity.resource_type__value}}</td>
                            <td data-title="{{ 'SEARCH.DOI.TABLE.DATACITE_REGISTRATION' | translate }}">
                                {{entity.datacite_created | date:dateFormat}}
                            </td>
                        </tr>
                        </tbody>
                    </table>
                    <div class="col-lg-12 h4 panel-heading text-center" data-ng-if="response.results==null">Tulemust ei leita</div>
                </div>

                <div ng-include="'app/templates/search/partial/pagination.html'"></div>
            </div>
        </div>
    </div>
</section>
<div ng-include="'app/templates/main/partial/contact.html'"></div>
<div ng-include="'app/templates/main/partial/footer.html'"></div>