<div class="container-fluid">
    <div class="row">
        <div class="col-sm-3 col-md-3 col-lg-3">
            <div class="row">
                <h3 class="search-heading"><span data-toggle="tooltip" data-placement="bottom"
                                                 title="{{ 'SEARCH.DOI.HEADING' | translate }}">{{ 'SEARCH.DOI.DOI' | translate }}</span>
                    <span class="badge badge-info">{{response.count}}</span>
                    <button type="submit" value="showHint" class="btn btn-info btn-sm pull-right"
                            data-ng-click="showHint()">
                        <span class="glyphicon glyphicon-question-sign"></span> {{ 'SEARCH.FAQ' | translate }}
                    </button>
                </h3>
            </div>
            <div class="row">
                <div class="panel-heading searchGroupHeading"
                     ng-click="isIdentifierFieldsCollapsed = !isIdentifierFieldsCollapsed">
                    <h4 class="panel-title">
                        {{ 'SEARCH.ANALYSES.IDENTIFIERS'| translate }}
                        <section-opened-icon is-opened="isIdentifierFieldsCollapsed"/>
                    </h4>
                </div>
                <div uib-collapse="isIdentifierFieldsCollapsed">
                    <div class="well well-lg">
                        <div class="row searchCriterion">
                            <div class="col-md-12 searchCriterionTitle medium-padding">
                                <b>{{ 'SEARCH.DOI.DOI' | translate }}</b>
                                <selectdefault custom-css="searchCriterionType"
                                               ng-model="searchParameters.doi.lookUpType"></selectdefault>
                            </div>
                            <div class="col-md-12 medium-padding">
                                <input type="text" ng-model="searchParameters.doi.name" class="form-control"/>
                            </div>
                        </div>
                        <div class="row searchCriterion">
                            <div class="col-md-12 medium-padding">
                                <b>{{ 'SEARCH.DOI.TITLE' | translate }}</b>
                                <selectdefault custom-css="searchCriterionType"
                                               ng-model="searchParameters.title.lookUpType"></selectdefault>
                            </div>
                            <div class="col-md-12 medium-padding">
                                <input type="text" ng-model="searchParameters.title.name" class="form-control"/>
                            </div>
                        </div>
                        <div class="row searchCriterion">
                            <div class="col-md-12 medium-padding">
                                <b>{{ 'SEARCH.DOI.PUBLISHED_BY' | translate }}</b>
                                <selectdefault custom-css="searchCriterionType"
                                               ng-model="searchParameters.publishedBy.type"></selectdefault>
                            </div>
                            <div class="col-md-12 medium-padding">
                                <input type="text" ng-model="searchParameters.publishedBy.value" class="form-control"/>
                            </div>
                        </div>
                        <div class="row searchCriterion">
                            <div class="col-md-12 medium-padding">
                                <b>{{ 'SEARCH.DOI.YEAR' | translate }}</b>
                                <selectdefault custom-css="searchCriterionType"
                                               ng-model="searchParameters.year.lookUpType"></selectdefault>
                            </div>
                            <div class="col-md-12 medium-padding">
                                <input type="text" ng-model="searchParameters.year.name" class="form-control"/>
                            </div>
                        </div>
                        <div class="row searchCriterion">
                            <div class="col-md-12 medium-padding">
                                <b>{{ 'SEARCH.DOI.AUTHOR' | translate }}</b>
                                <!--   <input type="text" class="form-control input-sm"
                                          data-ng-model="searchParameters.author.value"
                                          placeholder="input search parameter..."
                                          data-uib-typeahead="e as entity.reference__author for entity in searchService.searchByParam('doi',$viewValue,'reference__author')"
                                          data-typeahead-min-length="2"
                                          data-typeahead-on-select="entitySelected($item, $model)"/>-->
                                <selectdefault custom-css="searchCriterionType"
                                               ng-model="searchParameters.author.lookUpType"></selectdefault>
                            </div>
                            <div class="col-md-12 medium-padding">
                                <input type="text" class="form-control input-sm"
                                       data-ng-model="searchParameters.author.name"
                                       placeholder="input search parameter..."
                                       data-uib-typeahead="entity.reference__author for entity in searchService.searchByParam('doi',$viewValue,'reference__author')"
                                       data-typeahead-min-length="2"
                                       data-typeahead-on-select="entitySelected($item.reference__author, $model)"/>
                            </div>
                            <!--<selectdefault custom-css="searchCriterionType" ng-model = "searchParameters.author.lookUpType"></selectdefault>-->
                            <!-- <div class="col-md-12 medium-padding">
                                 <input type="text" ng-model="searchParameters.author.name" class="form-control"/>
                             </div>-->
                        </div>
                        <div class="row searchCriterion">
                            <div class="col-md-12 medium-padding">
                                <b>{{ 'SEARCH.DOI.ABSTRACT' | translate }}</b>
                                <selectdefault custom-css="searchCriterionType"
                                               ng-model="searchParameters.abstract.lookUpType"></selectdefault>
                            </div>
                            <div class="col-md-12 medium-padding">
                                <input type="text" ng-model="searchParameters.abstract.name" class="form-control"/>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div ng-include="'app/templates/search/partial/institution.search.criteria.html'"></div>
            <div ng-include="'app/templates/search/partial/button.search.html'"></div>
        </div>
        <div class="col-sm-9 col-md-9 col-lg-9">
            <div class="row">
                <div ng-include="'app/templates/search/partial/hint.html'"></div>

                <loading></loading>
            </div>

            <div ng-include="'app/templates/search/partial/pagination.html'"></div>

            <div class="table-responsive">
                <table class="table table-bordered table-hover" id="table-search">
                    <thead class="thead-default">
                    <tr>
                        <th>
                            <a href style="cursor: pointer" data-ng-click="order('id')"><span>{{ 'SEARCH.DOI.TABLE.ID' | translate }}</span>
                                <span data-ng-show="searchParameters.sortField.sortBy == 'id' && sortByAsc"
                                      class="glyphicon glyphicon-chevron-down"></span>
                                <span data-ng-show="searchParameters.sortField.sortBy == 'id' && !sortByAsc"
                                      class="glyphicon glyphicon-chevron-up"></span>
                            </a>
                        </th>
                        <th>
                            <a href style="cursor: pointer" data-ng-click="order('doi')"><span>{{ 'SEARCH.DOI.TABLE.DOI' | translate }}</span>
                                <span data-ng-show="searchParameters.sortField.sortBy == 'doi' && sortByAsc"
                                      class="glyphicon glyphicon-chevron-down"></span>
                                <span data-ng-show="searchParameters.sortField.sortBy == 'doi' && !sortByAsc"
                                      class="glyphicon glyphicon-chevron-up"></span>
                            </a>
                        </th>
                        <th>{{ 'SEARCH.DOI.TABLE.AUTHOR' | translate }}</th>
                        <th>{{ 'SEARCH.DOI.TABLE.YEAR' | translate }}</th>
                        <th>{{ 'SEARCH.DOI.TABLE.TITLE' | translate }}</th>
                        <th>{{ 'SEARCH.DOI.TABLE.TYPE' | translate }}</th>
                        <th>{{ 'SEARCH.DOI.TABLE.DATACITE_REGISTRATION' | translate }}</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr data-ng-repeat="entity in response.result">
                        <td data-title="{{ 'SEARCH.DOI.TABLE.ID' | translate }}">{{entity.id}}</td>
                        <td data-title="{{ 'SEARCH.DOI.TABLE.DOI' | translate }}"><a href
                                                                                     data-ng-click="ctrl.service.openInNewWindow({object:'doi',id:entity.id})">{{entity.identifier}}</a>
                        </td>
                        <td data-title="{{ 'SEARCH.DOI.TABLE.AUTHOR' | translate }}">{{entity.author}}</td>
                        <td data-title="{{ 'SEARCH.DOI.TABLE.YEAR' | translate }}">{{entity.year}}</td>
                        <td data-title="{{ 'SEARCH.DOI.TABLE.TITLE' | translate }}">{{entity.title}}</td>
                        <td data-title="{{ 'SEARCH.DOI.TABLE.TYPE' | translate }}">{{entity.resourceType}}</td>
                        <td data-title="{{ 'SEARCH.DOI.TABLE.DATACITE_REGISTRATION' | translate }}">
                            {{entity.dataciteCreated | date:dateFormat}}
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>

            <div ng-include="'app/templates/search/partial/pagination.html'"></div>
        </div>
    </div>
</div>

