<div class="container-fluid">
    <div class="row">
        <div class="col-sm-3 col-md-3 col-lg-3">
            <div class="row">
                <h3 class="search-heading">{{ 'SEARCH.REFERENCES.HEADING' | translate }} <span class="badge badge-info">{{response.count}}</span>
                    <button type="submit" value="showHint" class="btn btn-info btn-sm pull-right"
                            data-ng-click="showHint()">
                        <span class="glyphicon glyphicon-question-sign"></span> {{ 'SEARCH.FAQ' | translate }}
                    </button>
                </h3>
            </div>
            <div class="row">
                <div class="panel-heading searchGroupHeading"
                     ng-click="isIdentifierFieldsCollapsed = !isIdentifierFieldsCollapsed">
                    <h4 class="panel-title">
                        {{ 'SEARCH.ANALYSES.IDENTIFIERS'| translate }}
                        <section-opened-icon is-opened="isIdentifierFieldsCollapsed"/>
                    </h4>
                </div>
                <div uib-collapse="isIdentifierFieldsCollapsed">
                    <div class="well well-lg">
                        <div class="row searchCriterion">
                            <div class="col-md-12 searchCriterionTitle medium-padding">
                                <b>{{ 'SEARCH.REFERENCES.ID' | translate }}</b>
                                <selectexact custom-css="searchCriterionType"
                                             ng-model="searchParameters.id.lookUpType"></selectexact>
                            </div>
                            <div class="col-md-12 medium-padding">
                                <input type="text" ng-model="searchParameters.id.name" class="form-control"/>
                            </div>
                        </div>
                        <div class="row searchCriterion">
                            <div class="col-md-12 medium-padding">
                                <b>{{ 'SEARCH.REFERENCES.AUTHOR' | translate }}</b>
                                <selectdefault custom-css="searchCriterionType"
                                               ng-model="searchParameters.author.lookUpType"></selectdefault>
                            </div>
                            <div class="col-md-12 medium-padding">
                                <input type="text" ng-model="searchParameters.author.name" class="form-control"/>
                            </div>
                        </div>
                        <div class="row searchCriterion">
                            <div class="col-md-12 medium-padding">
                                <b>{{ 'SEARCH.REFERENCES.YEAR' | translate }}</b>
                                <selectexact custom-css="searchCriterionType"
                                             ng-model="searchParameters.year.lookUpType"
                                             ng-disabled="true"></selectexact>
                            </div>
                            <div class="col-md-12 medium-padding">
                                <input type="text" ng-model="searchParameters.year.name" class="form-control"/>
                            </div>
                        </div>
                        <div class="row searchCriterion">
                            <div class="col-md-12 medium-padding">
                                <b>{{ 'SEARCH.REFERENCES.TITLE' | translate }}</b>
                                <selectdefault custom-css="searchCriterionType"
                                               ng-model="searchParameters.title.lookUpType"></selectdefault>
                            </div>
                            <div class="col-md-12 medium-padding">
                                <input type="text" ng-model="searchParameters.title.name" class="form-control"/>
                            </div>
                        </div>
                        <div class="row searchCriterion">
                            <div class="col-md-12 medium-padding">
                                <b>{{ 'SEARCH.REFERENCES.JOURNAL' | translate }}</b>
                                <selectdefault custom-css="searchCriterionType"
                                               ng-model="searchParameters.journal.lookUpType"></selectdefault>
                            </div>
                            <div class="col-md-12 medium-padding">
                                <input type="text" ng-model="searchParameters.journal.name" class="form-control"/>
                            </div>
                        </div>
                        <div class="row searchCriterion">
                            <div class="col-md-12 medium-padding">
                                <b>{{ 'SEARCH.REFERENCES.BOOK' | translate }}</b>
                                <selectexact custom-css="searchCriterionType"
                                             ng-model="searchParameters.book.lookUpType"></selectexact>
                            </div>
                            <div class="col-md-12 medium-padding">
                                <input type="text" ng-model="searchParameters.book.name" class="form-control"/>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="panel-heading searchGroupHeading"
                     ng-click="isInstitutionsCollapsed = !isInstitutionsCollapsed">
                    <h4 class="panel-title">
                        {{ 'SEARCH.INSTITUTIONS'| translate }}
                        <section-opened-icon is-opened="isInstitutionsCollapsed"/>
                    </h4>
                </div>
                <div uib-collapse="isInstitutionsCollapsed" class="well well-lg">
                    <div class="row searchCriterion">
                        <div class="checkbox" data-ng-repeat="state in departments">
                            <label>
                                <input class="institution" type="checkbox"
                                       value="{{state.code}}"
                                       checked="checked"
                                       data-ng-click="toggle(state.code)">
                                <span class="cr"><i class="cr-icon glyphicon glyphicon-ok"></i></span>
                                {{state.label}}
                            </label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row pull-right">
                <button id="btn-form-reset" class="btn btn-danger" data-ng-click="searchDefault()">
                    <i class="glyphicon glyphicon-erase"></i><span class="hidden-sm">{{ 'SEARCH.RESET_FORM'| translate }}</span>
                </button>
                <button id="btn-form-send" class="btn btn-info btn-primary" data-ng-click="search()">
                    <i class="glyphicon glyphicon-search"></i><span>{{ 'SEARCH.SEND_QUERY'| translate }}</span>
                </button>
            </div>
        </div>
        <div class="col-sm-9 col-md-9 col-lg-9">
            <div class="row">
                <div data-ng-if="isHintHidden">
                    <div class="col-lg-8">
                        <h4 class="header-collection">{{'SEARCH.ANALYSES.HELP_POPUP.HEADING'| translate}}</h4>
                        <ul class="fa-ul ul-square">
                            <li>{{'SEARCH.ANALYSES.HELP_POPUP.PARAGRAPH_ONE'| translate}}</li>
                            <li>{{'SEARCH.ANALYSES.HELP_POPUP.PARAGRAPH_TWO'| translate}}</li>
                            <li>{{'SEARCH.ANALYSES.HELP_POPUP.PARAGRAPH_THREE'| translate}}</li>
                            <li>{{'SEARCH.ANALYSES.HELP_POPUP.PARAGRAPH_FOUR'| translate}}</li>
                        </ul>
                    </div>
                </div>
                <loading></loading>
            </div>
            <div class="row">
                <nav class="pull-right">
                    <ul uib-pagination boundary-links="true" ng-change="search()" items-per-page="pageSize"
                        max-size="searchParameters.maxSize" rotate="false" total-items="totalItems"
                        ng-model="searchParameters.page" class="pagination-sm" previous-text="&lsaquo;"
                        next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></ul>
                </nav>
            </div>
            <div class="table-responsive">
                <table class="table table-bordered table-hover" id="table-search">
                    <thead class="thead-default">
                    <tr>
                        <th>
                            <a href style="cursor: pointer" data-ng-click="order('id')"><span>{{ 'SEARCH.REFERENCES.TABLE.ID' | translate }}</span>
                                <span data-ng-show="searchParameters.sortField.sortBy == 'id' && sortByAsc"
                                      class="glyphicon glyphicon-triangle-bottom"></span>
                                <span data-ng-show="searchParameters.sortField.sortBy == 'id' && !sortByAsc"
                                      class="glyphicon glyphicon-triangle-top"></span>
                            </a>
                        </th>
                        <th>{{ 'SEARCH.REFERENCES.TABLE.REFERENCE' | translate }}</th>
                        <th>
                            <a href style="cursor: pointer" data-ng-click="order('author')"><span>{{ 'SEARCH.REFERENCES.TABLE.AUTHOR' | translate }}</span>
                                <span data-ng-show="searchParameters.sortField.sortBy == 'author' && sortByAsc"
                                      class="glyphicon glyphicon-triangle-bottom"></span>
                                <span data-ng-show="searchParameters.sortField.sortBy == 'author' && !sortByAsc"
                                      class="glyphicon glyphicon-triangle-top"></span>
                            </a>
                        </th>
                        <th>
                            <a href style="cursor: pointer" data-ng-click="order('year')"><span>{{ 'SEARCH.REFERENCES.TABLE.YEAR' | translate }}</span>
                                <span data-ng-show="searchParameters.sortField.sortBy == 'year' && sortByAsc"
                                      class="glyphicon glyphicon-triangle-bottom"></span>
                                <span data-ng-show="searchParameters.sortField.sortBy == 'year' && !sortByAsc"
                                      class="glyphicon glyphicon-triangle-top"></span>
                            </a>
                        </th>
                        <th>
                            <a href style="cursor: pointer" data-ng-click="order('title')"><span>{{ 'SEARCH.REFERENCES.TABLE.TITLE' | translate }}</span>
                                <span data-ng-show="searchParameters.sortField.sortBy == 'title' && sortByAsc"
                                      class="glyphicon glyphicon-triangle-bottom"></span>
                                <span data-ng-show="searchParameters.sortField.sortBy == 'title' && !sortByAsc"
                                      class="glyphicon glyphicon-triangle-top"></span>
                            </a>
                        </th>
                        <th>{{ 'SEARCH.REFERENCES.TABLE.JOURNAL_BOOK' | translate }}</th>
                        <th>{{ 'SEARCH.REFERENCES.TABLE.PP' | translate }}</th>
                        <th>{{ 'SEARCH.REFERENCES.TABLE.DOI' | translate }}</th>
                        <th>{{ 'SEARCH.REFERENCES.TABLE.REMARKS' | translate }}</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr data-ng-repeat="entity in response.result">
                        <td data-title="{{ 'SEARCH.REFERENCES.TABLE.ID' | translate }}">{{entity.id}}</td>
                        <td data-title="{{ 'SEARCH.REFERENCES.TABLE.REFERENCE' | translate }}"><a href
                                                                                                  data-ng-click="ctrl.service.openInNewWindow({object:'references',id:entity.id})">{{entity.reference}}</a>
                        </td>
                        <td data-title="{{ 'SEARCH.REFERENCES.TABLE.AUTHOR' | translate }}">{{entity.author}}</td>
                        <td data-title="{{ 'SEARCH.REFERENCES.TABLE.YEAR' | translate }}">{{entity.year}}</td>
                        <td data-title="{{ 'SEARCH.REFERENCES.TABLE.TITLE' | translate }}">{{entity.title}}</td>
                        <td data-title="{{ 'SEARCH.REFERENCES.TABLE.JOURNAL_BOOK' | translate }}">
                            {{entity.journalName}}
                        </td>
                        <td data-title="{{ 'SEARCH.REFERENCES.TABLE.PP' | translate }}">{{entity.pages}}</td>
                        <td data-title="{{ 'SEARCH.REFERENCES.TABLE.DOI' | translate }}">{{entity.doi}}</td>
                        <td data-title="{{ 'SEARCH.REFERENCES.TABLE.REMARKS' | translate }}">{{entity.remarks}}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="row">
                <nav class="pull-right">
                    <ul uib-pagination boundary-links="true" ng-change="search()" items-per-page="pageSize"
                        max-size="searchParameters.maxSize" rotate="false" total-items="totalItems"
                        ng-model="searchParameters.page" class="pagination-sm" previous-text="&lsaquo;"
                        next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></ul>
                </nav>
            </div>
        </div>
    </div>
</div>