<div class="container-fluid">
    <div class="row">
        <div class="col-sm-3 col-md-3 col-lg-3">
            <div class="row">
                <h3 class="search-heading">{{ 'SEARCH.SPECIMENS.HEADING' | translate }} <span class="badge badge-info">{{response.count}}</span>
                    <button type="submit" value="showHint" class="btn btn-info btn-sm pull-right"
                            data-ng-click="showHint()">
                        <span class="glyphicon glyphicon-question-sign"></span> {{ 'SEARCH.FAQ' | translate }}
                    </button>
                </h3>
            </div>
            <div class="row">
                <div class="checkbox">
                    <label>
                        <input type="checkbox"
                               value="showMap"
                               data-ng-click="showMap()">
                        <span class="cr"><i class="cr-icon glyphicon glyphicon-ok"></i></span>
                        {{ 'SEARCH.SHOW_MAP' | translate }}
                    </label>
                </div>
            </div>
            <form ng-enter="search()">
                <div class="row">
                    <div class="panel-heading searchGroupHeading"
                         ng-click="isIdentifierFieldsCollapsed = !isIdentifierFieldsCollapsed">
                        <h4 class="panel-title">
                            {{ 'SEARCH.ANALYSES.IDENTIFIERS'| translate }}
                            <section-opened-icon is-opened="isIdentifierFieldsCollapsed"/>
                        </h4>
                    </div>
                    <div uib-collapse="isIdentifierFieldsCollapsed">
                        <div class="well well-lg">
                            <div class="row searchCriterion">
                                <div class="col-md-12  medium-padding">
                                    <b>{{ 'SEARCH.SPECIMENS.ID' | translate }}</b>
                                    <selectexact custom-css="searchCriterionType"
                                                 ng-model="searchParameters.id.lookUpType"></selectexact>
                                </div>
                                <div class="col-md-12 medium-padding">
                                    <input type="text" ng-model="searchParameters.id.name" class="form-control"/>
                                </div>
                            </div>
                            <div class="row searchCriterion">
                                <div class="col-md-12  medium-padding">
                                    <b>{{ 'SEARCH.SPECIMENS.NUMBER' | translate }}</b>
                                    <selectdefault custom-css="searchCriterionType"
                                                   ng-model="searchParameters.specimenNumber.lookUpType"></selectdefault>
                                </div>
                                <div class="col-md-12 medium-padding">
                                    <input type="text" ng-model="searchParameters.specimenNumber.name"
                                           class="form-control"/>
                                </div>
                            </div>
                            <div class="row searchCriterion">
                                <div class="col-md-12  medium-padding">
                                    <b>{{ 'SEARCH.SPECIMENS.COLLECTION_NUMBER' | translate }}</b>
                                    <selectexact custom-css="searchCriterionType"
                                                 ng-model="searchParameters.collectionNumber.lookUpType"></selectexact>
                                </div>
                                <div class="col-md-12 medium-padding">
                                    <input type="text" ng-model="searchParameters.collectionNumber.name"
                                           class="form-control"/>
                                </div>
                            </div>
                            <div class="row searchCriterion">
                                <div class="col-md-12  medium-padding">
                                    <b>{{ 'SEARCH.SPECIMENS.CLASSIFICATION_NUMBER' | translate }}</b>
                                    <selecthierarchy custom-css="searchCriterionType"
                                                     ng-model="searchParameters.classification.lookUpType"></selecthierarchy>
                                </div>
                                <div class="col-md-12 medium-padding">
                                    <input type="text" ng-model="searchParameters.classification.name"
                                           class="form-control"/>
                                </div>
                            </div>
                            <div class="row searchCriterion">
                                <div class="col-md-12  medium-padding">
                                    <b>{{ 'SEARCH.SPECIMENS.FOSSIL_MINERAL_ROCK' | translate }}</b>
                                    <selectdefault custom-css="searchCriterionType"
                                                   ng-model="searchParameters.fossilmineralrock.lookUpType"></selectdefault>
                                </div>
                                <div class="col-md-12 medium-padding">
                                    <input type="text" ng-model="searchParameters.fossilmineralrock.name"
                                           class="form-control"/>
                                </div>
                            </div>
                            <div class="row searchCriterion">
                                <div class="col-md-12  medium-padding">
                                    <b>{{ 'SEARCH.SPECIMENS.NAME_OF_ROCK' | translate }}</b>
                                    <selectdefault custom-css="searchCriterionType"
                                                   ng-model="searchParameters.fossilName.lookUpType"></selectdefault>
                                </div>
                                <div class="col-md-12 medium-padding">
                                    <input type="text" ng-model="searchParameters.fossilName.name" class="form-control"/>
                                </div>
                            </div>
                            <div class="row searchCriterion">
                                <div class="col-md-12  medium-padding">
                                    <b>{{ 'SEARCH.SPECIMENS.MINERAL_ROCK' | translate }}</b>
                                    <selectdefault custom-css="searchCriterionType"
                                                   ng-model="searchParameters.mineralrock.lookUpType"></selectdefault>
                                </div>
                                <div class="col-md-12 medium-padding">
                                    <input type="text" ng-model="searchParameters.mineralrock.name" class="form-control"/>
                                </div>
                            </div>
                            <div class="row searchCriterion">
                                <div class="col-md-12  medium-padding">
                                    <b>{{ 'SEARCH.SPECIMENS.DEPHT_M' | translate }}</b>
                                    <selectexact custom-css="searchCriterionType"
                                                 ng-model="searchParameters.depth.lookUpType"></selectexact>
                                </div>
                                <div class="col-md-12 medium-padding">
                                    <input type="text" ng-model="searchParameters.depth.name" class="form-control"/>
                                </div>
                            </div>
                            <div class="row searchCriterion">
                                <div class="col-md-12  medium-padding">
                                    <b>{{ 'SEARCH.SPECIMENS.STRATIGRAPHY' | translate }}</b>
                                    <selecthierarchy custom-css="searchCriterionType"
                                                     ng-model="searchParameters.stratigraphy.lookUpType"></selecthierarchy>
                                </div>
                                <div class="col-md-12 medium-padding">
                                    <input type="text" class="form-control input-sm"
                                           data-ng-model="searchParameters.stratigraphy.name"
                                           placeholder="input search parameter..."
                                           data-uib-typeahead="e as entity.stratigraphy for entity in searchService.localitySearch($viewValue, 'stratigraphy')"
                                           data-typeahead-min-length="2"
                                           data-typeahead-on-select="entitySelected($item, $model)"/>
                                </div>
                            </div>
                            <div class="row searchCriterion">
                                <div class="col-md-12  medium-padding">
                                    <b>{{ 'SEARCH.SPECIMENS.COLLECTOR' | translate }}</b>
                                    <selectdefault custom-css="searchCriterionType"
                                                   ng-model="searchParameters.collector.lookUpType"></selectdefault>
                                </div>
                                <div class="col-md-12 medium-padding">
                                    <input type="text" ng-model="searchParameters.collector.name" class="form-control"/>
                                </div>
                            </div>
                            <div class="row searchCriterion">
                                <div class="col-md-12  medium-padding">
                                    <b>{{ 'SEARCH.SPECIMENS.REFERENCE' | translate }}</b>
                                    <selectdefault custom-css="searchCriterionType"
                                                   ng-model="searchParameters.reference.lookUpType"></selectdefault>
                                </div>
                                <div class="col-md-12 medium-padding">
                                    <input type="text" ng-model="searchParameters.reference.name" class="form-control"/>
                                </div>
                            </div>
                            <div class="row searchCriterion">
                                <div class="col-md-12  medium-padding">
                                    <b>{{ 'SEARCH.SPECIMENS.TYPE_STATUS' | translate }}</b>
                                    <selectdefault custom-css="searchCriterionType"
                                                   ng-model="searchParameters.typeStatus.lookUpType"></selectdefault>
                                </div>
                                <div class="col-md-12 medium-padding">
                                    <input type="text" ng-model="searchParameters.typeStatus.name" class="form-control"/>
                                </div>
                            </div>
                            <div class="row searchCriterion">
                                <div class="col-md-12  medium-padding">
                                    <b>{{ 'SEARCH.SPECIMENS.PART_OF_FOSSIL' | translate }}</b>
                                    <selectdefault custom-css="searchCriterionType"
                                                   ng-model="searchParameters.partoffossil.lookUpType"></selectdefault>
                                </div>
                                <div class="col-md-12 medium-padding">
                                    <input type="text" ng-model="searchParameters.partoffossil.name" class="form-control"/>
                                </div>
                            </div>
                            <div class="row searchCriterion">
                                <div class="col-md-12  medium-padding">
                                    <b>{{ 'SEARCH.SPECIMENS.KEYWORDS' | translate }}</b>
                                    <selectdefault custom-css="searchCriterionType"
                                                   ng-model="searchParameters.keywords.lookUpType"></selectdefault>
                                </div>
                                <div class="col-md-12 medium-padding">
                                    <input type="text" ng-model="searchParameters.keywords.name" class="form-control"/>
                                </div>
                            </div>
                            <div class="row searchCriterion">
                                <div class="col-md-12  medium-padding">
                                    <b>{{ 'SEARCH.SPECIMENS.REG_DATE' | translate }}</b>
                                    <selectexact custom-css="searchCriterionType"
                                                 ng-model="searchParameters.regdate.lookUpType"></selectexact>
                                </div>
                                <div class="col-md-12 medium-padding">
                                    <input type="text" ng-model="searchParameters.regdate.name" class="form-control"/>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="panel-heading searchGroupHeading"
                         ng-click="isLocationFieldsCollapsed = !isLocationFieldsCollapsed">
                        <h4 class="panel-title">{{ 'SEARCH.ANALYSES.LOCATION.LOCATION'| translate }}
                            <section-opened-icon is-opened="isLocationFieldsCollapsed"/>
                        </h4>
                    </div>
                    <div uib-collapse="isLocationFieldsCollapsed">
                        <div class="well well-lg">
                            <div class="row searchCriterion">
                                <div class="col-md-12 medium-padding">
                                    <b>{{ 'SEARCH.SPECIMENS.ADMIN_UNIT' | translate }}</b>
                                    <selectdefault custom-css="searchCriterionType"
                                                   ng-model="searchParameters.adminunit.lookUpType"></selectdefault>
                                </div>
                                <div class="col-md-12 medium-padding">
                                    <input type="text" ng-model="searchParameters.adminunit.name" class="form-control"/>
                                </div>
                            </div>
                            <div class="row searchCriterion">
                                <div class="col-md-12 medium-padding">
                                    <b>{{ 'SEARCH.SPECIMENS.LOCALITY' | translate }}</b>
                                    <selectdefault custom-css="searchCriterionType"
                                                   ng-model="searchParameters.locality.lookUpType"></selectdefault>
                                </div>
                                <div class="col-md-12 medium-padding">
                                    <input type="text" ng-model="searchParameters.locality.name" class="form-control"/>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div ng-include="'app/templates/search/partial/institution.search.criteria.html'"></div>
                <div ng-include="'app/templates/search/partial/button.search.html'"></div>
            </form>
        </div>
        <div class="col-sm-9 col-md-9 col-lg-9">
            <div class="row">
                <div ng-include="'app/templates/search/partial/hint.html'"></div>

                <div data-ng-if="isMapHidden">
                    <div class="col-lg-12 search-map">
                        <localities-map localities="localities"></localities-map>
                    </div>
                </div>
                <loading></loading>
            </div>

            <div ng-include="'app/templates/search/partial/pagination.html'"></div>

            <div class="table-responsive">
                <table class="table table-bordered table-hover" id="table-search">
                    <thead class="thead-default">
                    <tr>
                        <th>
                            <sort-field value = "id" name="SEARCH.SPECIMENS.ID"></sort-field>
                        </th>
                        <th>{{ 'SEARCH.SPECIMENS.NUMBER' | translate }}</th>
                        <th>
                            <sort-field value = "number" name="SEARCH.SPECIMENS.OLD_SPECIMEN_NUMBER"></sort-field>
                        </th>
                        <th>{{ 'SEARCH.SPECIMENS.NAME_PART_ELEMENT' | translate }}</th>
                        <th>
                            <sort-field value = "localityEng" name="SEARCH.SPECIMENS.LOCALITY"></sort-field>
                        </th>
                        <th>
                            <sort-field value = "depth" name="SEARCH.SPECIMENS.DEPHT_M"></sort-field>
                        </th>
                        <th>
                            <sort-field value = "stratigraphyEng" name="SEARCH.SPECIMENS.STRATIGRAPHY"></sort-field>
                        </th>
                        <th>{{ 'SEARCH.SPECIMENS.COLLECTOR' | translate }}</th>
                        <th>{{ 'SEARCH.SPECIMENS.STATUS' | translate }}</th>
                        <th>{{ 'SEARCH.SPECIMENS.IMAGES' | translate }}</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr data-ng-repeat="entity in response.results">
                        <td data-title="{{ 'SEARCH.SPECIMENS.ID' | translate }}">
                            <a href data-ng-click="ctrl.service.openInNewWindow({object:'specimen',id:entity.id})">{{entity.id}}</a>
                        </td>
                        <td data-title="{{ 'SEARCH.SPECIMENS.NUMBER' | translate }}"></td>
                        <td data-title="{{ 'SEARCH.SPECIMENS.OLD_SPECIMEN_NUMBER' | translate }}">
                            {{entity.specimen_nr}}
                        <td data-title="{{ 'SEARCH.SPECIMENS.NAME_PART_ELEMENT' | translate }}">
                            <a href="http://fossiilid.info/{{entity.specimenidentification__taxon_id}}" target="_blank">
                                {{entity.specimenidentification__taxon__taxon}}
                            </a> {{entity.specimenidentification__name}}
                        </td>
                        <td data-title="{{ 'SEARCH.SPECIMENS.LOCALITY' | translate }}">
                            <a href data-ng-click="ctrl.service.openInNewWindow({object:'locality',id:entity.locality_id})">{{entity.locality__locality}}</a>
                        </td>
                        <td data-title="{{ 'SEARCH.SPECIMENS.DEPTH_M' | translate }}">{{entity.depth}} {{entity.depth_interval}}</td>
                        <td data-title="{{ 'SEARCH.SPECIMENS.STRATIGRAPHY' | translate }}">
                            <a href data-ng-click="ctrl.service.openInNewWindow({object:'stratigraphy',id:entity.stratigraphy_id})">
                                <first-not-null values="[entity.stratigraphy__stratigraphy, entity.stratigraphy__stratigraphy_en, lithostratigraphy__stratigraphy, lithostratigraphy__stratigraphy_en, stratigraphy_free]"/>
                            </a>
                        </td>
                        <td data-title="{{ 'SEARCH.SPECIMENS.COLLECTOR' | translate }}">
                            <first-not-null values="[entity.agent_collected__agent, [entity.agent_collected__forename, entity.agent_collected__surename]]"/>
                        </td>
                        <td data-title="{{ 'SEARCH.SPECIMENS.STATUS' | translate }}"><localize et="entity.original_status__value" en="entity.original_status__value_en"/></td>
                        <td data-title="{{ 'SEARCH.SPECIMENS.IMAGES' | translate }}"><img style="width:100px" src="{{entity.specimen_image_thumbnail.results[0].image_url}}"/></td>
                    </tr>
                    </tbody>
                </table>
            </div>

            <div ng-include="'app/templates/search/partial/pagination.html'"></div>
        </div>
    </div>
</div>