<div class="container-fluid">
    <div class="row">
        <div class="col-sm-3 col-md-3 col-lg-3">
            <div class="row">
                <h3 class="search-heading"><span data-toggle="tooltip" data-placement="bottom"
                                                 title="{{ 'SEARCH.STRATIGRAPHY.HEADING' | translate }}">{{ 'SEARCH.STRATIGRAPHY.STRATIGRAPHY' | translate }}</span> <span
                        class="badge badge-info">{{response.count}}</span>
                    <button type="submit" value="showHint" class="btn btn-info btn-sm pull-right"
                            data-ng-click="showHint()">
                        <span class="glyphicon glyphicon-question-sign"></span> {{ 'SEARCH.FAQ' | translate }}
                    </button>
                </h3>
            </div>
            <div class="row">
                <div class="panel-heading searchGroupHeading"
                     ng-click="isIdentifierFieldsCollapsed = !isIdentifierFieldsCollapsed">
                    <h4 class="panel-title">
                        {{ 'SEARCH.ANALYSES.IDENTIFIERS'| translate }}
                        <section-opened-icon is-opened="isIdentifierFieldsCollapsed"/>
                    </h4>
                </div>
                <div uib-collapse="isIdentifierFieldsCollapsed">
                    <div class="well well-lg">
                        <div class="row searchCriterion">
                            <div class="col-md-12  medium-padding">
                                <b>{{ 'SEARCH.STRATIGRAPHY.ID' | translate }}</b>
                                <selectexact custom-css="searchCriterionType"
                                             ng-model="searchParameters.id.lookUpType"></selectexact>
                            </div>
                            <div class="col-md-12 medium-padding">
                                <input type="text" ng-model="searchParameters.id.name" class="form-control"/>
                            </div>
                        </div>
                        <div class="row searchCriterion">
                            <div class="col-md-12  medium-padding">
                                <b>{{ 'SEARCH.STRATIGRAPHY.STRATIGRAPHY' | translate }}</b>
                                <selecthierarchy custom-css="searchCriterionType"
                                                 ng-model="searchParameters.stratigraphy.lookUpType"></selecthierarchy>
                            </div>
                            <div class="col-md-12 medium-padding">
                                <input type="text" ng-model="searchParameters.stratigraphy.name" class="form-control"/>
                            </div>
                        </div>
                        <div class="row searchCriterion">
                            <div class="col-md-12  medium-padding">
                                <b>{{ 'SEARCH.STRATIGRAPHY.INDEX' | translate }}</b>
                                <selectdefault custom-css="searchCriterionType"
                                               ng-model="searchParameters.index.lookUpType"></selectdefault>
                            </div>
                            <div class="col-md-12 medium-padding">
                                <input type="text" ng-model="searchParameters.index.name" class="form-control"/>
                            </div>
                        </div>
                        <div class="row searchCriterion">
                            <div class="col-md-12  medium-padding">
                                <b>{{ 'SEARCH.STRATIGRAPHY.AGE_MIN_Y' | translate }}</b>
                                <selectexact custom-css="searchCriterionType"
                                             ng-model="searchParameters.ageMinY.lookUpType"></selectexact>
                            </div>
                            <div class="col-md-12 medium-padding">
                                <input type="text" ng-model="searchParameters.ageMinY.name" class="form-control"/>
                            </div>
                        </div>
                        <div class="row searchCriterion">
                            <div class="col-md-12  medium-padding">
                                <b>{{ 'SEARCH.STRATIGRAPHY.MAIN_LITHOLOGY' | translate }}</b>
                                <selectdefault custom-css="searchCriterionType"
                                               ng-model="searchParameters.mainLithology.lookUpType"></selectdefault>
                            </div>
                            <div class="col-md-12 medium-padding">
                                <input type="text" ng-model="searchParameters.mainLithology.name" class="form-control"/>
                            </div>
                        </div>
                        <div class="row searchCriterion">
                            <div class="col-md-12  medium-padding">
                                <b>{{ 'SEARCH.STRATIGRAPHY.AUTHOR' | translate }}</b>
                                <selectdefault custom-css="searchCriterionType"
                                               ng-model="searchParameters.author.lookUpType"></selectdefault>
                            </div>
                            <div class="col-md-12 medium-padding">
                                <input type="text" ng-model="searchParameters.author.name" class="form-control"/>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div ng-include="'app/templates/search/partial/institution.search.criteria.html'"></div>
            <div ng-include="'app/templates/search/partial/button.search.html'"></div>
        </div>
        <div class="col-sm-9 col-md-9 col-lg-9">
            <div class="row">
                <div data-ng-if="isHintHidden">
                    <div class="col-lg-8">
                        <h4 class="header-collection">{{'SEARCH.ANALYSES.HELP_POPUP.HEADING'| translate}}</h4>
                        <ul class="fa-ul ul-square">
                            <li>{{'SEARCH.ANALYSES.HELP_POPUP.PARAGRAPH_ONE'| translate}}</li>
                            <li>{{'SEARCH.ANALYSES.HELP_POPUP.PARAGRAPH_TWO'| translate}}</li>
                            <li>{{'SEARCH.ANALYSES.HELP_POPUP.PARAGRAPH_THREE'| translate}}</li>
                            <li>{{'SEARCH.ANALYSES.HELP_POPUP.PARAGRAPH_FOUR'| translate}}</li>
                        </ul>
                    </div>
                </div>
                <loading></loading>
            </div>

            <div ng-include="'app/templates/search/partial/pagination.html'"></div>
            <div class="table-responsive">
                <table class="table table-bordered table-hover" id="table-search">
                    <thead class="thead-default">
                    <tr>
                        <th>{{ 'SEARCH.STRATIGRAPHY.TABLE.ID' | translate }}</th>
                        <th>{{ 'SEARCH.STRATIGRAPHY.TABLE.STRATIGRAPHY_ET' | translate }}</th>
                        <th>{{ 'SEARCH.STRATIGRAPHY.TABLE.STRATIGRAPHY_EN' | translate }}</th>
                        <th>{{ 'SEARCH.STRATIGRAPHY.TABLE.INDEX' | translate }}</th>
                        <th></th>
                        <th>{{ 'SEARCH.STRATIGRAPHY.TABLE.TYPE' | translate }}</th>
                        <th>{{ 'SEARCH.STRATIGRAPHY.TABLE.RANK' | translate }}</th>
                        <th>{{ 'SEARCH.STRATIGRAPHY.TABLE.SCOPE' | translate }}</th>
                        <th>{{ 'SEARCH.STRATIGRAPHY.TABLE.AGE' | translate }}</th>
                        <th>{{ 'SEARCH.STRATIGRAPHY.TABLE.AGE_MA' | translate }}</th>
                        <th>{{ 'SEARCH.STRATIGRAPHY.TABLE.BELONGS_TO' | translate }}</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr data-ng-repeat="entity in response.result">
                        <td data-title="{{ 'SEARCH.STRATIGRAPHY.TABLE.ID' | translate }}"><a href
                                                                                             data-ng-click="ctrl.service.openInNewWindow({object:'stratigraphy',id:entity.id})">{{entity.id}}</a>
                        </td>
                        <td data-title="{{ 'SEARCH.STRATIGRAPHY.TABLE.STRATIGRAPHY_ET' | translate }}">
                            {{entity.stratigraphy}}
                        </td>
                        <td data-title="{{ 'SEARCH.STRATIGRAPHY.TABLE.STRATIGRAPHY_EN' | translate }}">
                            {{entity.stratigraphyEn}}
                        </td>
                        <td data-title="{{ 'SEARCH.STRATIGRAPHY.TABLE.INDEX' | translate }}">{{entity.indexMain}}</td>
                        <td data-title="">{{entity.indexAdditional}}</td>
                        <td data-title="{{ 'SEARCH.STRATIGRAPHY.TABLE.TYPE' | translate }}">???Type</td>
                        <td data-title="{{ 'SEARCH.STRATIGRAPHY.TABLE.RANK' | translate }}">{{entity.rankValue}}</td>
                        <td data-title="{{ 'SEARCH.STRATIGRAPHY.TABLE.SCOPE' | translate }}">{{entity.scopeValue}}</td>
                        <td data-title="{{ 'SEARCH.STRATIGRAPHY.TABLE.AGE' | translate }}">???lithology</td>
                        <td data-title="{{ 'SEARCH.STRATIGRAPHY.TABLE.AGE_MA' | translate }}">???age_base</td>
                        <td data-title="{{ 'SEARCH.STRATIGRAPHY.TABLE.BELONGS_TO' | translate }}">
                            {{entity.parentStratigraphy}}
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div ng-include="'app/templates/search/partial/pagination.html'"></div>
        </div>
    </div>
</div>
