<div class="panel panel-default">
    <div class="panel-body">
        <div class="row">
            <div class="col-lg-3">
                <label>PROOV #{{sample.number}}</label>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6">
                <table class="table table-bordered table-hover">
                    <thead>
                    </thead>
                    <tbody>
                    <tr><td>number</td><td>{{sample.number}}</td></tr>
                    <tr><td>lisanumber</td><td>{{sample.numberAdditional}}</td></tr>
                    <tr><td>leiukoht</td><td><a href data-ng-click="openInNewWindow({object:'locality',id:sample.localityId})" >{{sample.localityEng}}</a></td></tr>
                    <tr><td>Depth (m)</td><td>{{sample.depth}}</td></tr>
                    <tr><td>Depth (m, interval)</td><td>{{sample.depthInterval}}</td></tr>
                    <tr><td>Stratigraphy</td><td><a href data-ng-click="openInNewWindow({object:'stratigraphy',id:sample.stratigraphyId})" >{{sample.stratigraphyEng}}</a></td></tr>
                    <tr><td>Stratigraphy remarks</td><td>???</td></tr>
                    <tr><td>Date (string)</td><td>{{sample.dateCollectedFree}}</td></tr>
                    <tr><td>Collector</td><td>{{entity.agent}}</td></tr>
                    <tr><td>Weight (remaining, g)</td><td>{{entity.weight}}</td></tr>
                    <tr><td>Rock characterisation</td><td>{{entity.rock}}</td></tr>
                    <tr><td>Rock/sediment type</td><td>{{entity.classificationRockNameEn}}</td></tr>
                    <tr><td>laiuskraad</td><td>{{sample.latitude}}</td></tr>
                    <tr><td>pikkuskraad</td><td>{{sample.longitude}}</td></tr>
                    <tr><td>Parent specimen</td><td>{{sample.agent}}</td></tr>
                    <tr><td>Owner (institution)</td><td>{{sample.git}}</td></tr>
                    <tr><td>Palaeontology</td><td>???</td></tr>
                    <tr><td>Record changed</td><td>{{sample.depth}}</td></tr>
                    </tbody>
                </table>
            </div>
            <div class="col-lg-6">
                <locality-map x = "sample.latitude" y = "sample.longitude" name = "sample.localityEng" fid = "sample.localityId"></locality-map>
                <a href data-ng-click="showGoogleMap(sample.latitude, sample.longitude, sample.locality, sample.localityEng)">Google Maps</a>            </span>
                <a href data-ng-click="showEstonianLandBoardMap(sample.latitude, sample.longitude)">Maa-amet / Estonian Land Board</a>
            </div>
        </div>
    </div>
    <div class="panel-body">
        <div class="row">
            <label>Analyses and procedures</label>
        </div>
        <div class="row">
            <label>Microfossil preparations</label>
        </div>
        <div class="row">

        </div>
    </div>
</div>
