<div class="panel panel-default">
	<div class="panel-body">

		<!-- Marketing messaging and featurettes
    ================================================== -->
		<!-- Wrap the rest of the page in another container to center all the content. -->

		<!-- Three columns of text below the carousel -->
		<div class="row text-center">
			<div class="col-lg-4">
				<img class="img-thumbnail"
					src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw=="
					alt="Generic placeholder image" width="300" height="100">
				<h2>{{ 'INFO.COLLECTIONS_IN_GEOLOGY.HEADING' | translate }}</h2>
				<p>{{ 'INFO.COLLECTIONS_IN_GEOLOGY.PARAGRAPH_ONE' | translate }}</p>
				<p>{{ 'INFO.COLLECTIONS_IN_GEOLOGY.PARAGRAPH_TWO' | translate }}</p>
			</div>
			<!-- /.col-lg-4 -->
			<div class="col-lg-4">
				<img class="img-thumbnail"
					src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw=="
					alt="Generic placeholder image" width="300" height="100">
				<h2>{{ 'INFO.COLLECTIONS_IN_ESTONIA.HEADING' | translate }}</h2>
				<p>{{ 'INFO.COLLECTIONS_IN_ESTONIA.PARAGRAPH_ONE' | translate }}</p>
				<ul>
					<li>{{ 'INFO.COLLECTIONS_IN_ESTONIA.LI_ONE' | translate }}</li>
					<li>{{ 'INFO.COLLECTIONS_IN_ESTONIA.LI_TWO' | translate }}</li>
					<li>{{ 'INFO.COLLECTIONS_IN_ESTONIA.LI_THREE' | translate }}</li>
					<li>{{ 'INFO.COLLECTIONS_IN_ESTONIA.LI_FOUR' | translate }}</li>
					<li>{{ 'INFO.COLLECTIONS_IN_ESTONIA.LI_FIVE' | translate }}</li>
					<p>{{ 'INFO.COLLECTIONS_IN_ESTONIA.PARAGRAPH_TWO' | translate
						}}</p>
				</ul>
			</div>
			<!-- /.col-lg-4 -->
			<div class="col-lg-4">
				<img class="img-thumbnail"
					src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw=="
					alt="Generic placeholder image" width="300" height="100">
				<h2>{{ 'INFO.COMMON_DATABASE.HEADING' | translate }}</h2>
				<p>{{ 'INFO.COMMON_DATABASE.PARAGRAPH_ONE' | translate }}</p>
				<p>{{ 'INFO.COMMON_DATABASE.PARAGRAPH_TWO' | translate }}</p>
				<p>{{ 'INFO.COMMON_DATABASE.PARAGRAPH_THREE' | translate:'{
					noOfSamples: "334354", noOfFiles: " 95388", databaseUpdated:
					"2017-03-07 17:26:25" }' }}</p>
			</div>
			<!-- /.col-lg-4 -->
		</div>
		<!-- /.row -->
		<div class="text-center">
			<p>
				<a class="btn btn-default btn-lg btn-success" href="" role="button"
					id="mainSearchButton" data-ng-click="showFull = true">{{
					'READ_MORE' | translate }}</a>

			</p>
		</div>

		<div ng-if="showFull" ng-include="'/app/main/full_news.html'"></div>

<!-- 		<hr class="featurette-divider"> -->
<!-- 		<div class="text-center"> -->
<!-- 			<h1>Heading X</h1> -->
<!-- 		</div> -->

<!-- 		<hr class="featurette-divider"> -->
<!-- 		<div class="text-center links"> -->
<!-- 			<h1>Links</h1> -->
<!-- 		</div> -->

		<div>{{list}}</div>
	</div>
</div>