<script type="text/ng-template" id="analysesSearchHelp">
    <div class="search-help-popup">
<p>{{ 'SEARCH.ANALYSES.HELP_POPUP.PARAGRAPH_ONE' | translate }}</p>
<p>{{ 'SEARCH.ANALYSES.HELP_POPUP.PARAGRAPH_TWO' | translate }}</p>
<p>{{ 'SEARCH.ANALYSES.HELP_POPUP.PARAGRAPH_THREE'| translate }}</p>
<p>{{ 'SEARCH.ANALYSES.HELP_POPUP.PARAGRAPH_FOUR'| translate }}</p>
    </div>
</script>
<div class="panel panel-default">
    <div class="panel-body">
        <div class="row">
            <div class="text-center">
                <h1>{{ 'SEARCH.ANALYSES.HEADING' | translate }}</h1>
            </div>
        </div>
        <div class="row">
            <loading></loading>
            <div class="col-lg-3">
                <div class="row margin-top-10 margin-left-0">
                    <button class="btn btn-info btn-secondary secondary-search-btn" id="secondarySearchBtn" data-ng-click="search()">
                        <i class="glyphicon glyphicon-search"></i> {{ 'SEARCH.SEND_QUERY'| translate }}
                    </button>
                    <button class="btn btn-default btn-secondary reset-search-btn noBorderRadiusBtn" data-ng-click="searchDefault()">
                        <i class="glyphicon glyphicon-erase"></i>{{ 'SEARCH.RESET_FORM'| translate }}
                    </button>
                    <button uib-popover-template="'analysesSearchHelp'"
                            popover-trigger="'focus'"
                            popover-placement="'right-bottom'"
                            popover-title="Search tips"
                            type="button"
                            class="btn btn-default noBorderRadiusBtn">
                        <i class="glyphicon glyphicon-question-sign"></i>
                    </button>
                </div>
                <div class="row">
                    <div class="panel-heading searchGroupHeading" ng-click="isInstitutionsCollapsed = !isInstitutionsCollapsed">
                        <h4 class="panel-title">
                            {{ 'SEARCH.INSTITUTIONS'| translate }}
                            <section-opened-icon is-opened="isInstitutionsCollapsed"/>
                        </h4>
                    </div>
                    <div uib-collapse="isInstitutionsCollapsed" class="well well-lg">
                        <div class="row searchCriterion">
                            <div class="checkbox" data-ng-repeat="state in departments">
                                <label>
                                    <input type="checkbox"
                                           value="{{state.code}}"
                                           data-ng-checked="specimensSearch.dbs.indexOf(state.code) > -1"
                                           data-ng-click="toggle(state.code)">
                                    <span class="cr"><i class="cr-icon glyphicon glyphicon-ok"></i></span>
                                    {{state.label}}
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row margin-top-10">
                    <div class="panel-heading searchGroupHeading" ng-click="isIdentifierFieldsCollapsed = !isIdentifierFieldsCollapsed">
                        <h4 class="panel-title">
                            {{ 'SEARCH.ANALYSES.IDENTIFIERS'| translate }}
                            <section-opened-icon is-opened="isIdentifierFieldsCollapsed"/>
                        </h4>
                    </div>
                    <div uib-collapse="isIdentifierFieldsCollapsed">
                        <div class="well well-lg">
                            <div class="row searchCriterion">
                                <div class="col-md-12 searchCriterionTitle medium-padding">
                                    <b>{{ 'SEARCH.ANALYSES.IDENTIFIERS.SAMPLE_ID'| translate }}</b>
                                    <selectexact custom-css="searchCriterionType" ng-model="analysesSearch.id.type"/>
                                </div>
                                <div class="col-md-12 medium-padding">
                                    <input type="text" ng-model="analysesSearch.id.value" class="form-control"/>
                                </div>
                            </div>
                            <div class="row searchCriterion">
                                <div class="col-md-12 medium-padding">
                                    <b>{{ 'SEARCH.ANALYSES.IDENTIFIERS.NUMBER'| translate }}</b>
                                    <selectdefault custom-css="searchCriterionType" ng-model="analysesSearch.number.type"></selectdefault>
                                </div>
                                <div class="col-md-12 medium-padding">
                                    <input type="text" ng-model="analysesSearch.number.value" class="form-control"/>
                                </div>
                            </div>
                            <div class="row searchCriterion">
                                <div class="col-md-12 medium-padding">
                                    <b>{{ 'SEARCH.ANALYSES.IDENTIFIERS.BED_NAME_INDEX'| translate }}</b>
                                    <selectdefault custom-css="searchCriterionType" ng-model="analysesSearch.bedIndex.type"></selectdefault>
                                </div>
                                <div class="col-md-12 medium-padding">
                                    <input type="text" ng-model="analysesSearch.bedIndex.value" class="form-control"/>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="panel-heading searchGroupHeading" ng-click="isLocationFieldsCollapsed = !isLocationFieldsCollapsed">
                        <h4 class="panel-title">
                            {{ 'SEARCH.ANALYSES.LOCATION.LOCATION'| translate }}
                            <section-opened-icon is-opened="isLocationFieldsCollapsed"/>
                        </h4>
                    </div>
                    <div uib-collapse="isLocationFieldsCollapsed">
                        <div class="well well-lg">
                            <div class="row searchCriterion">
                                <div class="col-md-12 medium-padding">
                                    <b>{{ 'SEARCH.ANALYSES.LOCATION.LOCALITY'| translate }}</b>
                                    <selectdefault custom-css="searchCriterionType" ng-model="analysesSearch.locality.type"></selectdefault>
                                </div>
                                <div class="col-md-12 medium-padding">
                                    <input type="text" ng-model="analysesSearch.locality.value" class="form-control"/>
                                </div>
                            </div>
                            <div class="row searchCriterion">
                                <div class="col-md-12 medium-padding">
                                    <b>{{ 'SEARCH.ANALYSES.LOCATION.ADMIN_UNIT'| translate }}</b>
                                    <selectdefault custom-css="searchCriterionType" ng-model="analysesSearch.adminunit.type"></selectdefault>
                                </div>
                                <div class="col-md-12 medium-padding">
                                    <input type="text" ng-model="analysesSearch.adminunit.value" class="form-control"/>
                                </div>
                            </div>
                            <div class="row searchCriterion">
                                <div class="col-md-12 medium-padding">
                                    <b>{{ 'SEARCH.ANALYSES.LOCATION.DEPTH_M'| translate }}</b>
                                    <selectexact custom-css="searchCriterionType" ng-model="analysesSearch.depth.type"></selectexact>
                                </div>
                                <div class="col-md-12 medium-padding">
                                    <input type="text" ng-model="analysesSearch.depth.value" class="form-control"/>
                                </div>
                            </div>
                            <div class="row searchCriterion">
                                <div class="col-md-12 medium-padding">
                                    <b>{{ 'SEARCH.ANALYSES.LOCATION.STRATIGRAPHY'| translate }}</b>
                                    <selecthierarchy custom-css="searchCriterionType" ng-model="analysesSearch.stratigraphy.type"></selecthierarchy>
                                </div>
                                <div class="col-md-12 medium-padding">
                                    <input type="text" ng-model="analysesSearch.stratigraphy.value" class="form-control"/>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="panel-heading searchGroupHeading" ng-click="isAnalysesFieldsCollapsed = !isAnalysesFieldsCollapsed">
                        <h4 class="panel-title">
                            {{ 'SEARCH.ANALYSES.ANALYSIS.PANEL_TITLE'| translate }}
                            <section-opened-icon is-opened="isAnalysesFieldsCollapsed"/>
                        </h4>
                    </div>
                    <div uib-collapse="isAnalysesFieldsCollapsed">
                        <div class="well well-lg">
                            <div class="row searchCriterion">
                                <div class="col-md-12 medium-padding">
                                    <b>{{ 'SEARCH.ANALYSES.ANALYSIS.TYPE'| translate }}</b>
                                    <selectdefault custom-css="searchCriterionType" ng-model="analysesSearch.analysisType.type"></selectdefault>
                                </div>
                                <div class="col-md-12 medium-padding">
                                    <input type="text" ng-model="analysesSearch.analysisType.value" class="form-control"/>
                                </div>
                            </div>
                            <div class="row searchCriterion">
                                <div class="col-md-12 medium-padding">
                                    <b>{{ 'SEARCH.ANALYSES.ANALYSIS.COMPONENT_ANALYZED'| translate }}</b>
                                    <selectdefault custom-css="searchCriterionType" ng-model="analysesSearch.componentAnalysed.type"></selectdefault>
                                </div>
                                <div class="col-md-12 medium-padding">
                                    <input type="text" ng-model="analysesSearch.componentAnalysed.value" class="form-control"/>
                                </div>
                            </div>
                            <div class="row searchCriterion">
                                <div class="col-md-12 medium-padding">
                                    <b>{{ 'SEARCH.ANALYSES.ANALYSIS.CONTENT'| translate }}</b>
                                    <selectexact custom-css="searchCriterionType" ng-model="analysesSearch.content.type"></selectexact>
                                </div>
                                <div class="col-md-12 medium-padding">
                                    <input type="text" ng-model="analysesSearch.content.value" class="form-control"/>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-9">
                <div class="row geo-list-info ">
                    <div class="text-center">
                        <p class="amount"><span>{{ 'SEARCH.NO_OF_RESULTS'| translate }}</span>: {{response.count}}</p>
                    </div>
                </div>
                <div class="text-center">
                    <ul uib-pagination boundary-links="true" ng-change="search()" items-per-page="pageSize" max-size="sampleSearch.maxSize" rotate="false"
                                    total-items="totalItems" ng-model="sampleSearch.page" class="pagination-sm" previous-text="&lsaquo;" next-text="&rsaquo;"
                                    first-text="&laquo;" last-text="&raquo;"></ul>
                </div>
                <table class="table table-bordered table-hover">
                    <thead>
                    <tr>
                        <th>
                            <a href style="cursor: pointer" data-ng-click="order('id')"><span>{{ 'SEARCH.ANALYSES.TABLE.ID'| translate }}</span>
                                <span data-ng-show="sampleSearch.orderBy == 'id' && sampleSearch.sortAsc" class="glyphicon glyphicon-triangle-bottom"></span>
                                <span data-ng-show="sampleSearch.orderBy == 'id' && !sampleSearch.sortAsc" class="glyphicon glyphicon-triangle-top"></span>
                            </a>
                        </th>
                        <th>
                            <a href style="cursor: pointer" data-ng-click="order('sample')">{{ 'SEARCH.ANALYSES.TABLE.SAMPLE_ID'| translate }}
                                <span data-ng-show="sampleSearch.orderBy == 'sample' && sampleSearch.sortAsc" class="glyphicon glyphicon-triangle-bottom"></span>
                                <span data-ng-show="sampleSearch.orderBy == 'sample' && !sampleSearch.sortAsc" class="glyphicon glyphicon-triangle-top"></span>
                            </a>
                        </th>
                        <th>{{ 'SEARCH.ANALYSES.TABLE.LOCALITY'| translate }}</th>
                        <th>{{ 'SEARCH.ANALYSES.TABLE.DEPTH_M'| translate }}</th>
                        <th><span>{{ 'SEARCH.ANALYSES.TABLE.STRATIGRAPHY' | translate }}</span> | <span>{{ 'SEARCH.ANALYSES.TABLE.LITHOSTRATIGRAPHY' | translate }}</span></th>
                        <th>{{ 'SEARCH.ANALYSES.TABLE.BED_ID'| translate }}</th>
                        <th>{{ 'SEARCH.ANALYSES.TABLE.METHOD'| translate }}</th>
                        <th>{{ 'SEARCH.ANALYSES.TABLE.LAB'| translate }}</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr style="cursor: pointer; " data-ng-repeat="entity in response.result">
                        <td>{{entity.id}}</td>
                        <td>{{entity.sample}}</td>
                        <td>???</td>
                        <td>???</td>
                        <td>???</td>
                        <td>???</td>
                        <td>{{entity.analysisMethodMethodEng}}</td>
                        <td>{{entity.lab}}</td>
                    </tr>
                    </tbody>
                </table>
                <div class="text-center">
                    <ul uib-pagination boundary-links="true" ng-change="search()" items-per-page="pageSize" max-size="sampleSearch.maxSize" rotate="false"
                                    total-items="totalItems" ng-model="sampleSearch.page" class="pagination-sm" previous-text="&lsaquo;" next-text="&rsaquo;"
                                    first-text="&laquo;" last-text="&raquo;"></ul>
                </div>
            </div>
        </div>
    </div>
</div>