<style>
    .popover {
        min-width: 500px;
        max-width: 500px;
    }

    .search-help-popup {
        width: 480px;
    }

    .noBorderRadiusBtn {
        border-radius: 0;
    }

    #secondarySearchBtn {
        background-color: #3EC9A7;
        border-radius: 0;
    }

    .margin-left-0 {
        margin-left: 0px;
    }

    .searchCriterion {
        margin-bottom: 5px;
    }

    .searchGroupHeading {
        border-bottom: 1px solid #9c9c9c;
        cursor: pointer;
    }

    .searchCriterionType {
        float: right;
        margin-bottom: 2px;
        width: 125px;
    }

    .searchCriterionType option {
        width: 125px;
    }

    .medium-padding {
        padding-left: 3px;
        padding-right: 3px;
    }

    .checkbox label:after,
    .radio label:after {
        content: '';
        display: table;
        clear: both;
    }

    .checkbox .cr,
    .radio .cr {
        position: relative;
        display: inline-block;
        border: 1px solid #a9a9a9;
        border-radius: .25em;
        width: 1.3em;
        height: 1.3em;
        float: left;
        margin-right: .5em;
    }

    .checkbox .cr .cr-icon,
    .radio .cr .cr-icon {
        position: absolute;
        font-size: .8em;
        line-height: 0;
        top: 50%;
        left: 20%;
    }

    .checkbox label input[type="checkbox"],
    .radio label input[type="radio"] {
        display: none;
    }

    .checkbox label input[type="checkbox"] + .cr > .cr-icon,
    .radio label input[type="radio"] + .cr > .cr-icon {
        transform: scale(3) rotateZ(-20deg);
        opacity: 0;
        transition: all .3s ease-in;
    }

    .checkbox label input[type="checkbox"]:checked + .cr > .cr-icon,
    .radio label input[type="radio"]:checked + .cr > .cr-icon {
        transform: scale(1) rotateZ(0deg);
        opacity: 1;
    }

    .checkbox label input[type="checkbox"]:disabled + .cr,
    .radio label input[type="radio"]:disabled + .cr {
        opacity: .5;
    }
</style>
<script type="text/ng-template" id="analysesSearchHelp">
    <div class="search-help-popup">
        <p>First select the base table (specimens, samples, localities, references etc);</p>
        <p>Specify one or more criteria; NB! search is case insensitive; for text fields partial matches are returned by default (for instance, search
            'asap' in specimen name field will find 'Asaphus sp.' as well as 'Asaphus expansus'); for stratigraphy and classification the search is
            hierarchical by default, for number fields exact maches will be searched if user does not specify otherwise;</p>
        <p>To show a map where available, tick the appropriate checkbox;</p>
        <p>To show detailed information follow the links in the results table.</p>
        </p>
    </div>
</script>
<div class="panel panel-default">
    <div class="panel-body">
        <div class="row">
            <div class="text-center">
                <h1>Search: Analyses</h1>
            </div>
        </div>
        <div class="row">
            <loading></loading>
            <div class="col-lg-3">
                <div class="row margin-top-10 margin-left-0">
                    <button class="btn btn-info btn-secondary secondary-search-btn" id="secondarySearchBtn" data-ng-click="search()">
                        <i class="glyphicon glyphicon-search"></i> Send query
                    </button>
                    <button class="btn btn-default btn-secondary reset-search-btn noBorderRadiusBtn" data-ng-click="defaultSearch()">
                        <i class="glyphicon glyphicon-erase"></i> Reset form
                    </button>
                    <button uib-popover-template="'analysesSearchHelp'"
                            popover-trigger="'focus'"
                            popover-placement="'right-bottom'"
                            popover-title="Search tips"
                            type="button"
                            class="btn btn-default noBorderRadiusBtn">
                        <i class="glyphicon glyphicon-question-sign"></i>
                    </button>
                </div>

                <div class="row margin-top-10">
                    <div class="panel-heading searchGroupHeading" ng-click="isIdentifierFieldsCollapsed = !isIdentifierFieldsCollapsed">
                        <h4 class="panel-title">
                            Identifiers
                            <section-opened-icon is-opened="isIdentifierFieldsCollapsed"/>
                        </h4>
                    </div>
                    <div uib-collapse="isIdentifierFieldsCollapsed">
                        <div class="well well-lg">
                            <div class="row searchCriterion">
                                <div class="col-md-12 searchCriterionTitle medium-padding">
                                    <b>Sample ID</b>
                                    <selectexact custom-css="searchCriterionType" ng-model="analysesSearch.sampleid.lookUpType"/>
                                </div>
                                <div class="col-md-12 medium-padding">
                                    <input type="text" ng-model="analysesSearch.sampleid.name" class="form-control"/>
                                </div>
                            </div>
                            <div class="row searchCriterion">
                                <div class="col-md-12 medium-padding">
                                    <b>Number</b>
                                    <selectdefault custom-css="searchCriterionType" ng-model="analysesSearch.number.lookUpType"></selectdefault>
                                </div>
                                <div class="col-md-12 medium-padding">
                                    <input type="text" ng-model="analysesSearch.number.name" class="form-control"/>
                                </div>
                            </div>
                            <div class="row searchCriterion">
                                <div class="col-md-12 medium-padding">
                                    <b>Bed name / index</b>
                                    <selectdefault custom-css="searchCriterionType" ng-model="analysesSearch.bedIndex.lookUpType"></selectdefault>
                                </div>
                                <div class="col-md-12 medium-padding">
                                    <input type="text" ng-model="analysesSearch.bedIndex.name" class="form-control"/>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="panel-heading searchGroupHeading" ng-click="isLocationFieldsCollapsed = !isLocationFieldsCollapsed">
                        <h4 class="panel-title">
                            Location
                            <section-opened-icon is-opened="isLocationFieldsCollapsed"/>
                        </h4>
                    </div>
                    <div uib-collapse="isLocationFieldsCollapsed">
                        <div class="well well-lg">
                            <div class="row searchCriterion">
                                <div class="col-md-12 medium-padding">
                                    <b>Locality</b>
                                    <selectdefault custom-css="searchCriterionType" ng-model="analysesSearch.locality.lookUpType"></selectdefault>
                                </div>
                                <div class="col-md-12 medium-padding">
                                    <input type="text" ng-model="analysesSearch.locality.name" class="form-control"/>
                                </div>
                            </div>
                            <div class="row searchCriterion">
                                <div class="col-md-12 medium-padding">
                                    <b>Admin. unit</b>
                                    <selectdefault custom-css="searchCriterionType" ng-model="analysesSearch.adminunit.lookUpType"></selectdefault>
                                </div>
                                <div class="col-md-12 medium-padding">
                                    <input type="text" ng-model="analysesSearch.adminunit.name" class="form-control"/>
                                </div>
                            </div>
                            <div class="row searchCriterion">
                                <div class="col-md-12 medium-padding">
                                    <b>Depth (m)</b>
                                    <selectexact custom-css="searchCriterionType" ng-model="analysesSearch.depth.lookUpType"></selectexact>
                                </div>
                                <div class="col-md-12 medium-padding">
                                    <input type="text" ng-model="analysesSearch.depth.name" class="form-control"/>
                                </div>
                            </div>
                            <div class="row searchCriterion">
                                <div class="col-md-12 medium-padding">
                                    <b>Stratigraphy</b>
                                    <selecthierarchy custom-css="searchCriterionType" ng-model="analysesSearch.stratigraphy.lookUpType"></selecthierarchy>
                                </div>
                                <div class="col-md-12 medium-padding">
                                    <input type="text" ng-model="analysesSearch.stratigraphy.name" class="form-control"/>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="panel-heading searchGroupHeading" ng-click="isAnalysesFieldsCollapsed = !isAnalysesFieldsCollapsed">
                        <h4 class="panel-title">
                            Analysis
                            <section-opened-icon is-opened="isAnalysesFieldsCollapsed"/>
                        </h4>
                    </div>
                    <div uib-collapse="isAnalysesFieldsCollapsed">
                        <div class="well well-lg">
                            <div class="row searchCriterion">
                                <div class="col-md-12 medium-padding">
                                    <b>Type of analysis</b>
                                    <selectdefault custom-css="searchCriterionType" ng-model="analysesSearch.analysisType.lookUpType"></selectdefault>
                                </div>
                                <div class="col-md-12 medium-padding">
                                    <input type="text" ng-model="analysesSearch.analysisType.name" class="form-control"/>
                                </div>
                            </div>
                            <div class="row searchCriterion">
                                <div class="col-md-12 medium-padding">
                                    <b>Component analysed</b>
                                    <selectdefault custom-css="searchCriterionType" ng-model="analysesSearch.componentAnalysed.lookUpType"></selectdefault>
                                </div>
                                <div class="col-md-12 medium-padding">
                                    <input type="text" ng-model="analysesSearch.componentAnalysed.name" class="form-control"/>
                                </div>
                            </div>
                            <div class="row searchCriterion">
                                <div class="col-md-12 medium-padding">
                                    <b>Content</b>
                                    <selectexact custom-css="searchCriterionType" ng-model="analysesSearch.content.lookUpType"></selectexact>
                                </div>
                                <div class="col-md-12 medium-padding">
                                    <input type="text" ng-model="analysesSearch.content.name" class="form-control"/>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="panel-heading searchGroupHeading" ng-click="isInstitutionsCollapsed = !isInstitutionsCollapsed">
                        <h4 class="panel-title">
                            Institutions
                            <section-opened-icon is-opened="isInstitutionsCollapsed"/>
                        </h4>
                    </div>
                    <div uib-collapse="isInstitutionsCollapsed" class="well well-lg">
                        <div class="row searchCriterion">
                            <div class="checkbox" data-ng-repeat="state in departments">
                                <label>
                                    <input type="checkbox"
                                           value="{{state.code}}"
                                           data-ng-checked="specimensSearch.dbs.indexOf(state.code) > -1"
                                           data-ng-click="toggle(state.code)">
                                    <span class="cr"><i class="cr-icon glyphicon glyphicon-ok"></i></span>
                                    {{state.label}}
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-9">
                <div class="row geo-list-info ">
                    <div class="text-center">
                        <p class="amount">Kokku: {{response.count}}</p>
                    </div>
                </div>
                <div class="text-center">
                    <ul uib-pagination boundary-links="true" ng-change="search()" items-per-page="pageSize" max-size="sampleSearch.maxSize" rotate="false"
                                    total-items="totalItems" ng-model="sampleSearch.page" class="pagination-sm" previous-text="&lsaquo;" next-text="&rsaquo;"
                                    first-text="&laquo;" last-text="&raquo;"></ul>
                </div>
                <table class="table table-bordered table-hover">
                    <thead>
                    <tr>
                        <th>ID</th>
                        <th>Sample #</th>
                        <th>Locality</th>
                        <th>Depth (m)</th>
                        <th>Stratigraphy <em>Lithostratigraphy</em></th>
                        <th>bed ID</th>
                        <th>Method</th>
                        <th>Lab.</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr style="cursor: pointer; " data-ng-repeat="entity in response.result">
                        <td>{{entity.id}}</td>
                        <td>{{entity.sample}}</td>
                        <td>???</td>
                        <td>???</td>
                        <td>???</td>
                        <td>???</td>
                        <td>{{entity.analysisMethodMethodEng}}</td>
                        <td>{{entity.lab}}</td>
                    </tr>
                    </tbody>
                </table>
                <div class="text-center">
                    <ul uib-pagination boundary-links="true" ng-change="search()" items-per-page="pageSize" max-size="sampleSearch.maxSize" rotate="false"
                                    total-items="totalItems" ng-model="sampleSearch.page" class="pagination-sm" previous-text="&lsaquo;" next-text="&rsaquo;"
                                    first-text="&laquo;" last-text="&raquo;"></ul>
                </div>
            </div>
        </div>
    </div>
</div>