<div class="container">
    <div class="row">
        <div class="col-md-4">
            <h3 class="header-collection">Explore data model:</h3>
                <ul class="ul-square">
                    <li><a href="http://schema.geokogud.info/accession/">accession</a></li>

                    <li><a href="http://schema.geokogud.info/agent/">agent</a></li>

                    <li><a href="http://schema.geokogud.info/agent_type/">agent_type</a></li>

                    <li><a href="http://schema.geokogud.info/analysis/">analysis</a></li>

                    <li><a href="http://schema.geokogud.info/analysis_results/">analysis_results</a></li>

                    <li><a href="http://schema.geokogud.info/analysis_method/">analysis_method</a></li>

                    <li><a href="http://schema.geokogud.info/attachment/">attachment</a></li>

                    <li><a href="http://schema.geokogud.info/attachment_link/">attachment_link</a></li>

                    <li><a href="http://schema.geokogud.info/classification/">classification</a></li>

                    <li><a href="http://schema.geokogud.info/classification_mineral/">classification_mineral</a></li>

                    <li><a href="http://schema.geokogud.info/classification_rock/">classification_rock</a></li>

                    <li><a href="http://schema.geokogud.info/collection/">collection</a></li>

                    <li><a href="http://schema.geokogud.info/database/">database</a></li>

                    <li><a href="http://schema.geokogud.info/dataset/">dataset</a></li>

                    <li><a href="http://schema.geokogud.info/dataset_analysis/">dataset_analysis</a></li>

                    <li><a href="http://schema.geokogud.info/dataset_author/">dataset_author</a></li>

                    <li><a href="http://schema.geokogud.info/dataset_reference/">dataset_reference</a></li>

                    <li><a href="http://schema.geokogud.info/deaccession/">deaccession</a></li>

                    <li><a href="http://schema.geokogud.info/device/">device</a></li>

                    <li><a href="http://schema.geokogud.info/doi/">doi</a></li>

                    <li><a href="http://schema.geokogud.info/doi_agent/">doi_agent</a></li>

                    <li><a href="http://schema.geokogud.info/doi_agent_type/">doi_agent_type</a></li>

                    <li><a href="http://schema.geokogud.info/doi_date/">doi_date</a></li>

                    <li><a href="http://schema.geokogud.info/doi_date_type/">doi_date_type</a></li>

                    <li><a href="http://schema.geokogud.info/doi_geolocation/">doi_geolocation</a></li>

                    <li><a href="http://schema.geokogud.info/doi_related_identifier/">doi_related_identifier</a></li>

                    <li><a href="http://schema.geokogud.info/doi_related_identifier_type/">doi_related_identifier_type</a></li>

                    <li><a href="http://schema.geokogud.info/doi_relation_type/">doi_relation_type</a></li>

                    <li><a href="http://schema.geokogud.info/doi_resource_type/">doi_resource_type</a></li>

                    <li><a href="http://schema.geokogud.info/drillcore/">drillcore</a></li>

                    <li><a href="http://schema.geokogud.info/drillcore_box/">drillcore_box</a></li>

                    <li><a href="http://schema.geokogud.info/drillcore_image/">drillcore_image</a></li>

                    <li><a href="http://schema.geokogud.info/drillcore_study/">drillcore_study</a></li>

                    <li><a href="http://schema.geokogud.info/image/">image</a></li>

                    <li><a href="http://schema.geokogud.info/imageset/">imageset</a></li>

                    <li><a href="http://schema.geokogud.info/journal/">journal</a></li>

                    <li><a href="http://schema.geokogud.info/lab/">lab</a></li>

                    <li><a href="http://schema.geokogud.info/lab_instrument/">lab_instrument</a></li>

                    <li><a href="http://schema.geokogud.info/list_asustusyksus/">list_asustusyksus</a></li>

                    <li><a href="http://schema.geokogud.info/list_attachment_type/">list_attachment_type</a></li>

                    <li><a href="http://schema.geokogud.info/list_classification_rank/">list_classification_rank</a>
                    </li>

                    <li><a href="http://schema.geokogud.info/list_collection_type/">list_collection_type</a></li>

                    <li><a href="http://schema.geokogud.info/list_coordinate_method/">list_coordinate_method</a></li>

                    <li><a href="http://schema.geokogud.info/list_coordinate_precision/">list_coordinate_precision</a></li>

                    <li><a href="http://schema.geokogud.info/list_country/">list_country</a></li>

                    <li><a href="http://schema.geokogud.info/list_drillcore_storage/">list_drillcore_storage</a></li>

                    <li><a href="http://schema.geokogud.info/list_history_type/">list_history_type</a></li>

                    <li><a href="http://schema.geokogud.info/list_identification_type/">list_identification_type</a></li>

                    <li><a href="http://schema.geokogud.info/list_image_type/">list_image_type</a></li>

                    <li><a href="http://schema.geokogud.info/list_language/">list_language</a></li>

                    <li><a href="http://schema.geokogud.info/list_licence/">list_licence</a></li>

                    <li><a href="http://schema.geokogud.info/list_loan_delivery_method/">list_loan_delivery_method</a>
                    </li>

                    <li><a href="http://schema.geokogud.info/list_loan_type/">list_loan_type</a></li>

                    <li><a href="http://schema.geokogud.info/list_locality_extent/">list_locality_extent</a></li>

                    <li><a href="http://schema.geokogud.info/list_locality_reference_type/">list_locality_reference_type</a></li>

                    <li><a href="http://schema.geokogud.info/list_locality_type/">list_locality_type</a></li>

                    <li><a href="http://schema.geokogud.info/list_maakond/">list_maakond</a></li>

                    <li><a href="http://schema.geokogud.info/list_palaeontology_method/">list_palaeontology_method</a></li>

                    <li><a href="http://schema.geokogud.info/list_reference_type/">list_reference_type</a></li>

                    <li><a href="http://schema.geokogud.info/list_sample_purpose/">list_sample_purpose</a></li>

                    <li><a href="http://schema.geokogud.info/list_specimen_kind/">list_specimen_kind</a></li>

                    <li><a href="http://schema.geokogud.info/list_specimen_original_status/">list_specimen_original_status</a>
                    </li>

                    <li><a href="http://schema.geokogud.info/list_specimen_presence/">list_specimen_presence</a></li>

                    <li><a href="http://schema.geokogud.info/list_specimen_status/">list_specimen_status</a></li>

                    <li><a href="http://schema.geokogud.info/list_specimen_type/">list_specimen_type</a></li>

                    <li><a href="http://schema.geokogud.info/list_stratigraphy_rank/">list_stratigraphy_rank</a></li>

                    <li><a href="http://schema.geokogud.info/list_stratigraphy_scope/">list_stratigraphy_scope</a></li>

                    <li><a href="http://schema.geokogud.info/list_stratigraphy_status/">list_stratigraphy_status</a>
                    </li>

                    <li><a href="http://schema.geokogud.info/list_stratigraphy_type/">list_stratigraphy_type</a></li>

                    <li><a href="http://schema.geokogud.info/list_stratotype_type/">list_stratotype_type</a></li>

                    <li><a href="http://schema.geokogud.info/list_unit/">list_unit</a></li>

                    <li><a href="http://schema.geokogud.info/list_user_role/">list_user_role</a></li>

                    <li><a href="http://schema.geokogud.info/list_vald/">list_vald</a></li>

                    <li><a href="http://schema.geokogud.info/list_visibility/">list_visibility</a></li>

                    <li><a href="http://schema.geokogud.info/loan/">loan</a></li>

                    <li><a href="http://schema.geokogud.info/loan_specimen/">loan_specimen</a></li>

                    <li><a href="http://schema.geokogud.info/loan_sample/">loan_sample</a></li>

                    <li><a href="http://schema.geokogud.info/locality/">locality</a></li>

                    <li><a href="http://schema.geokogud.info/locality_reference/">locality_reference</a></li>

                    <li><a href="http://schema.geokogud.info/locality_stratigraphy/">locality_stratigraphy</a></li>

                    <li><a href="http://schema.geokogud.info/locality_summary/">locality_summary</a></li>

                    <li><a href="http://schema.geokogud.info/locality_synonym/">locality_synonym</a></li>

                    <li><a href="http://schema.geokogud.info/location/">location</a></li>

                    <li><a href="http://schema.geokogud.info/preparation/">preparation</a></li>

                    <li><a href="http://schema.geokogud.info/preparation_taxa/">preparation_taxa</a></li>

                    <li><a href="http://schema.geokogud.info/reference/">reference</a></li>

                    <li><a href="http://schema.geokogud.info/sample/">sample</a></li>

                    <li><a href="http://schema.geokogud.info/sample_palaeontology/">sample_palaeontology</a></li>

                    <li><a href="http://schema.geokogud.info/sample_reference/">sample_reference</a></li>

                    <li><a href="http://schema.geokogud.info/sample_series/">sample_series</a></li>

                    <li><a href="http://schema.geokogud.info/sample_series_reference/">sample_series_reference</a></li>

                    <li><a href="http://schema.geokogud.info/selection/">selection</a></li>

                    <li><a href="http://schema.geokogud.info/selection_series/">selection_series</a></li>

                    <li><a href="http://schema.geokogud.info/soil_horizon/">soil_horizon</a></li>

                    <li><a href="http://schema.geokogud.info/soil_site/">soil_site</a></li>

                    <li><a href="http://schema.geokogud.info/specimen/">specimen</a></li>

                    <li><a href="http://schema.geokogud.info/specimen_description/">specimen_description</a></li>

                    <li><a href="http://schema.geokogud.info/specimen_history/">specimen_history</a></li>

                    <li><a href="http://schema.geokogud.info/specimen_identification/">specimen_identification</a></li>

                    <li><a href="http://schema.geokogud.info/specimen_identification_geology/">specimen_identification_geology</></li>

                    <li><a href="http://schema.geokogud.info/specimen_image/">specimen_image</a></li>

                    <li><a href="http://schema.geokogud.info/specimen_location/">specimen_location</a></li>

                    <li><a href="http://schema.geokogud.info/specimen_reference/">specimen_reference</a></li>

                    <li><a href="http://schema.geokogud.info/stratigraphy/">stratigraphy</a></li>

                    <li><a href="http://schema.geokogud.info/stratigraphy_reference/">stratigraphy_reference</a></li>

                    <li><a href="http://schema.geokogud.info/stratigraphy_stratotype/">stratigraphy_stratotype</a></li>

                    <li><a href="http://schema.geokogud.info/stratigraphy_synonym/">stratigraphy_synonym</a></li>

                    <li><a href="http://schema.geokogud.info/taxon/">taxon</a></li>

                    <li><a href="http://schema.geokogud.info/taxon_common_name/">taxon_common_name</a></li>

                    <li><a href="http://schema.geokogud.info/taxon_image/">taxon_image</a></li>

                    <li><a href="http://schema.geokogud.info/taxon_list/">taxon_list</a></li>

                    <li><a href="http://schema.geokogud.info/taxon_occurrence/">taxon_occurrence</a></li>

                    <li><a href="http://schema.geokogud.info/taxon_rank/">taxon_rank</a></li>

                    <li><a href="http://schema.geokogud.info/taxon_synonym/">taxon_synonym</a></li>

                    <li><a href="http://schema.geokogud.info/taxon_type_specimen/">taxon_type_specimen</a></li>

                    <li><a href="http://schema.geokogud.info/visit/">visit</a></li>
                </ul>
        </div>
        <div class="col-md-8">
 		<div ng-bind-html="main.webpages.results[0].content_et"></div>
        </div>
        <!--	<div>{{list}}</div>-->
    </div>
</div>
