<header ng-include="'app/templates/main/partial/header.html'"></header>
<section id="sectionSearch">
    <div id="searches" ng-include="'app/templates/main/partial/global_search_tabs.html'"></div>
    <div class="container-fluid" bs-loading-overlay bs-loading-overlay-reference-id="globalView" bs-loading-overlay-template-url="app/templates/main/partial/loading.overlay.html">
        <div class="row"  style="margin-top: 2%">
            <div class="col-lg-2"></div>
            <div class="col-lg-8 text-center" style="color:#F05F40"><h3>{{'GLOBAL_SEARCH_INFO' | translate}}</h3></div>
            <div class="col-lg-2"></div>
        </div>
        <div class="row"  style="margin-top: 2%">
            <div bs-loading-overlay bs-loading-overlay-reference-id="globalView" bs-loading-overlay-template-url="app/templates/main/partial/loading.overlay.html">
                <div class="col-md-1"></div>
                <div class="col-md-10">
                    <div ng-if="selectedTab == 'specimen'" non-isolated-include template-path="app/templates/search/specimen/specimen_results.html"></div>
                    <div ng-if="selectedTab == 'sample'" non-isolated-include template-path="app/templates/search/sample/sample_results.html"></div>
                    <div ng-if="selectedTab == 'locality'" non-isolated-include template-path="app/templates/search/locality/locality_results.html"></div>
                    <div ng-if="selectedTab == 'reference'" non-isolated-include template-path="app/templates/search/reference/reference_results.html"></div>
                    <div ng-if="selectedTab == 'stratigraphy'" non-isolated-include template-path="app/templates/search/stratigraphy/stratigraphy_results.html"></div>
                    <div ng-if="selectedTab == 'image'" non-isolated-include template-path="app/templates/search/image/image_results.html"></div>
                    <div ng-if="selectedTab == 'taxon'" non-isolated-include template-path="app/templates/search/taxon/taxon_results.html"></div>
                </div>
                <div class="col-md-1"></div>
            </div>
        </div>
    </div>
</section>
<div ng-include="'app/templates/main/partial/contact.html'"></div>
<div ng-include="'app/templates/main/partial/footer.html'"></div>