<link rel="stylesheet" href="css/map.css">

<div id="mapcontainer">
    <div id='hoverbox' class='coupontooltip'>
        <div id='hoversystem'></div>
        <div id='hoverstat'></div>
    </div>
    <main-map></main-map>
</div>
<div id="map-footer-container">
    <div class="bg-dark" id="map-footer-menu">
        <form role="form" class="form-inline" name="filter" ng-submit="submitFilterForm()">
            <label>Found <strong>{{ countLocalities }}</strong> georeferenced localities. Show only those or search by:</label>
            <div class="input-group input-group-sm input-inline">
                <input type="text" class="form-control input-sm" name="localityName" placeholder="Name">
                <div class="input-group-btn">
                    <button type="submit" class="btn btn-primary btn-sm">
                        <i class="fa fa-refresh sr-icons" aria-hidden="true"></i>
                    </button>
                </div>
            </div>
            <br/>
            <label class="checkbox-inline"><input type="checkbox" data-ng-click="submitFilterForm()" name="specimens"/>collection specimens |</label>
            <label class="checkbox-inline"><input type="checkbox" data-ng-click="submitFilterForm()" name="samples"/>samples|</label>
            <label class="checkbox-inline"><input type="checkbox" data-ng-click="submitFilterForm()" name="drillcores"/>drillcores|</label>
            <label class="checkbox-inline"><input type="checkbox" data-ng-click="submitFilterForm()" name="citing_references"/>citing references |</label>
            <label class="checkbox-inline"><input type="checkbox" data-ng-click="submitFilterForm()" name="analyses"/>analyses|</label>
            <label class="checkbox-inline"><input type="checkbox" data-ng-click="submitFilterForm()" name="stratotypes"/>stratotypes |</label>
            <label class="checkbox-inline"><input type="checkbox" data-ng-click="submitFilterForm()" name="images"/>photos|</label>
            <label class="checkbox-inline"><input type="checkbox" data-ng-click="submitFilterForm()" name="taxon_occurrences"/>taxon occurrences</label>
        </form>
    </div>
</div>
