<div class="container-fluid">
    <div class="navbar-header">
        <a class="navbar-brand page-scroll" href="#page-top">{{ 'INDEX.GEOCOLLECTIONS_TITLE' | translate }}</a>
        <!-- Quick search in header
        <!--<div class="col-sm-4 col-md-4 pull-left">
            <form class="navbar-form">
                <div class="form-group" role="search">
                    <div class="input-group input-group-sm">
                        <input type="text" class="form-control input-sm"
                               placeholder="{{ 'INDEX.SEARCH_FIELD_TEXT' | translate }}">
                        <div class="input-group-btn">
                            <button type="button" class="btn btn-primary btn-sm">
                                <i class="fa fa-search sr-icons" aria-hidden="true"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </form>
        </div>-->
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse">
            <span class="sr-only">Menu</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
    </div>
    <div class="collapse navbar-collapse" id="navbar-collapse">
        <ul class="nav navbar-nav navbar-right">
            <li>
                <a class="page-scroll-to-searches" href="#search">{{ 'INDEX.SEARCH_LINK' | translate }}</a>
            </li>
            <li>
                <a class="page-scroll" href="#about">{{ 'INDEX.ABOUT_LINK' | translate }}</a>
            </li>
            <li>
                <a class="page-scroll" href="#resources">{{ 'INDEX.RESOURCES_LINK' | translate }}</a>
            </li>
            <li>
                <a class="page-scroll-to-additional" href="#map">{{ 'INDEX.MAP_LINK' | translate }}</a>
            </li>
            <li>
                <a class="page-scroll" href="#contact">{{ 'INDEX.CONTACT_LINK' | translate }}</a>
            </li>
            <li class="dropdown">
                <a href="" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{ 'INDEX.INVESTIGATORS_LINK' | translate }}<span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li data-toggle="collapse" data-target=".in"><a href="database">{{ 'INDEX.DATABASE_LINK' | translate }}</a></li>
                    <li data-toggle="collapse" data-target=".in"><a href="{{config.apiUrl}}" target="_blank">{{ 'INDEX.PUBLIC_API_LINK' | translate }}</a></li>
                    <li data-toggle="collapse" data-target=".in"><a href="{{config.githubUrl}}">GitHub</a></li>
                </ul>
            <li class="nav-divider"></li>
            </li>
            <li ng-controller="Ctrl" >
                <a href="" ng-click="changeLanguage('et')">{{ 'INDEX.BUTTON_LANG_ET' | translate }}</a>
            </li>
            <li ng-controller="Ctrl" >
                <a href="" ng-click="changeLanguage('en')">{{ 'INDEX.BUTTON_LANG_EN' | translate }}</a>
            </li>
        </ul>
    </div>
</div>