 <div id="infoCarousel" class="carousel slide" data-ride="carousel" data-interval="false">
        <div class="carousel-inner backgr" role="listbox">
            <div class="item active">
                <div ng-include="'app/templates/main/git.html'"></div>
            </div>

            <div class="item">
                <div ng-include="'app/templates/main/geocollection.html'"></div>
            </div>

            <div class="item">
                <div ng-include="'app/templates/main/using_collection.html'"></div>
            </div>

            <div class="item">
                <div ng-include="'app/templates/main/news.html'"></div>
            </div>

            <div class="item">
                <div ng-include="'app/templates/main/database.html'"></div>
            </div>
        </div>
     <a class="geo-carousel-control" data-target="#infoCarousel" role="button" data-slide="prev">
         <span class="glyphicon glyphicon-chevron-left carouselControlButton" aria-hidden="true"></span>
     </a>
     <a class="geo-carousel-control geo-carousel-right" data-target="#infoCarousel" role="button" data-slide="next">
         <span class="glyphicon glyphicon-chevron-right carouselControlButton" aria-hidden="true"></span>
     </a>
 </div>
