<div id="footer-logos">
    <a href="http://geokogud.info">
        <img data-toggle="tooltip" data-placement="bottom" title="SARV: database for geocollections of Estonia" src="img/logos/sarv_logo_valge1.png" alt="Sarv">
    </a>
    <a href="http://natarc.ut.ee">
        <img data-toggle="tooltip" data-placement="bottom" title="Natural History Archives and Information Network (NATARC)" src="img/logos/NATARC_transparent.png" alt="Natural History Archives and Information Network (NATARC)">
    </a>
    <a href="http://datacite.ut.ee">
        <img data-toggle="tooltip" data-placement="bottom" title="DataCite" src="img/logos/logo_datacite_bw.png" alt="DataCite">
    </a>
    <a href="http://struktuurifondid.ee">
        <img data-toggle="tooltip" data-placement="bottom" title="European Union" src="img/logos/EL_mv.png" alt="EU">
    </a>
    <a href="http://kik.ee">
        <img data-toggle="tooltip" data-placement="bottom" title="EIC" src="img/logos/kik_bw.png" alt="Environmental Investment Centre" height=70>
    </a>
</div>
<small>
    <div>
        <img src="img/logos/cc.png" alt="cc" height="15"> 2008-2017.<span> {{ 'INDEX.SARV_CC' | translate }}</span>
    </div>
    <div>
        <span>
            {{ 'INDEX.FOOTER_MESSAGE' | translate }}
        </span>
    </div>
</small>
<a href="" class="back-to-top">{{ 'INDEX.BACK_TO_TOP' | translate }}</a>
