<section id="search">
    <div class="container-fluid">
        <ul class="nav nav-tabs nav-fill navbar-center" role="tablist">
            <li class="nav-item" data-ui-sref-active="active" role="presentation"><a data-toggle="tab" role="tab" data-toggle="tab" data-ui-sref="specimens">Specimens</a></li>
            <li class="nav-item" data-ui-sref-active="active" role="presentation"><a data-toggle="tab" role="tab" data-toggle="tab" data-ui-sref="samples">Samples</a></li>
            <li class="nav-item" data-ui-sref-active="active" role="presentation"><a data-toggle="tab" role="tab" data-toggle="tab" data-ui-sref="drillCores">Drill cores</a></li>
            <li class="nav-item" data-ui-sref-active="active" role="presentation"><a data-toggle="tab" role="tab" data-toggle="tab" data-ui-sref="localities">Localities</a></li>
            <li class="nav-item" data-ui-sref-active="active" role="presentation"><a data-toggle="tab" role="tab" data-toggle="tab" data-ui-sref="references">References</a></li>
            <li class="nav-item" data-ui-sref-active="active" role="presentation"><a data-toggle="tab" role="tab" data-toggle="tab" data-ui-sref="stratigraphy">Stratigraphy</a></li>
            <li class="nav-item" data-ui-sref-active="active" role="presentation"><a data-toggle="tab" role="tab" data-toggle="tab" data-ui-sref="analyses">Analyses</a></li>
            <li class="nav-item" data-ui-sref-active="active" role="presentation"><a data-toggle="tab" role="tab" data-toggle="tab" data-ui-sref="preparations">Preparations</a></li>
            <li class="nav-item" data-ui-sref-active="active" role="presentation"><a data-toggle="tab" role="tab" data-toggle="tab" data-ui-sref="photoArchive">Photo archive</a></li>
            <li class="nav-item" data-ui-sref-active="active" role="presentation"><a data-toggle="tab" role="tab" data-toggle="tab" data-ui-sref="soil">Soil</a></li>
            <li class="nav-item" data-ui-sref-active="active" role="presentation"><a data-toggle="tab" role="tab" data-toggle="tab" data-ui-sref="doi">DOI</a></li>
        </ul>
    </div>

    <div ui-view="specific-search"></div>
</section>