<div class="panel panel-default">
    <div class="panel-body">
        <div class="row">
            <div class="col-lg-3">
                <label>{{doi.identifier}}</label>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6">
                <table class="table table-bordered table-hover">
                    <tr><td>Citation</td><td>{{doi.abstract}}</td></tr>
                    <tr><td>DOI</td><td>{{doi.identifier}}</td></tr>
                    <tr><td>Resource type general</td><td>{{doi.resourceType}}</td></tr>
                    <tr><td>Resource type</td><td>{{doi.resource}}</td></tr>
                    <tr><td>Creators</td><td>{{doi.creators}}</td></tr>
                    <tr><td>Publisher</td><td>{{doi.publisher}}</td></tr>
                    <tr><td>Key words</td><td>{{doi.subjects}}</td></tr>
                    <tr><td>Language</td><td>{{doi.languageEn}}</td></tr>
                    <tr><td>Version</td><td>{{doi.version}}</td></tr>
                    <tr><td>Formats</td><td>{{doi.formats}}</td></tr>
                    <tr><td>Copyright</td><td>{{doi.copyrightAgent}}</td></tr>
                    <tr><td>Licence</td><td><a href data-ng-click="openUrlInNewWindow({url:doi.licenceUrlEn})">{{doi.licenceEn}}</a></td></tr>
                    <tr><td>SARV created</td><td>{{doi.dateAdded | date:dateFormat}}</td></tr>
                    <tr><td>SARV updated</td><td>{{doi.dateChanged | date:dateFormat}}</td></tr>
                </table>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6">
                <h2>Related persons and institutions</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6">
                <table class="table table-bordered table-hover">
                    <thead>
                    <tr>
                        <th>Name</th>
                        <th>Affiliation</th>
                        <th>Relation</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr style="cursor: pointer; " data-ng-repeat="entity in doiAgent">
                        <td>{{entity.name}}</td>
                        <td>{{entity.affiliation}}</td>
                        <td>{{entity.agentType}}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6">
                <h2>Related identifiers</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6">
                <table class="table table-bordered table-hover">
                    <thead>
                    <tr>
                        <th>Relation</th>
                        <th>Identifier</th>
                        <th>Value</th>
                        <th>Remark</th>
                        <th>Link</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr style="cursor: pointer; " data-ng-repeat="entity in doiRelatedIdentifier">
                        <td>{{entity.relatedType}}</td>
                        <td>{{entity.identifierType}}</td>
                        <td>{{entity.value}}</td>
                        <td>???</td>
                        <td>???</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6">
                <h2>Related geolocations</h2>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-6">
                <table class="table table-bordered table-hover">
                    <thead>
                    <tr>
                        <th>Named place</th>
                        <th>Point (Lat Long)</th>
                        <th>Relation</th>
                        <th>Bounding box</th>
                        <th>Locality from database</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr style="cursor: pointer; " data-ng-repeat="entity in doiGeolocation">
                        <td>{{entity.place}}</td>
                        <td>{{entity.point}}</td>
                        <td>???</td>
                        <td>???</td>
                        <td>???</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-6">
                <h2>Map of data points</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6">
                <localities-map localities="localities"></localities-map>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6">
                <h2>Preview data (for text files only)</h2>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-6">
                <table class="table table-bordered table-hover">
                    <thead>
                    <tr>
                        <th>Sample ID</th>
                        <th>Locality</th>
                        <th>Depth, m</th>
                        <th>Chronostratigraphy</th>
                        <th>Lithostratigraphy</th>
                        <th>delta13C</th>
                        <th>permil</th>
                    </tr>
                    </thead>
                    <tbody>

                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>