<header ng-include="'app/templates/main/partial/header.html'"></header>
<section id="sectionSearch">
    <div id="searches" ng-include="'app/templates/main/partial/search.html'"></div>
    <div class="container-fluid" bs-loading-overlay bs-loading-overlay-reference-id="searchView" bs-loading-overlay-template-url="app/templates/main/partial/loading.overlay.html">
        <div class="row">
            <div class="col-sm-3 col-md-3 col-lg-3">
                <div class="row">
                    <h3 class="search-heading">{{ 'SEARCH.PHOTO_ARCHIVE.HEADING' | translate }} <span
                            class="badge badge-info">{{response.count}}</span>
                        <button type="submit" value="showHint" class="btn btn-info btn-sm pull-right"
                                data-ng-click="showHint()">
                            <span class="glyphicon glyphicon-question-sign"></span> {{ 'SEARCH.FAQ' | translate }}
                        </button>
                    </h3>
                </div>
                <div class="visible-xs">
                    <div class="row content search-hint" ng-bind-html="main.getContent(main.protoArchiveQuery)" data-ng-if="isHintHidden"></div>
                </div>
                <form ng-enter="search()">
                    <div class="row">
                        <div class="checkbox">
                            <checkbox-field name = 'SEARCH.SEARCH_IMAGES' ng-model="searchParameters.searchImages"></checkbox-field>
                        </div>
                    </div>
                    <div class="row">
                        <div class="panel-heading searchGroupHeading"
                             ng-click="isIdentifierFieldsCollapsed = !isIdentifierFieldsCollapsed">
                            <h4 class="panel-title">
                                {{ 'SEARCH.CRITERIA.HEADING.PRIMARY'| translate }}
                                <section-opened-icon is-opened="isIdentifierFieldsCollapsed"/>
                            </h4>
                        </div>
                        <div uib-collapse="isIdentifierFieldsCollapsed">
                            <div class="well well-lg">
                                <div class="row searchCriterion">
                                    <div class="col-md-12  medium-padding">
                                        <b>{{ 'SEARCH.PHOTO_ARCHIVE.LOCALITY' | translate }}</b>
                                        <selectdefault custom-css="searchCriterionType"
                                                       ng-model="searchParameters.locality.lookUpType"></selectdefault>
                                    </div>
                                    <div class="col-md-12 medium-padding">
                                        <autocomplete-field ng-model="searchParameters.locality.name" table="image" en="locality__locality_en" et="locality__locality"/>
                                    </div>
                                </div>
                                <div class="row searchCriterion">
                                    <div class="col-md-12  medium-padding">
                                        <b>{{ 'SEARCH.PHOTO_ARCHIVE.PEOPLE' | translate }}</b>
                                        <selectdefault custom-css="searchCriterionType"
                                                       ng-model="searchParameters.people.lookUpType"></selectdefault>
                                    </div>
                                    <div class="col-md-12 medium-padding">
                                        <input type="text" ng-model="searchParameters.people.name" class="form-control"/>
                                    </div>
                                </div>
                                <div class="row searchCriterion">
                                    <div class="col-md-12  medium-padding">
                                        <b>{{ 'SEARCH.PHOTO_ARCHIVE.KEY_WORDS' | translate }}</b>
                                        <selectdefault custom-css="searchCriterionType"
                                                       ng-model="searchParameters.keywords.lookUpType"></selectdefault>
                                    </div>
                                    <div class="col-md-12 medium-padding">
                                        <input type="text" ng-model="searchParameters.keywords.name" class="form-control"/>
                                    </div>
                                </div>
                                <div class="row searchCriterion">
                                    <div class="col-md-12  medium-padding">
                                        <b>{{ 'SEARCH.PHOTO_ARCHIVE.ADMIN_UNIT' | translate }}</b>
                                        <selectdefault custom-css="searchCriterionType"
                                                       ng-model="searchParameters.adminUnit.lookUpType"></selectdefault>
                                    </div>
                                    <div class="col-md-12 medium-padding">
                                        <input type="text" ng-model="searchParameters.adminUnit.name" class="form-control" data-ng-disabled="true"/>
                                    </div>
                                </div>
                                <div class="row searchCriterion">
                                    <div class="col-md-12  medium-padding">
                                        <b>{{ 'SEARCH.PHOTO_ARCHIVE.DATE' | translate }}</b>
                                    </div>
                                    <div class="col-md-12 medium-padding">
                                        <common-datetimepicker ng-model="searchParameters.dateTakenSince" lookup="gte"></common-datetimepicker>
                                        <common-datetimepicker ng-model="searchParameters.dateTakenTo" lookup="lte"></common-datetimepicker>
                                    </div>
                                </div>
                                <div class="row searchCriterion">
                                    <div class="col-md-12  medium-padding">
                                        <b>{{ 'SEARCH.PHOTO_ARCHIVE.NUMBER' | translate }}</b>
                                        <selectdefault custom-css="searchCriterionType"
                                                       ng-model="searchParameters.imageNumber.lookUpType"></selectdefault>
                                    </div>
                                    <div class="col-md-12 medium-padding">
                                        <input type="text" ng-model="searchParameters.imageNumber.name" class="form-control"/>
                                    </div>
                                </div>
                                <div class="row searchCriterion">
                                    <div class="col-md-12  medium-padding">
                                        <b>{{ 'SEARCH.PHOTO_ARCHIVE.AUTHOR' | translate }}</b>
                                        <selectdefault custom-css="searchCriterionType"
                                                       ng-model="searchParameters.authorAgent.lookUpType"></selectdefault>
                                    </div>
                                    <div class="col-md-12 medium-padding">
                                        <autocomplete-field ng-model="searchParameters.authorAgent.name" table="image" en="null" et="author__agent"/>
                                    </div>
                                </div>
                                <div class="row searchCriterion">
                                    <div class="col-md-12  medium-padding">
                                        <b>{{ 'SEARCH.PHOTO_ARCHIVE.IMAGE_SIZE' | translate }}</b>
                                 <!--       <selectexact custom-css="searchCriterionType"
                                                     ng-model="searchParameters.sizeXY1.lookUpType"></selectexact>-->
                                    </div>
                                    <div class="col-md-12 medium-padding">
                                        <interval-field ng-model= "searchParameters.sizeXYSince" lookup="gte"></interval-field >
                                        <interval-field ng-model= "searchParameters.sizeXYTo" lookup="lte"></interval-field >
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div ng-include="'app/templates/search/partial/institution.search.criteria.html'"></div>
                    <div ng-include="'app/templates/search/partial/button.search.html'"></div>
                </form>
            </div>
            <div class="col-sm-9 col-md-9 col-lg-9" bs-loading-overlay bs-loading-overlay-reference-id="searchView" bs-loading-overlay-template-url="app/templates/main/partial/loading.overlay.html">
                <div class="hidden-xs">
                    <div class="row search-hint content" ng-bind-html="main.getContent(main.protoArchiveQuery)" data-ng-if="isHintHidden"></div>
                </div>
          <!--      <div class="table-responsive" data-ng-if="showImages">
                    <div class="col-md-12 medium-padding">
                        <b data-ng-init="totalImages = 0">{{ 'SEARCH.FOUND_IMAGES' | translate }} {{totalImages}} </b>
                    </div>
                    <div class="row" data-ng-repeat="image in response.results">
                        <span>
                            <a href data-ng-click="ctrl.service.openInNewWindow({object:'image',id:image.id})">
                                <first-not-null values="[image.locality__locality, image.locality__locality_en]"/>
                            </a>
                            {{image.author__agent}} {{image.date_taken}}</span>
                        <a href data-ng-click="ctrl.service.openInNewWindow({object:'image',id:image.id})">
                            <show-preview img-url="ctrl.service.composeImageUrl(image)"/>
                        </a>
                    </div>
                </div>-->
                <div class="products-swiper-container" data-ng-if="showImages">
                <div class="cards-container columns">
                    <div class="cards-row five-columns">
                        <div class="products-swiper owl-carousel owl-theme owl-loaded">
                            <div class="owl-stage-outer">
                                <div class="owl-stage pull-left" style="transform: translate3d(0px, 0px, 0px); transition: 0s; width: 6660px;" data-ng-repeat="row in images.rows">
                                    <div class="owl-item active" style="width: 222px; margin-right: 0px;" data-ng-repeat="col in row">
                                        <div data-attr-id="264" class="listing-card  price_50_100 new tag_toprestoran ">
                                            <a href data-ng-click="ctrl.service.openInNewWindow({object:'image',id:col.image.id})">
                                                <div class="product-image-container">
                                                    <show-preview img-url="ctrl.service.composeImageUrl(col.image)" class="product-image" alt=""/>
                                                </div>
                                                <div class="card-details">
                                                    <div class="card-price">
                                                        <a class="card-price" href data-ng-click="ctrl.service.openInNewWindow({object:'image',id:col.image.id})">
                                                            <first-not-null values="[col.image.locality__locality, col.image.locality__locality_en]"/>
                                                        </a>
                                                        {{col.image.author__agent}} {{col.image.date_taken}}</div>
                                                </div>
                                            </a>
                                        </div></div></div></div></div></div></div></div>

                <div non-isolated-include template-path="app/templates/search/image/image_results.html"/>
            </div>
        </div>
    </div>
</section>
<div ng-include="'app/templates/main/partial/contact.html'"></div>
<div ng-include="'app/templates/main/partial/footer.html'"></div>