<div class="panel panel-default">
    <div class="panel-body">
        <div class="row">
            <div class="text-center">
                <h1>Search: Digital Object Identifiers (DOIs)</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="row">
                    <label class="control-label col-md-2">DOI</label>
                    <div class="col-md-3">
                        <selectdefault ng-model = "doiSearch.doi.lookUpType"></selectdefault>
                    </div>
                    <div class="col-md-7">
                        <input type="text" ng-model="doiSearch.doi.name" class="form-control"/>
                    </div>
                </div>
                <div class="row">
                    <label class="control-label col-md-2">Title</label>
                    <div class="col-md-3">
                        <selectdefault ng-model = "doiSearch.title.lookUpType"></selectdefault>
                    </div>
                    <div class="col-md-7">
                        <input type="text" ng-model="doiSearch.title.name" class="form-control"/>
                    </div>
                </div>
                <div class="row">
                    <label class="control-label col-md-2">Published by</label>
                    <div class="col-md-3">
                        <selectdefault ng-model = "doiSearch.publishedby.lookUpType"></selectdefault>
                    </div>
                    <div class="col-md-7">
                        <input type="text" ng-model="doiSearch.publishedby.name" class="form-control"/>
                    </div>
                </div>
                <div class="row">
                    <label class="control-label col-md-2">Year</label>
                    <div class="col-md-3">
                        <selectdefault ng-model = "doiSearch.year.lookUpType"></selectdefault>
                    </div>
                    <div class="col-md-7">
                        <input type="text" ng-model="doiSearch.year.name" class="form-control"/>
                    </div>
                </div>
                <div class="row">
                    <label class="control-label col-md-2">Author</label>
                    <div class="col-md-3">
                        <selectdefault ng-model = "doiSearch.author.lookUpType"></selectdefault>
                    </div>
                    <div class="col-md-7">
                        <input type="text" ng-model="doiSearch.author.name" class="form-control"/>
                    </div>
                </div>
                <div class="row" data-ng-if="showAdditionalCriteria">
                    <label class="control-label col-md-2">Abstract</label>
                    <div class="col-md-3">
                        <selectdefault ng-model = "doiSearch.abstract.lookUpType"></selectdefault>
                    </div>
                    <div class="col-md-7">
                        <input type="text" ng-model="doiSearch.abstract.name" class="form-control"/>
                    </div>
                </div>
                <div class="row">
                    <a href="" data-ng-show="!showAdditionalCriteria" data-ng-click="showAdditionalCriteria = true">Show additional criteria</a>
                    <a href="" data-ng-show="showAdditionalCriteria" data-ng-click="showAdditionalCriteria = false">Hide additional criteria</a>
                </div>
                <div class="row">
                    <label class="col-md-2">Institutions:</label>
                    <label data-ng-repeat="state in departments"><input style="margin: 10px;" type="checkbox" value="{{state.code}}" data-ng-checked="specimensSearch.dbs.indexOf(state.code) > -1" data-ng-click="toggle(state.code)"> {{state.label}} </label>
                </div>
                <div class="row">
                    <label class="control-label col-md-2">Sort by:</label>
                    <div class="col-md-5">
                        <select class="col-md-4 form-control"
                                data-ng-model="doiSearch.content.lookUpType"
                                data-ng-options="option.name for option in sortbyOptions track by option.value">
                            <option value="">-- Choose --</option>
                        </select>
                    </div>
                    <div class="col-md-5">
                        <ascdesc></ascdesc>
                    </div>
                    <div class="row">
                        <div class="col-md-5">
                            <label>
                                Show map: <input type="checkbox" ng-model="showMap"/>
                            </label>
                        </div>
                    </div>
                    <div class="row geo-section-row no-border">
                        <button class="btn btn-default pull-right" data-ng-click="defaultSearch()"><i class="glyphicon glyphicon-erase"></i> Reset form</button>
                        <button class="btn btn-default pull-right" data-ng-click="imageSearch()"><i class="glyphicon glyphicon-picture"></i> Search images</button>
                        <button class="btn btn-default pull-right" data-ng-click="search()">
                            <i class="glyphicon glyphicon-search"></i> Send query</button>
                    </div>
                </div>
            </div>
            <div class="col-md-5">
                DOI IDENTIFIERS

                DOI identifiers are used to create permanent links to various digital objects, such as research datasets or publications. For more information about DOIs and research data see DataCite portal.
                As of 2014 the Estonian geocollections information system SARV is part of DataCite Estonia consortium (datacite.utlib.ee) and acts as data depository for Earth Science research data in Estonia.
                To find particular digital object registered in SARV, and download datasets, specify one or more criteria and then click on DOI number for full details. For global DOI resolving use doi.org.
                Küsimuste korral võta ühendust: Olle Hints, TTÜ Geoloogia Instituut (olle.hints@ttu.ee)
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4">
                <div class="row geo-list-info ">
                    <div class="col-md-6 text-right">
                        <p class="amount">Kokku: {{response.count}}</p>
                    </div>
                </div>
                <table class="table table-bordered table-hover">
                    <thead>
                    <tr>
                        <th>DOI</th>
                        <th>Author</th>
                        <th>Year</th>
                        <th>Title</th>
                        <th>Type</th>
                        <th>DataCite registration</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr style="cursor: pointer; " data-ng-repeat="entity in response.results">
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    </tbody>
                </table>
                <div class="text-right">
                    <uib-pagination boundary-links="true" ng-change="searchByPage()" items-per-page="pageSize" max-size="maxSize" rotate="false" total-items="totalItems" ng-model="pageNum" class="pagination-sm" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></uib-pagination>
                </div>
            </div>
        </div>
    </div>
</div>