<div class="panel panel-default">
    <div class="panel-body">
        <div class="row">
            <div class="col-lg-4">
                <label>Taxon</label>
                <input type="text" class="form-control input-sm"
                       data-ng-model="taxon"
                       data-uib-typeahead="e as entity.taxon for entity in searchService.taxonSearch($viewValue)"
                       data-typeahead-min-length="2"
                       data-typeahead-on-select="taxonSelected($item, $model)"/>
            </div>

        </div>
        <div class="row" data-ng-if="hideFullList">
            <div class="col-lg-4">
                <label>Taxon information : </label>
                <span>{{currenResult.taxon}}</span>
            </div>

            <div class="col-md-12 text-right margin-top-10">
                <button class="btn btn-link" data-ng-click="seachTaxonomy()">Lähtesta otsing</button>
            </div>
        </div>

        <div class="row" data-ng-if="!hideFullList">
            <div class="col-lg-4">
                <div class="row geo-list-info ">
                    <div class="col-md-6 text-right">
                        <!-- Tulemused {{ filter.pageNum * filter.pageSize - filter.pageSize + 1}} - {{ filter.pageNum * filter.pageSize}}, kokku {{filter.totalItems}} -->
                        <p class="amount">Kokku: {{taxonResult.count}}</p>
                    </div>
                </div>
                <table class="table table-bordered table-hover">
                    <thead>
                    <tr>
                        <th>ID</th>
                        <th>TAXON</th>
                        <th>Muudetuse kp</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr style="cursor: pointer; " data-ng-repeat="entity in taxonResult.results" data-ng-click="openTaxonModal(entity)">
                        <td>{{entity.id}}</td>
                        <td>{{entity.taxon}}</td>
                        <td>{{entity.date_changed | date:dateFormat}}</td>
                    </tr>
                    </tbody>
                </table>
                <div class="text-right">
                    <uib-pagination boundary-links="true" ng-change="searchByPage()" items-per-page="pageSize" max-size="maxSize" rotate="false" total-items="totalItems" ng-model="pageNum" class="pagination-sm" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></uib-pagination>
                </div>
            </div>
        </div>
    </div>
</div>