<div class="panel panel-default">
    <div class="panel-body">
        <div class="row">
            <div class="text-center">
                <h1>Search: Samples</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="row" data-ng-if="showAdditionalCriteria">
                    <label class="col-md-2">ID:</label>
                    <div class="col-md-5">
                        <select class="col-md-4 form-control"
                                data-ng-model="sampleSearch.id.lookUpType"
                                data-ng-options="cls.code as cls.label for cls in searchOptions">
                            <option value="">-- Vali --</option>
                        </select>
                    </div>
                    <div class="col-md-5">
                        <input type="text" ng-model="sampleSearch.id.name" class="form-control"/>
                    </div>
                </div>
                <div class="row">
                    <label class="col-md-2">Number:</label>
                    <div class="col-md-5">
                        <select class="col-md-4 form-control"
                                data-ng-model="sampleSearch.sampleNumber.lookUpType"
                                data-ng-options="cls.code as cls.label for cls in searchOptions">
                            <option value="">-- Vali --</option>
                        </select>
                    </div>
                    <div class="col-md-5">
                        <input type="text" ng-model="sampleSearch.sampleNumber.name" class="form-control"/>
                    </div>
                </div>
                <div class="row">
                    <label class="col-md-2">Locality:</label>
                    <div class="col-md-5">
                        <select class="col-md-4 form-control"
                                data-ng-model="sampleSearch.locality.lookUpType"
                                data-ng-options="cls.code as cls.label for cls in searchOptions">
                            <option value="">-- Vali --</option>
                        </select>
                    </div>
                    <div class="col-md-5">
                        <input type="text" ng-model="sampleSearch.locality.name" class="form-control"/>
                    </div>
                </div>
                <div class="row" data-ng-if="showAdditionalCriteria">
                    <label class="col-md-2">Admin. unit:</label>
                    <div class="col-md-5">
                        <select class="col-md-4 form-control"
                                data-ng-model="sampleSearch.country.lookUpType"
                                data-ng-options="cls.code as cls.label for cls in searchOptions">
                            <option value="">-- Vali --</option>
                        </select>
                    </div>
                    <div class="col-md-5">
                        <input type="text" ng-model="sampleSearch.country.name" class="form-control"/>
                    </div>
                </div>
                <div class="row">
                    <label class="col-md-2">Depth (m):</label>
                    <div class="col-md-5">
                        <select class="col-md-4 form-control"
                                data-ng-model="sampleSearch.depth.lookUpType"
                                data-ng-options="cls.code as cls.label for cls in searchOptions">
                            <option value="">-- Vali --</option>
                        </select>
                    </div>
                    <div class="col-md-5">
                        <input type="text" ng-model="sampleSearch.depth.name" class="form-control"/>
                    </div>
                </div>
                <div class="row">
                    <label class="col-md-2">Stratigraphy:</label>
                    <div class="col-md-5">
                        <select class="col-md-4 form-control"
                                data-ng-model="sampleSearch.stratigraphy.lookUpType"
                                data-ng-options="cls.code as cls.label for cls in searchOptions">
                            <option value="">-- Vali --</option>
                        </select>
                    </div>
                    <div class="col-md-5">
                        <input type="text" ng-model="sampleSearch.stratigraphy.name" class="form-control"/>
                    </div>
                </div>
                <div class="row">
                    <label class="col-md-2">bed name / index:</label>
                    <div class="col-md-5">
                        <select class="col-md-4 form-control"
                                data-ng-model="sampleSearch.stratigraphyBed.lookUpType"
                                data-ng-options="cls.code as cls.label for cls in searchOptions">
                            <option value="">-- Vali --</option>
                        </select>
                    </div>
                    <div class="col-md-5">
                        <input type="text" ng-model="sampleSearch.stratigraphyBed.name" class="form-control"/>
                    </div>
                </div>
                <div class="row">
                    <label class="col-md-2">Collector:</label>
                    <div class="col-md-5">
                        <select class="col-md-4 form-control"
                                data-ng-model="sampleSearch.agent.lookUpType"
                                data-ng-options="cls.code as cls.label for cls in searchOptions">
                            <option value="">-- Vali --</option>
                        </select>
                    </div>
                    <div class="col-md-5">
                        <input type="text" ng-model="sampleSearch.agent.name" class="form-control"/>
                    </div>
                </div>
                <div class="row">
                    <label class="col-md-2">Weight (remaining, g):</label>
                    <div class="col-md-5">
                        <select class="col-md-4 form-control"
                                data-ng-model="sampleSearch.mass.lookUpType"
                                data-ng-options="cls.code as cls.label for cls in searchOptions">
                            <option value="">-- Vali --</option>
                        </select>
                    </div>
                    <div class="col-md-5">
                        <input type="text" ng-model="sampleSearch.mass.name" class="form-control"/>
                    </div>
                </div>
                <div class="row" data-ng-if="showAdditionalCriteria">
                    <label class="col-md-2">Storage:</label>
                    <div class="col-md-5">
                        <select class="col-md-4 form-control"
                                data-ng-model="sampleSearch.location.lookUpType"
                                data-ng-options="cls.code as cls.label for cls in searchOptions">
                            <option value="">-- Vali --</option>
                        </select>
                    </div>
                    <div class="col-md-5">
                        <input type="text" ng-model="sampleSearch.location.name" class="form-control"/>
                    </div>
                </div>
                <div class="row" data-ng-if="showAdditionalCriteria">
                    <label class="col-md-2">Species recovered:</label>
                    <div class="col-md-5">
                        <select class="col-md-4 form-control"
                                data-ng-model="sampleSearch.taxon.lookUpType"
                                data-ng-options="cls.code as cls.label for cls in searchOptions">
                            <option value="">-- Vali --</option>
                        </select>
                    </div>
                    <div class="col-md-5">
                        <input type="text" ng-model="sampleSearch.taxon.name" class="form-control"/>
                    </div>
                </div>
                <div class="row" data-ng-if="showAdditionalCriteria">
                    <label class="col-md-2">Species frequency:</label>
                    <div class="col-md-5">
                        <select class="col-md-4 form-control"
                                data-ng-model="sampleSearch.frequency.lookUpType"
                                data-ng-options="cls.code as cls.label for cls in searchOptions">
                            <option value="">-- Vali --</option>
                        </select>
                    </div>
                    <div class="col-md-5">
                        <input type="text" ng-model="sampleSearch.frequency.name" class="form-control"/>
                    </div>
                </div>
                <div class="row" data-ng-if="showAdditionalCriteria">
                    <label class="col-md-2">Type of analysis:</label>
                    <div class="col-md-5">
                        <select class="col-md-4 form-control"
                                data-ng-model="sampleSearch.analysis.lookUpType"
                                data-ng-options="cls.code as cls.label for cls in searchOptions">
                            <option value="">-- Vali --</option>
                        </select>
                    </div>
                    <div class="col-md-5">
                        <input type="text" ng-model="sampleSearch.analysis.name" class="form-control"/>
                    </div>
                </div>
                <div class="row" data-ng-if="showAdditionalCriteria">
                    <label class="col-md-2">Component analysed:</label>
                    <div class="col-md-5">
                        <select class="col-md-4 form-control"
                                data-ng-model="sampleSearch.component.lookUpType"
                                data-ng-options="cls.code as cls.label for cls in searchOptions">
                            <option value="">-- Vali --</option>
                        </select>
                    </div>
                    <div class="col-md-5">
                        <input type="text" ng-model="sampleSearch.component.name" class="form-control"/>
                    </div>
                </div>
                <div class="row" data-ng-show="showAdditionalCriteria">
                    <label class="col-md-2">Content:</label>
                    <div class="col-md-5">
                        <select class="col-md-4 form-control"
                                data-ng-model="sampleSearch.content.lookUpType"
                                data-ng-options="cls.code as cls.label for cls in searchOptions">
                            <option value="">-- Vali --</option>
                        </select>
                    </div>
                    <div class="col-md-5">
                        <input type="text" ng-model="sampleSearch.content.name" class="form-control"/>
                    </div>
                </div>
                <div class="row">
                    <a href="" data-ng-show="!showAdditionalCriteria" data-ng-click="showAdditionalCriteria = true">Show additional criteria</a>
                    <a href="" data-ng-show="showAdditionalCriteria" data-ng-click="showAdditionalCriteria = false">Hide additional criteria</a>
                </div>
                <div class="row">
                    <label class="col-md-2">Institutions:</label>
                    <label data-ng-repeat="state in departments">
                        <input style="margin: 10px;"
                               type="checkbox"
                               value="{{state.code}}"
                               data-ng-checked="sampleSearch.dbs.indexOf(state.code) > -1"
                               data-ng-click="toggle(state.code)"> {{state.label}}
                    </label>
                </div>
                <div class="row">
                    <label class="col-md-2">Sort by:</label>
                    <div class="col-md-5">
                        <select class="col-md-4 form-control"
                                data-ng-model="sampleSearch.content.lookUpType"
                                data-ng-options="cls.code as cls.label for cls in searchOptions">
                            <option value="">-- Vali --</option>
                        </select>
                    </div>
                    <div class="col-md-5">
                        <select class="col-md-4 form-control"
                                data-ng-model="sampleSearch.content.lookUpType"
                                data-ng-options="cls.code as cls.label for cls in searchOptions">
                            <option value="">-- Vali --</option>
                        </select>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-5">
                        <label>
                            Show map: <input type="checkbox" ng-model="showMap"/>
                        </label>
                    </div>
                </div>
                <div class="row geo-section-row no-border">
                    <button class="btn btn-default pull-right" data-ng-click="defaultSearch()">Reset form</button>
                    <button class="btn btn-default pull-right" data-ng-click="search()">
                        <i class="glyphicon glyphicon-search"></i> Send query</button>
                </div>
            </div>
            <div class="col-md-6">SEARCHING SAMPLES
                Various rock, sediment and soil samples have been collected from drill cores, outcrops and soil sampling points. Such samples may have been analysed for physical and chemical properties, or fossil content, and the corresponding data may have been digitized or are available in old paper archives. The physical samples themselves may or may not have been stored and available for further analysis and research.
                To search samples, specify the criteria of interest. The owner institution of individual samples should be contacted for getting access to the material. Note that some preserved samples may be available only under special conditions and under collaborative research.<ul>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4">
                <div class="row geo-list-info ">
                    <div class="col-md-6 text-right">
                        <p class="amount">Kokku: {{result.count}}</p>
                    </div>
                </div>
                <table class="table table-bordered table-hover">
                    <thead>
                    <tr>
                        <th>ID</th>
                        <th>Inst.</th>
                        <th>Number</th>
                        <th></th>
                        <th>Locality</th>
                        <th>Depth(m)</th>
                        <th></th>
                        <th>Stratigraphy <em>Lithostratigraphy</em></th>
                        <th>Coll</th>
                        <th>Anal.</th>
                        <th>Weight(g)</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr style="cursor: pointer; " data-ng-repeat="entity in result.results">
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    </tbody>
                </table>
                <div class="text-right">
                    <uib-pagination boundary-links="true" ng-change="searchByPage()" items-per-page="pageSize" max-size="maxSize" rotate="false" total-items="totalItems" ng-model="pageNum" class="pagination-sm" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></uib-pagination>
                </div>
            </div>
        </div>

        <!--Not used example stuff-->
        <div class="row"><h1>NOT USED EXAMPLE STUFF</h1></div>
        <div class="row">
            <div class="col-lg-4">
                <label>Taxon</label>
                <input type="text" class="form-control input-sm"
                       data-ng-model="taxon"
                       data-uib-typeahead="e as entity.taxon for entity in searchService.taxonSearch($viewValue)"
                       data-typeahead-min-length="2"
                       data-typeahead-on-select="taxonSelected($item, $model)"/>
            </div>

        </div>
        <div class="row" data-ng-if="hideFullList">
            <div class="col-lg-4">
                <label>Taxon information : </label>
                <span>{{currenResult.taxon}}</span>
            </div>

            <div class="col-md-12 text-right margin-top-10">
                <button class="btn btn-link" data-ng-click="seachTaxonomy()">Default search</button>
            </div>
        </div>

        <div class="row" data-ng-if="!hideFullList">
            <div class="col-lg-4">
                <div class="row geo-list-info ">
                    <div class="col-md-6 text-right">
                        <!-- Tulemused {{ filter.pageNum * filter.pageSize - filter.pageSize + 1}} - {{ filter.pageNum * filter.pageSize}}, kokku {{filter.totalItems}} -->
                        <p class="amount">Kokku: {{taxonResult.count}}</p>
                    </div>
                </div>
                <table class="table table-bordered table-hover">
                    <thead>
                    <tr>
                        <th>ID</th>
                        <th>TAXON</th>
                        <th>Muudetuse kp</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr style="cursor: pointer; " data-ng-repeat="entity in taxonResult.results" data-ng-click="openTaxonModal(entity)">
                        <td>{{entity.id}}</td>
                        <td>{{entity.taxon}}</td>
                        <td>{{entity.date_changed | date:dateFormat}}</td>
                    </tr>
                    </tbody>
                </table>
                <div class="text-right">
                    <uib-pagination boundary-links="true" ng-change="searchByPage()" items-per-page="pageSize" max-size="maxSize" rotate="false" total-items="totalItems" ng-model="pageNum" class="pagination-sm" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></uib-pagination>
                </div>
            </div>
        </div>
    </div>
</div>